<template>
    <div class="app">

      <div class="menu-list">
        <Menus></Menus>
      </div>
       <div class="view-box">
         <div class="nav-menu">
           <NavMenu :label="msg"></NavMenu>
         </div>
         <div class="view-body">
           <router-view></router-view>
         </div>
         <div class="login-footer">
           © 2017 STAR.STORE
         </div>
       </div>
    </div>
</template>

<script>
    import NavMenu from './NavMenu';
    import Menus from './Menu';
    export default {
        name: 'app',
        components: {
            NavMenu,
            Menus
        },
        data() {
            return {
                navactive:false,
                msg: '',
                styleObject: {
                    height: window.innerHeight + 'px',
                    overflow: 'auto'
                },
            }
        },
        created() {
            this.$on('test', function(msg) {
                this.msg = msg;
            })
        },
        methods: {
        }
    }
</script>

<style>
    body,html{
      height:100%;
      background-color: #fff;
    }
    body{
      padding:0;
      margin:0;
    }
    #app {
        font-family: 'Microsoft YaHei', Helvetica, 'Avenir', Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
        height:100%;
        overflow: hidden;
    }
    .app {
       height:100%;
       position:relative;
       display:flex;
    }
    .view-box{
      min-width:400px;
      flex:1;
      display: flex;
      flex-direction: column;
    }
    .menu-list {
        background-color: #f5f7fa;
        font-size: 16px;
        border-right: solid 1px #ccc;
    }
    .nav-menu {
        padding-left:20px;
        position: relative;
        height:60px;
    }
    .view-body {
        margin-bottom:40px;
        padding:20px 20px;
        overflow: auto;
        font-size: 14px;
        flex:1;
    }
    .login-footer {
      border-top: solid 1px #ccc;
      text-align: left;
      position: fixed;
      height: 40px;
      line-height: 40px;
      bottom: 0px;
      padding-left:40%;
      width:100%;
      color: #000;
      box-sizing: border-box;
    }
</style>
