<template>
    <div class="register-newuser">
        <div class="register-newuser-container">
            <h1>修改密码</h1>
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                <el-form-item label="旧密码" prop="pass">
                    <el-input type="password" v-model="ruleForm.pass" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="新密码" prop="checkPass">
                    <el-input type="password" v-model="ruleForm.checkPass" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="submitForm('ruleForm')">提交修改</el-button>
                    <el-button @click="goBack">返回</el-button>
                </el-form-item>
            </el-form>
        </div>  
	</div>
</template>

<script>
    export default {
        data() {
            return {
                ruleForm: {
                    name: '',
                    pass: '',
                    checkPass: ''
                },
                rules: {
                    pass: [
                        { required: true, message: '请输入旧置密码', trigger: 'blur' },
                        { min: 6, max: 11, message: '长度在 6 到 11 个字符', trigger: 'blur' }
                    ],
                    checkPass: [
                        { required: true, message: '请输入新密码', trigger: 'blur' },
                        { min: 6, max: 11, message: '长度在 6 到 11 个字符', trigger: 'blur' },
                        { validator: (rule, value, callback)=>{
                            if (value === '') {
                                callback(new Error('请再次输入密码'));
                            } else if (value !== this.ruleForm.pass) {
                                callback(new Error('两次输入密码不一致!'));
                            } else {
                                callback();
                            }
                        }, trigger: 'blur' }
                    ],
                    
                }
            }
        },
        methods: {
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {});
                this.$notify.success({
                    title: '',
                    message: '修改密码成功'
                });
                this.$refs[formName].resetFields();
                this.$router.push('/app/star');
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            goBack(){
                this.$router.go('-1'); 
            }
        }
    }
</script>

<style>
    .register-newuser{
        padding: 20px 180px;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(1, 1, 1, .2);
    }
    .register-newuser-container{
        width: 40%;
        margin: 10% auto;
        border: 1px solid #ccc;
        border-radius: 15px;
        background-color: #fff;
        padding: 0px 30px;
        height: 50%;
        overflow: auto;
    }
    .register-newuser-container > h1{
        text-align: center;
    }
</style>