<template>
  <div class="login-box">
		<el-form label-position="top" :model="user" class="demo-form-stacked">
			<h2 style="text-align: center;font-size: 18px;">登录</h2>
			<el-form-item label="用户名">
				<el-input v-model="user.account"></el-input>
			</el-form-item>
			<el-form-item label="密码">
				<el-input v-model="user.password" type="password" @keyup.enter.native="submitForm()"></el-input>
			</el-form-item>
			<el-form-item>
				<el-button type="primary" style="width: 100%;background: #c1272d;border: #c1272d;" @click="submitForm()">登录</el-button>
			</el-form-item>
		</el-form>
	</div>
</template>

<script>
    import store from 'store2';
    import sha1 from 'sha1';
    import {
        login
    } from '../../apiRequest.js';
    export default {
        data() {
            return {
                user: {
                    account: '',
                    password: ''
                }
            };
        },
        created: function() {
        },
        methods: {
            submitForm() {
                let account = this.user.account;
                let password = sha1(this.user.password);
                login({account:account, password:password}).then((data)=>{
                    if (data.data.code === 0) {
                        localStorage.setItem('token', data.data.msg.token);
                        store.set('user', data.data.msg.user);
                        store.set('name', data.data.msg.user.operation_user_name);
                        this.$router.push('/app/dashBord');
                    } else if (data.data.code === 3) {
                        return Promise.reject('用户名或密码错误');
                    }
                }).catch((e)=>{
                    this.$notify.error('' + e);
                });
            }
        }
    }
</script>

<style scoped>
    .login-box {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #fff;
    }
    .el-form{
      min-width:350px;
    }
    .demo-form-stacked {
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: #f5f7fa;
        padding: 30px;
        border-radius: 10px;
        -webkit-transform: translate(-50%, -70%);
        -moz-transform: translate(-50%, -70%);
        transform: translate(-50%, -70%);
    }
</style>
