<template>
    <div class="left-menu" :class="{'menu-active':isactive}">
        <!--<img src="../../assets/logo.png" class="left-menu-logo">-->
        <div style='padding-left:30px;margin-bottom:50px;'>
          <img :src="logoimg" class="left-menu-logo">
        </div>
        <el-menu id="menu-list"
            class="el-menu-vertical-demo"
            router
            :collapse="isCollapse"
            @select="handleSelect"
            @open="handleOpen"
            @close="handleClose"
            v-if="caret"
        >

             <el-menu-item index="/app/dashBord" style="border-top:solid 1px #ccc;border-bottom:solid 1px #ccc;font-weight:bold;" >
                <i class="fa fa-tachometer fa-fw icon-menu"></i>
                <span>&nbsp;&nbsp;DASHBOARD</span>
             </el-menu-item>
             <el-submenu index="on" :class="{'subindex':isActive.on}">
               <template slot="title" ><div class="padleft" :class="{'colorindex':isColor.on}"><i class="fa fa-file-text fa-fw icon-menu"></i><span slot='title'>&nbsp;&nbsp;Campaign</span></div></template>
               <el-menu-item-group>
                 <el-menu-item class="menuList" index="/app/campaigns">&nbsp;Campaigns</el-menu-item>
               </el-menu-item-group>
             </el-submenu>
              <el-submenu index="tw" :class="{'subindex':isActive.tw}">
                <template slot="title" ><div class="padleft" :class="{'colorindex':isColor.tw}"><i class="fa fa-university fa-fw icon-menu"></i><span>&nbsp;&nbsp;Brand</span></div></template>
                <el-menu-item class="menuList" index="/app/company">&nbsp;Brands</el-menu-item>
              </el-submenu>
              <el-submenu index="th" :class="{'subindex':isActive.th}">
                <template slot="title" ><div class="padleft" :class="{'colorindex':isColor.th}"><i class="fa fa-user-circle-o fa-fw icon-menu"></i><span>&nbsp;&nbsp;Influencer</span></div></template>
                <el-menu-item class="menuList" index="/app/influencerList">&nbsp;Influencers</el-menu-item>
                <el-menu-item class="menuList" index="/app/newinflu">&nbsp;Influencer List</el-menu-item>
              </el-submenu>
              <el-submenu index="fo" :class="{'subindex':isActive.fo}">
                <template slot="title" ><div class="padleft" :class="{'colorindex':isColor.fo}"><i class="fa fa-credit-card fa-fw icon-menu"></i><span>&nbsp;&nbsp;Financial</span></div></template>
                <el-menu-item class="menuList" index="/app/money">&nbsp;Payment</el-menu-item>
                <el-menu-item class="menuList" index="/app/billReport">&nbsp;Bill Report</el-menu-item>
              </el-submenu>
              <el-submenu index="fi" :class="{'subindex':isActive.fi}">
                <template slot="title" ><div class="padleft" :class="{'colorindex':isColor.fi}"><i class="fa fa-cog fa-fw icon-menu"></i><span>&nbsp;&nbsp;Setting</span></div></template>
                <el-menu-item class="menuList" index="/app/systemManage">&nbsp;Account</el-menu-item>
              </el-submenu>
        </el-menu>
        <el-menu
               class="el-menu-vertical-demo over"
               router
               :collapse="isCollapse"
               @open="handleOpen"
               @close="handleClose"
               v-if="!caret"
      >
        <li @click="changeIndex('/app/dashBord')" style="border-top:solid 1px #ccc;border-bottom:solid 1px #ccc;font-weight:bold;" class="relat">
          <i class="fa fa-tachometer fa-fw icon-menu"></i>
        </li>
        <li :class="{'subindex':isActive.on}" class="relat">
          <div class="padleft" :class="{'colorindex':isColor.on}"><i class="fa fa-file-text fa-fw icon-menu"></i></div>
          <ul class="isul animated fadeIn">
            <li class="menuList" @click="changeIndex('/app/campaigns')" >Campaigns</li>
          </ul>
        </li>
        <li :class="{'subindex':isActive.tw}" class="relat">
          <div class="padleft" :class="{'colorindex':isColor.tw}"><i class="fa fa-university fa-fw icon-menu"></i></div>
          <ul class="isul animated fadeIn">
            <li class="menuList" @click="changeIndex('/app/company')">Brands</li>
          </ul>
        </li>
        <li :class="{'subindex':isActive.th}" class="relat">
          <div class="padleft" :class="{'colorindex':isColor.th}"><i class="fa fa-user-circle-o fa-fw icon-menu"></i></div>
          <ul class="isul animated fadeIn">
            <li class="menuList" @click="changeIndex('/app/influencerList')">Influencers</li>
            <li class="menuList" @click="changeIndex('/app/newinflu')">Influencer List</li>
          </ul>
        </li>
        <li :class="{'subindex':isActive.fo}" class="relat">
         <div class="padleft" :class="{'colorindex':isColor.fo}"><i class="fa fa-credit-card fa-fw icon-menu"></i></div>
          <ul class="isul animated fadeIn">
            <li class="menuList" @click="changeIndex('/app/money')">Payment</li>
            <li class="menuList" @click="changeIndex('/app/billReport')">Bill Report</li>
          </ul>
        </li>
        <li :class="{'subindex':isActive.fi}" class="relat">
        <div class="padleft" :class="{'colorindex':isColor.fi}"><i class="fa fa-cog fa-fw icon-menu"></i></div>
          <ul class="isul animated fadeIn">
            <li class="menuList" @click="changeIndex('/app/systemManage')">Account</li>
          </ul>
        </li>
      </el-menu>
        <div class='switch' v-model="isCollapse">
          <i class='el-icon-caret-left' @click='toggle(true)' v-if='caret'></i>
          <i class='el-icon-caret-right' @click='toggle(false)' v-else='caret'></i>
          <span></span>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                isActive:{
                  tw:false,
                  th:false,
                  fo:false,
                  fi:false,
                  on:false
                },
                isColor:{
                  tw:false,
                  th:false,
                  fo:false,
                  fi:false,
                  on:false
                },
                caret:true,
                logoimg:require('../../assets/logo4.png'),
                isactive:false,
                isCollapse: false,
                msg: 'Welcome',
                screenHeight: window.innerHeight - 60 + 'px'
            }
        },
        methods: {
          changeIndex(url){
              this.$router.push(url);
          },
          toggle(data){
            if (data === true) {
              this.caret = false;
              this.isactive = true;
              this.isCollapse = true;
              this.logoimg = require('../../assets/mlogo.png');
            } else {
              this.caret = true;
              this.isactive = false;
              this.isCollapse = false;
              this.logoimg = require('../../assets/logo4.png');
            }
          },
          handleSelect(key, keyPath) {
            let name = keyPath[0];
            for (let i in this.isActive) {
              if (this.isActive[i]) {
                this.isActive[i] = false;
              }
            }
            this.isActive[name] = true;
          },

          handleOpen(key, keyPath) {
            this.isColor[key] = true;
          },
          handleClose(key, keyPath) {
            this.isColor[key] = false;
          }
        }
    }
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .el-menu-vertical-demo:not(.el-menu--collapse) {
      width: 100%;
    }
    /*收缩前样式*/
    .left-menu {
        width:200px;
        text-align: left;
        position:relative;
    }
    /*收缩后样式*/
    .menu-active{
      width:85px;
    }
    .el-menu-demo {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 500;
    }
    .el-menu {
      border-radius: 2px;
      list-style: none;
       position: static;
      margin: 0;
      padding-left: 0;
      background-color: #fff;
    }
    #menu-list {
        width: 100%;
        background-color: #fff;
    }
    .el-menu-item, .el-submenu__title {
      height: 56px;
      line-height: 56px;
      font-size: 14px;
      color: #48576a;
      padding: 0 0px;
      cursor: pointer;
      position: relative;
      transition: border-color .3s, background-color .3s, color .3s;
      box-sizing: border-box;
      white-space: nowrap;
    }
    .el-menu li {
        box-sizing: border-box;
    }
    .el-menu-item-group__title {
      padding-top: 0px !important;
      line-height: normal;
      font-size: 14px;
      padding-left: 20px;
      color: #97a8be;
    }
    .el-menu-item{
        margin: 10px 0;
       background:#f5f7fa;
    }
    .el-menu-item:first-child {
        /*margin-left: -2%;*/
        padding-left: 0;
    }
    .left-menu-logo {
        display: block;
        width: 80%;
        margin-top:46px;
    }
    .el-submenu{
      border-bottom:solid 1px #ccc !important;
    }
    .icon-menu {
        color: #c1272d;
    }
    .el-menu-item{
      margin:0 !important;
    }
    .menuList{
      color:#424546;
      font-size:14px;
      padding-left:50px;
    }
    .menuList:hover{
      background:#ceedf9;
      color:#000;
    }
    .over .relat{
      cursor:pointer;
      position:relative;
      height:56px;
      line-height:56px;
      text-align:center;
      border-bottom:solid 1px #ccc;
    }
    .over .relat:hover .isul{
      display:block;
    }
    .isul:hover{
      display:block;
    }
    .over .isul{
      border:solid 1px #ccc;
      background:#f5f7fa;
      display:none;
      padding:0;
      position:absolute;
      top:0;
      left:101%;
      width:150px;
      z-index:1000;
    }
    .over .menuList{
      cursor:pointer;
      height:56px;
      padding-left:0;
      line-height:56px;
      width:100%;
      text-align:center;
    }
    .el-submenu__title {
      padding-left:40px !important;
      position: relative;
    }
    .el-menu--collapse {
      width: 85px;
      height:100%;
    }
    .el-menu--collapse .el-submenu .el-menu {
      position: absolute;
      margin-left: 5px;
      top: 0;
      left: 85px;
      background:#f5f7fa;
      z-index: 9999;
    }
  .switch{
    height:20px;
    font-size: 20px;
    color: #20b9f5;
    margin-top: 25%;
    position: relative;
  }
  .switch i{
    position:absolute;
    cursor: pointer;
    display: block;
    width:100%;
    text-align:center;
    z-index:100;
  }
  .switch span{
    position: absolute;
    width: 165%;
    right: 0;
    display: block;
    height: 0px;
    border: dashed 1px #999;
    top: 50%;
  }
  .subindex{
    border-left:solid 5px #20b9f5;
    background:#ceedf9;
  }
  .colorindex{
    color:#c1272d;
  }
    .el-menu--collapse .padleft{
    padding-left:15px;
  }
    .el-menu-item-group>ul{
      overflow:hidden;
    }
</style>
