<template>
  <div class="hello">
    <div class='after'></div>
    <el-menu  style="width:100%;" default-active="/app/star" class="el-menu-demo" mode="horizontal" @select="handleSelect">
      <div style="line-height:60px;">
        <span style="font-weight:600;color:#4e4b4b;font-size:18px;font-family:'微软雅黑' ">{{label}}</span>
        <div class='before'></div>
      </div>
      <el-submenu index="5" class="right">
        <template slot="title" style="text-align:center;"><i class="fa fa-user-o fa-fw icon-menu" aria-hidden="true"></i> {{name}}</template>
        <el-menu-item index="/loginOut" style="width:100%;text-align:left;">LOG OUT</el-menu-item>
      </el-submenu>
    </el-menu>
  </div>
</template>

<script>
  import store from 'store2';
  export default {
    data() {
      let name = store('name');
      return {
        msg: 'Welcome',
        name : name
      }
    },
    props: {
      label: ''
    },
    methods: {
      handleIconClick(ev) {},
      handleSelect(key, keyPath) {
        if(key==='/loginOut'){
          localStorage.setItem('token', '');
          store.set('user', {});
          store.set('name', {});
          this.$router.push('/login');
        }
      }
    }
  }
</script>

<style scoped>
  h1,
  h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
  .before{
    width:150px;
    height:0px;
    position:absolute;
    left:0;
    border-bottom:solid 5px #c1272d;
    top:60px;
    z-index:1000;
  }
  .hello {
    width: 100%;
    background-color: #f5f7fa;
  }
  .after{
    width:100%;
    height:0px;
    background:#ccc;
    position:absolute;
    left:0;
    border-bottom:solid 1px #ccc;
    top:60px;
    z-index:1000;
  }
  .right {
    float: right;
    margin:0 20px;
  }
  .el-menu-demo>div{
    float: left;
    height: 60px;
    width: 300px;
    text-align: left;
    line-height: 60px;
  }
  .el-menu-demo>div>img{
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
  }
  .icon-menu {
    color: #c1272d;
  }
</style>
