<template>
  <div style="margin-top:65px;padding: 0px 25px">
    <div style="border: 1px solid transparent"></div>
    <h3><i class="el-icon-edit"></i> 在线数据</h3>
    <el-row :gutter="0">
      <el-col :lg="5" :md="5" :sm="5" :xs="5">
         <div class="block">
            <el-date-picker
                v-model="value2"
                placeholder="选择日期时间"
                align="left"
                format="yyyy-MM-dd"
                style="width: 100%"
                :picker-options="pickerOptions1">
            </el-date-picker>
        </div>
      </el-col>
      <el-col :lg="4" :md="4" :sm="4" :xs="4">
        <div class="block" style="margin-top: 8px">
            <el-radio class="radio" v-model="radio" label="pb">pb</el-radio>
            <el-radio class="radio" v-model="radio" label="ck">ck</el-radio>
        </div>
      </el-col>
      <el-col :lg="5" :md="5" :sm="5" :xs="5">
        <div class="block">
            <el-form ref="form" :model="form" label-width="0px">
                <el-form-item>
                    <el-select v-model="form.id" filterable placeholder="选择网红" style="width: 100%">
                        <el-option
                            v-for="influencer in influencerData"
                            :label="influencer.influencer_name"
                            :key="influencer.influencer_name"
                            :value="influencer.influencer_id">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-form>
        </div>
      </el-col>
      <el-col :lg="5" :md="5" :sm="5" :xs="5">
        <div class="block">
            <el-button
                icon="search"
                type="info"
                @click="handleIconClick">查看</el-button>
        </div>
      </el-col>
    </el-row>
    <el-row :gutter="0" class="first-row">
      <el-col :lg="24" :md="24" :sm="24" :xs="24" style="padding: 0 0 15px 0">
        <div>
            <el-tag style="width: 100%">{{baseUrl}}</el-tag>
        </div>
        <el-table :data="gridData" border stripe style="width: 100%" v-loading="loading">
            <el-table-column prop="date" width="200" label="time/h"></el-table-column>
            <el-table-column label="quantity">
                <el-table-column
                    prop="picount"
                    sortable
                    label="IOS">
                </el-table-column>
                <el-table-column
                    prop="pacount"
                    sortable
                    label="ANDROID">
                </el-table-column>
                <el-table-column
                    prop="ppcount"
                    sortable
                    label="PC">
                </el-table-column>
            </el-table-column>
        </el-table>
      </el-col>
    </el-row>
  </div>
</template>

<script>
    import {
        getMsgListRequest,
        getInfluencerPid,
        getInfluencer
    } from "../../apiRequest.js";
    import moment from 'moment';
    export default {
        data() {
            return {
                form: {
                    id: ''
                },
                loading: false,
                influencerData: [],
                input: 1,
                value2: new Date(),
                radio: 'pb',
                platForm: 'ios',
                gridData: [],
                baseUrl: '',
                state: '',
                pickerOptions1: {
                    shortcuts: [{
                        text: '今天',
                        onClick(picker) {
                            picker.$emit('pick', new Date());
                        }
                    }, {
                        text: '昨天',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24);
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: '一周前',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', date);
                        }
                    }]
                }
            }
        },
        created: function() {
            this.getInfluenserList();
        },
        methods: {
            handleSelect(item) {
                this.form.id = item.id;
            },
            querySearch(queryString, cb) {
                var restaurants = [];
                this.influencerData.forEach((d, i) => {
                    restaurants.push({
                        value: d.influencer_name,
                        id: d.influencer_id
                    });
                })
                var results = queryString ? restaurants.filter(this.createFilter(queryString)) : restaurants;
                // 调用 callback 返回建议列表的数据
                cb(results);
            },
            createFilter(queryString) {
                return (restaurant) => {
                    return (restaurant.value.indexOf(queryString.toLowerCase()) === 0);
                };
            },
            getDateTime() {
                let date = this.value2;
                let y = date.getFullYear();
                let m = date.getMonth() + 1;
                let d = date.getDate();
                m = m < 10 ? '0' + m : m;
                d = d < 10 ? '0' + d : d;
                return '' + y + '-' + m + '-' + d;
            },
            handleIconClick(ev) {
                this.loading = true;
                if (!this.form.id) {
                    this.loading = false;
                    this.$notify.warning({
                        title: '',
                        message: '请选择网红'
                    });
                } else {
                    getInfluencerPid(this.form.id).then((data) => {
                        let pid = data.data;
                        let influencer_product_id = '';
                        if (pid) {
                            influencer_product_id = pid[0].influencer_product_id;
                        }
                        let date = moment(this.value2).format('YYYY-MM-DD')
                        this.getCustomers(influencer_product_id, date, this.radio, this.platForm);
                    }).catch((response) => {
                        this.$notify.error({
                            title: '错误',
                            message: response.toString()
                        });
                    });
                }
            },
            getCustomers: function(n, d, t, p) {
                this.baseUrl = 'id= ' + n + ' &date= ' + d + ' &type= ' + t + ' &os= ios/android/pc';
                let piobj = {
                    id: n,
                    date: d,
                    type: t,
                    os: 'ios'
                };
                let paobj = {
                    id: n,
                    date: d,
                    type: t,
                    os: 'android'
                };
                let ppobj = {
                    id: n,
                    date: d,
                    type: t,
                    os: 'pc'
                };
                let promisArr = [
                    getMsgListRequest(piobj),
                    getMsgListRequest(paobj),
                    getMsgListRequest(ppobj),
                ];
                Promise.all(promisArr).then((msg) => {
                    let data = [{
                        date: '0-24',
                        picount: 0,
                        pacount: 0,
                        ppcount: 0
                    }];
                    let iosTotal = 0;
                    let androidTotal = 0;
                    let pcTotal = 0;
                    msg[0].data.forEach((m, i) => {
                        iosTotal += m.count * 1;
                        let num = m.date.substr(m.date.length - 2);
                        data.push({
                            date: num * 1 + '-' + (num * 1 + 1),
                            picount: m.count
                        })
                    })
                    msg[1].data.forEach((m, i) => {
                        androidTotal += m.count * 1;
                        data[i + 1].pacount = m.count;
                    })
                    msg[2].data.forEach((m, i) => {
                        pcTotal += m.count * 1;
                        data[i + 1].ppcount = m.count;
                    })
                    data[0].picount = iosTotal;
                    data[0].pacount = androidTotal;
                    data[0].ppcount = pcTotal;
                    this.$notify.success({
                        title: '',
                        message: '查询成功'
                    });
                    this.gridData = data;
                    this.loading = false;
                }).catch((response) => {
                    this.$notify.error({
                        title: '错误',
                        message: response.toString()
                    });
                });;
            },
            getInfluenserList() {
                // 获取网红列表
                getInfluencer().then((data) => {
                    this.influencerData = data.data;
                }).catch((response) => {
                    this.$notify.error({
                        title: '错误',
                        message: response.toString()
                    });
                });
            }
        }
    }
</script>

<style>
    .block {
        margin-bottom: 20px;
        margin-right: 20px;
    }
</style>
