<template>
  <div style="padding: 0px 25px">
      <h3><i class="el-icon-edit"></i> 产品列表</h3>
      <el-table
            :data="pList"
            border
            style="width: 100%">
            <el-table-column
                prop="name"
                width="260"
                label="产品名称">
            </el-table-column>
            <el-table-column
                prop="link"
                label="推广链接">
                <template scope="scope">
                    <el-tag style="margin-top: 10px" type="gray">ios: {{ scope.row.link.ios }}</el-tag>
                    <br>
                    <el-tag type="gray">android: {{ scope.row.link.android }}</el-tag>
                    <br>
                    <el-tag style="margin-bottom: 10px" type="gray">pc: {{ scope.row.link.pc }}</el-tag>
                </template>
            </el-table-column>
            <el-table-column
                prop="editer"
                width="150"
                label="编辑">
                <template scope="scope">
                    <el-button @click="handleClick(scope.$index, scope.row)" size="small">编辑</el-button>
                    <el-button @click="handleRemoveClick(scope.$index, scope.row)" type="danger" size="small">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-dialog title="编辑产品" v-model="isVisible">
            <el-form :model="form" ref="form">
                <el-form-item label="产品名称">
                    <el-input v-model="form.name" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="ios_link">
                    <el-input v-model="form.ios_link" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="android_link">
                    <el-input v-model="form.android_link" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="pc_link">
                    <el-input v-model="form.pc_link" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="isVisible = false">取 消</el-button>
                <el-button type="primary" @click="updata">确 定</el-button>
            </div>
        </el-dialog>
  </div>
</template>

<script>
    import {getProductList, updateProduct, removeProduct} from "../../apiRequest.js";
    export default {
        data() {
            return {
                isVisible: false,
                form: {
                    name: '',
                    ios_link: '',
                    android_link: '',
                    pc_link: '',
                    id: ''
                },
                oldProduct: {
                    name: '',
                    ios_link: '',
                    android_link: '',
                    pc_link: '',
                },
                pList: []
            }
        },
        created(){
            this.getProductList();
        },
        methods: {
            updata(){
                if(this.form.name !== this.oldProduct.name ||
                    this.form.ios_link !== this.oldProduct.ios_link ||
                    this.form.android_link !== this.oldProduct.android_link ||
                    this.form.pc_link !== this.oldProduct.pc_link
                ){
                    updateProduct(this.form).then((data)=>{
                        if(data.data === 'ok'){
                            this.$notify.success({
                                title: 'success',
                                message: '更新成功'
                            });
                            this.isVisible = false;
                            this.getProductList();
                        }
                    }).catch((response)=> {
                        // 错误处理
                        this.$notify.error({
                            title: '错误',
                            message: response.toString()
                        });
                    })
                }else{
                    this.$notify.warning({
                        title: '',
                        message: '没有任何修改'
                    });
                    this.isVisible = false;
                }

            },
            handleClick(index, row){
                this.form.name = row.name;
                this.form.ios_link = row.link.ios;
                this.form.android_link = row.link.android;
                this.form.pc_link = row.link.pc;
                this.form.id = row.pid;
                this.oldProduct.name = row.name;
                this.oldProduct.ios_link = row.link.ios;
                this.oldProduct.android_link = row.link.android;
                this.oldProduct.pc_link = row.link.pc;
                this.isVisible = true;
            },
            handleRemoveClick(index, row){
                this.$confirm('此操作将永久删除该产品, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    });
                    // 请求删除
                    removeProduct(row.pid).then((msg)=>{
                        if(msg.data === 'ok'){
                            this.$notify.success({
                                title: 'success',
                                message: '删除成功'
                            });
                            this.getProductList();
                        }
                    }).catch((response)=> {
                        // 错误处理
                        this.$notify.error({
                            title: '错误',
                            message: response.toString()
                        });
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            getProductList(){
                // 异步请求列表
                getProductList().then((data)=>{
                    let arr = [];
                    data.data.forEach((p, i)=>{
                        arr.push(
                            {
                                name: p.product_name,
                                link: {
                                    ios: p.product_ios_link,
                                    android: p.product_android_link,
                                    pc: p.product_pc_link
                                },
                                pid: p.product_id
                            }
                        )
                    })
                    this.pList = arr;
                }).catch((response)=> {
                    // 错误处理
                    this.$notify.error({
                        title: '错误',
                        message: response.toString()
                    });
                })
            }
        }
    }
</script>
