<template>
  <div style="padding: 0px 25px">
      <h3><i class="el-icon-edit"></i>注册网红</h3>
      <el-form ref="form" :model="form" :rules="rules" label-width="100px">
        <el-form-item label="网红名称" prop="name">
          <el-input placeholder="请输入内容" v-model="form.name">
            <template slot="prepend">Http://</template>
            <template slot="append">.star.store</template>
          </el-input>
        </el-form-item>
        <el-form-item label="关联产品">
          <el-select v-model="form.pid" placeholder="请选择产品" style="width: 100%">
            <el-option
              v-for="prodct in pruductData"
              :key="prodct.product_name"
              :label="prodct.product_name"
              :value="prodct.product_id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit('form')">立即创建</el-button>
          <el-button @click="onReset">重置</el-button>
        </el-form-item>
      </el-form>
  </div>
</template>

<script>
  import {getProductList, registerInfluencer, registerInfluencerLink} from "../../apiRequest.js";
  export default {
    data() {
      return {
        form: {
          name: '',
          pid: ''
        },
        prepend: 'Http://',
        append: '.star.store',
        pruductData: [],
        rules: {
          name: [
            { required: true, message: '请输入网红名称', trigger: 'blur' },
            { min: 1, max: 40, message: '长度在 1 到 40 个字符', trigger: 'blur' }
          ]
        }
      }
    },
    created(){
      // 获取产品信息
      this.getProductList();
    },
    methods: {
      onSubmit(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {} else {return false;}
        });
        if(this.form.name && this.form.pid){
          let obj = {
            name: this.form.name.trim().toLowerCase( )
          }
          registerInfluencer(obj).then((data)=>{
            if((data.data+'').indexOf('unique')!=-1){
                this.$notify({
                  message: '该产品已存在，请重新注册'
                });
                this.onReset();
                return
            }
            let influencer_id = 0;
            if(data.status === 200){
              influencer_id = data.data;
              this.$notify({
                title: '成功',
                message: '网红创建成功',
                type: 'success'
              });
              if(this.form.pid){
                let linkPrduct = {
									influencer_id: influencer_id,
									product_id: this.form.pid
								}
                registerInfluencerLink(linkPrduct).then((data2)=>{
                  if(data2.status === 200){
                    this.$notify({
                      title: '成功',
                      message: '网红关联产品成功',
                      type: 'success'
                    });
                    this.form.name = '';
										this.form.pid = '';
                  }
                }).catch((response)=> {
                  this.$notify.error({
                    title: '错误',
                    message: response.toString()
                  });
                });
              }
            }
          }).catch((response)=> {
            this.$notify.error({
              title: '错误',
              message: response.toString()
            });
          });
        }else{
          this.$notify.warning({
            title: '',
            message: this.form.name ? '请选择关联产品' :'输入网红的名称'
          });
        }
      },
      onReset(){
          this.form.name = '';
          this.form.pid = '';
      },
      getProductList(){
        // 异步请求列表
        getProductList().then((data)=>{
          let arr = data.data;
					this.pruductData = arr;
        }).catch((response)=> {
          // 错误处理
          this.$notify.error({
            title: '错误',
            message: response.toString()
          });
				})
      }
    }
  }
</script>
