<template>
  <div style="padding:25px">
      <h3><i class="el-icon-edit"></i>注册产品</h3>
      <el-form ref="form" :model="form" label-width="0px">
        <el-form-item label="">
          <el-input placeholder="请输入产品名称" v-model="form.name"></el-input>
        </el-form-item>
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span style="line-height: 36px;">推广链接</span>
            <el-button style="float: right;" type="primary" @click="changeType">{{type}}</el-button>
          </div>
          <div v-if="type === '高级'">
            <el-input placeholder="请输入ios产品推广链接" v-model="form.ios_link"></el-input>
            <div style="height: 20px"></div>
            <el-input placeholder="请输入android产品推广链接" v-model="form.android_link"></el-input>
            <div style="height: 20px"></div>
            <el-input placeholder="请输入pc产品推广链接" v-model="form.pc_link"></el-input>
          </div>
          <div v-if="type === '普通'" class="new-type-url">
            <el-card class="box-card" v-for="i in num" style="margin: 10px;" :key="i">
              <div slot="header" class="clearfix">
                <el-select v-model="i.countryValue" filterable placeholder="请选择国家">
                  <el-option :label="i.countryValue" :value="i.countryValue">
                  </el-option>
                </el-select>
                <el-button style="float: right;" type="primary" @click="removeCountry(i.countryValue)">删除</el-button>
              </div>
              <div>
                <div style="height: 20px"></div>
                <el-input placeholder="请输入ios产品推广链接" v-model="i.ios_link"></el-input>
                <div style="height: 20px"></div>
                <el-input placeholder="请输入android产品推广链接" v-model="i.android_link"></el-input>
                <div style="height: 20px"></div>
                <el-input placeholder="请输入pc产品推广链接" v-model="i.pc_link"></el-input>
              </div>
            </el-card>
            <!--<div style="margin-top:20px;">
                <el-tag
                :key="tag.countryValue"
                v-for="(tag, index) in dynamicTags"
                type= 'primary'
                style="margin-right: 10px;"
                >
                {{tag.countryValue}}
                </el-tag>
            </div>

            <div>
                <el-select v-model="newform.country" filterable placeholder="请选择国家,点击+按钮" style="margin-top:20px;">
                    <el-option
                        v-for="item in options"
                        :label="item.value"
                        :value="item.value">
                    </el-option>
                </el-select>
                <el-button style="border-radius: 50%;" type="primary" @click="addCountryList">+</el-button>
                <el-button style="border-radius: 50%;" type="primary" @click="relistCountry">重置</el-button>
            </div>-->
            <el-button style="float: right; border-radius: 50%;" type="primary" @click="addCountry">+</el-button>
          </div>

          <div style="margin: 20px 0;">
            <el-button type="primary" @click="onSubmit">立即创建</el-button>
            <el-button @click="onReset">重置</el-button>
          </div>
        </el-card>
        <el-dialog title="添加" v-model="dialogVisible" size="small">
          <el-card class="box-card" style="margin: 10px;">
            <div slot="header" class="clearfix">
              <!--<el-select v-model="newform.country" filterable placeholder="请选择国家">
                <el-option
                  v-for="item in options"
                  :label="item.value"
                  :value="item.value">
                </el-option>
              </el-select>-->
              <div>
                <div style="height: 20px"></div>
                <el-input placeholder="请输入ios产品推广链接" v-model="newform.ios_link"></el-input>
                <div style="height: 20px"></div>
                <el-input placeholder="请输入android产品推广链接" v-model="newform.android_link"></el-input>
                <div style="height: 20px"></div>
                <el-input placeholder="请输入pc产品推广链接" v-model="newform.pc_link"></el-input>
              </div>
              <div style="margin-top:20px;">
                <el-tag
                    :key="tag.countryValue"
                    v-for="(tag, index) in dynamicTags"
                    type= 'primary'
                    style="margin-right: 10px;"
                    >
                    {{tag.countryValue}}
                    </el-tag>
                </div>

                <div>
                    <el-select v-model="newform.country" filterable placeholder="请选择国家,点击+按钮" style="margin-top:20px;">
                        <el-option
                            v-for="item in options"
                            :label="item.value"
                            :key="item.value"
                            :value="item.value">
                        </el-option>
                    </el-select>
                    <el-button style="border-radius: 50%;" type="primary" @click="addCountryList">+</el-button>
                    <el-button style="border-radius: 50%;" type="primary" @click="relistCountry">重置</el-button>
                </div>
            </div>

          </el-card>
          <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="confimSelect">确 定</el-button>
          </span>
        </el-dialog>
        <!--<el-form-item label="推广链接">
          <el-input placeholder="请输入ios产品推广链接" v-model="form.ios_link"></el-input>
          <div style="height: 20px"></div>
          <el-input placeholder="请输入android产品推广链接" v-model="form.android_link"></el-input>
          <div style="height: 20px"></div>
          <el-input placeholder="请输入pc产品推广链接" v-model="form.pc_link"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit">立即创建</el-button>
          <el-button @click="onReset">重置</el-button>
        </el-form-item>-->
      </el-form>
  </div>
</template>

<script>
    import {
        registerProduct,
        submitCountryProduct
    } from "../../apiRequest.js";
    import countryList from '../../country.json';
    import _ from 'lodash';
    export default {
        data() {
            return {
                dialogVisible: false,
                dynamicTags: [],
                form: {
                    name: '',
                    ios_link: '',
                    android_link: '',
                    pc_link: ''
                },
                newform: {
                    country: '',
                    ios_link: '',
                    android_link: '',
                    pc_link: ''
                },
                countrys: [],
                type: '高级',
                num: [],
                options: []
            }
        },
        created() {
            countryList.forEach((c, i) => {
                this.options.push({
                    value: c.iso2,
                    label: c.countryName
                })
            })
        },
        methods: {
            handleClose(tag) {
                this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1);
            },
            changeType() {
                this.type = this.type === '高级' ? '普通' : '高级';
            },
            addCountry() {
                this.dialogVisible = true;
                // this.num += 1;
            },
            relistCountry() {
                this.dynamicTags = [];
            },
            addCountryList() {
                if (this.newform.country) {
                    this.dynamicTags.push({
                        countryValue: this.newform.country
                    });
                    this.newform.country = '';
                } else {
                    this.$notify({
                        title: '',
                        message: '请选择国家',
                        type: 'error'
                    });
                }
            },
            removeCountry(c) {
                let newCountry = [];
                this.num.forEach((n, i) => {
                    if (n.countryValue !== c) {
                        newCountry.push(n);
                    }
                })
                this.num = newCountry;
            },
            confimSelect() {
                if (this.dynamicTags.length === 0) {
                    this.$notify({
                        title: '',
                        message: '请选择国家',
                        type: 'error'
                    });
                } else {
                    this.dynamicTags.forEach((d, i) => {
                        this.num.push({
                            countryValue: d.countryValue,
                            ios_link: this.newform.ios_link,
                            android_link: this.newform.android_link,
                            pc_link: this.newform.pc_link
                        });
                    })
                    this.dialogVisible = false;
                    this.newform.country = '';
                    this.newform.ios_link = '';
                    this.newform.android_link = '';
                    this.newform.pc_link = '';
                    this.dynamicTags = [];
                }
            },
            onSubmit() {
                if (!this.form.name) {
                    this.$notify({
                        title: '',
                        message: '产品名称不能为空',
                        type: 'error'
                    });
                    return;
                }
                if (this.type === '普通' && this.num.length === 0) {
                    this.$notify({
                        title: '',
                        message: '至少选择一个国家',
                        type: 'error'
                    });
                    return;
                }
                let obj = {};
                if (this.type === '高级') {
                    obj = {
                        name: this.form.name,
                        ios_link: this.form.ios_link,
                        android_link: this.form.android_link,
                        pc_link: this.form.pc_link,
                        mode: 0,
                        countrys: []
                    };
                } else {
                    obj = {
                        name: this.form.name,
                        ios_link: '',
                        android_link: '',
                        pc_link: '',
                        mode: 1,
                        countrys: JSON.stringify(this.num)
                    }
                }

                registerProduct(obj).then((data) => {
                    if ((data.data + '').indexOf('unique') != -1) {
                        this.$notify({
                            message: '该产品已存在，请重新注册'
                        });
                        this.onReset();
                    } else {

                        if (data.status === 200) {
                            this.$notify({
                                title: '成功',
                                message: '产品创建成功',
                                type: 'success'
                            });
                            this.onReset();
                        }
                    }
                }).catch((response) => {
                    this.$notify.error({
                        title: '错误',
                        message: response.toString()
                    });
                });
                // this.$notify.warning({
                //     title: '',
                //     message: !this.form.name ? '请输入产品的名称' : this.form.ios_link ? '请输入android产品的推广链接' : '请输入ios产品的推广链接'
                // });
            },
            onReset() {
                this.form.name = '';
                this.form.ios_link = '';
                this.form.android_link = '';
                this.form.pc_link = '';
                this.num = [];
                this.dynamicTags = [];
            }
        }
    }
</script>

<style scoped>
    .new-type-url {
        overflow: hidden;
    }
</style>
