<template>
    <div class="system">
        <div style="margin-bottom:20px;overflow: hidden">
            <el-button @click="addNewAccount" style="float: right;border-radius:5px;background:#20b9f5;border-color:#20b9f5" type="primary">Add</el-button>
        </div>
        <el-card class="box-card">
            <el-table
                :data="tableData"
                class="fontColorTable"
                style="width: 100%">
                <el-table-column
                    prop="operation_user_account"
                    label="Account">
                </el-table-column>
                 <el-table-column
                    prop="operation_user_name"
                    label="Name">
                </el-table-column>
                <el-table-column
                    prop="role"
                    label="Role">
                </el-table-column>
                <el-table-column
                    width="260"
                    label="Operation">
                    <template scope="scope">
                        <el-button
                            size="small"
                            @click="handleEdit(scope.$index, scope.row)">Password</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-card>
      <!--新增账号弹出框-->
        <el-dialog title="Add new account" v-model="dialogFormVisible1" size="small">
            <div class="system-dialog">
                <el-form label-position="left" label-width="80px" :model="form">
                    <el-form-item label="Account：">
                        <el-input style="width:100%;" v-model="form.account"></el-input>
                    </el-form-item>
                     <el-form-item label="Name：">
                        <el-input style="width:100%;" v-model="form.name"></el-input>
                    </el-form-item>
                    <el-form-item label="Role：">
                        <el-select v-model="form.value" placeholder="Select" style="width:100%">

                            <el-option
                            v-if="form.privi == 0"
                            label="Administrator"
                            value="1">
                            </el-option>
                            <el-option
                            label="Publisher Manager"
                            value="2">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-form>
            </div>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible1=false">Cancel</el-button>
                <el-button type="primary" @click="onSubmit()">Submit</el-button>
            </div>
        </el-dialog>
      <!--修改密码弹出框-->
      <el-dialog title="Change Password" :visible.sync="dialogFormVisible" size="small">
        <div class="system-dialog">
          <el-form :model="ruleForm2" :rules="rules2" ref="ruleForm2" label-width="100px" class="demo-ruleForm">
            <el-form-item label="password" prop="pass">
              <el-input type="password" v-model="ruleForm2.pass" auto-complete="off" style="width:100%"></el-input>
            </el-form-item>
            <el-form-item label="Confirm Password" prop="checkPass">
              <el-input type="password" v-model="ruleForm2.checkPass" auto-complete="off" style="width:100%"></el-input>
            </el-form-item>
          </el-form>
        </div>

        <div slot="footer" class="dialog-footer">
          <el-button @click="resetForm('ruleForm2')">Reset</el-button>
          <el-button type="primary" @click="submitForm('ruleForm2')">Submit</el-button>
        </div>
    </el-dialog>
    </div>
</template>

<script>
    import store from 'store2';
    import sha1 from 'sha1';
    import {
        getOperationUserList,
        addOperationUser,
        get_user_pass
    } from '../../../apiRequest.js';
    import Utility from '../../../Utility.js';
    export default {
        name: 'system',
        components: {
        },
        data() {
            var validatePass = (rule, value, callback) => {
              if (value === '') {
                callback(new Error('Please enter the password'));
              } else {
                if (this.ruleForm2.checkPass !== '') {
                  this.$refs.ruleForm2.validateField('checkPass');
                }
                callback();
              }
            };
            var validatePass2 = (rule, value, callback) => {
              if (value === '') {
                callback(new Error('Please enter the password again'));
              } else if (value !== this.ruleForm2.pass) {
                callback(new Error('The password entered twice is inconsistent!'));
              } else {
                callback();
              }
            };
            return {
                row:'',
                ruleForm2: {
                  pass: '',
                  checkPass: '',
                },
                rules2: {
                  pass: [
                    { validator: validatePass, trigger: 'blur' }
                  ],
                  checkPass: [
                    { validator: validatePass2, trigger: 'blur' }
                  ],
                },
                dialogFormVisible1 : false,
                dialogFormVisible : false,
                tableData : [],
                form : {
                    value : ''
                }
            }
        },
        created() {
            this.$parent.$emit('test', 'Account');
            this.refresh();
        },
        methods: {
            refresh() {
                this.tableData = [];
                getOperationUserList().then((data)=>{
                    if (data.data.code === 0) {
                        data.data.msg.forEach(function(e) {
                            e.role = Utility.PriviToRole(e.operation_user_privilege);
                            this.tableData.push(e);
                        }, this);
                    }
                }).catch((err)=>{
                    this.$notify.error('' + err);
                });
            },
            onSubmit() {
                this.dialogFormVisible1 = false;
                addOperationUser({account:this.form.account, username:this.form.name, password:sha1('qwer123'), privi:this.form.value}).then((data)=>{
                    if (data.data.code === 0) {
                        this.$notify.info("Success");
                        this.refresh();
                    } else {
                        Promise.reject(data.data.msg);
                    }
                }).catch((err)=>{
                    this.$notify.error("" + err);
                    return ;
                });
            },
            addNewAccount() {
                this.dialogFormVisible1 = true;
                this.form.privi = store.get('user').operation_user_privilege;
            },
           //修改密码
            handleEdit(index,row){
                this.dialogFormVisible=true;
                this.row=row;
            },
            submitForm(formName) {
              this.$refs[formName].validate((valid) => {
                if (valid) {
                    let row=this.row;
                  get_user_pass({
                    userid:row.operation_user_id,
                    passwd:this.ruleForm2.checkPass
                  }).then((data) => {
                    this.resetForm(formName);
                    if (data.data.code === 0) {
                      this.$notify.info("Success");
                      this.dialogFormVisible=false;
                    } else {
                      Promise.reject(data.data.msg);
                    }
                  }).catch((err)=>{
                    this.$notify.error("" + err);
                    return ;
                  });
                } else {
                  return false;
                }
              });
            },
            closeDialog(formName){
              this.dialogFormVisible=false;
              this.$refs[formName].resetFields();
            },
            resetForm(formName) {
              this.$refs[formName].resetFields();
            }
        }
    }
</script>
<style scoped>
</style>
