<template>
    <div class="addInfluencer">
        <el-form :model="form" label-width="120px" label-position="right" :rules="rules" ref="form">
          <el-collapse accordion>
            <el-collapse-item title="基础信息">
              <div class="body-box">

                <el-form-item label="网红page:" prop="main">
                  <el-input style="width:60%;" v-model="form.main"></el-input>
                </el-form-item>
                <el-form-item label="网红注册时间:" prop="main">
                  <el-input style="width:60%;" v-model="form.main"></el-input>
                </el-form-item>

                <el-form-item label="性别:" prop="sex">
                  <el-select style="width:60%;" v-model="form.sex" placeholder="请选择">
                    <el-option label="男" value="0"></el-option>
                    <el-option label="女" value="1"></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="出生日期:">
                  <el-date-picker
                    v-model="form.birth"
                    type="date"
                    style="width:60%;"
                    format="yyyy-MM-dd"
                    placeholder="选择日期">
                  </el-date-picker>
                  <!--<el-input style="width:60%;" v-model="form.birth"></el-input>-->
                </el-form-item>
                <el-form-item label="地区:" prop="region">
                  <el-select v-model="form.region" placeholder="Location" style="width: 60%">
                    <el-option v-for="(item, index) in countryList" :key="item.label+index" :label="item.label" :value="item.value" class="el-select-item"></el-option>
                  </el-select>
                  <!--<el-input style="width:60%;" v-model="form.region"></el-input>-->
                </el-form-item>
                <el-form-item label="邮箱:" prop="email">
                  <el-input style="width:60%;" v-model="form.email"></el-input>
                </el-form-item>
                <el-form-item label="paypal账户:">
                  <el-input style="width:60%;" v-model="form.account"></el-input>
                </el-form-item>
                <el-form-item label="粉丝量级:" prop="follower">
                  <el-input style="width:30%;" v-model="form.follower"></el-input>
                  <el-select style="width:30%;" v-model="form.rank" placeholder="请选择单位">
                    <el-option label="K" value="0"></el-option>
                    <el-option label="M" value="2"></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item  label="点赞占比(%):">
                  <el-input style="width:60%;" v-model="form.follow"></el-input>
                </el-form-item>
                <el-form-item  label="评论占比(%):">
                  <el-input style="width:60%;" v-model="form.comment"></el-input>
                </el-form-item>
                <el-form-item  label="参与度:">

                </el-form-item>
                <el-form-item label="关键字:">
                  <el-select style="width:60%;" multiple v-model="form.keywords">
                    <el-option label="Shopping" value="Shopping"></el-option>
                    <el-option label="Beauty" value="Beauty"></el-option>
                    <el-option label="Game" value="Game"></el-option>
                    <el-option label="Lifestyle" value="Lifestyle"></el-option>
                    <el-option label="Tools" value="Tools"></el-option>
                    <el-option label="Social" value="Social"></el-option>
                    <el-option label="Education" value="Education"></el-option>
                    <el-option label="Other" value="Other"></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="描述:" prop="desc">
                  <el-input style="width:60%;" type="textarea" v-model="form.desc"></el-input>
                </el-form-item>
              </div>
            </el-collapse-item>
            <el-collapse-item title="社交平台">
              <div class="body-box">
                <el-form-item label="社交平台:" prop="flat">
                  <el-select style="width:60%;"  v-model="form.flat" placeholder="请选择">
                    <el-option v-for="(item, index) in mediaList" :key="item.label+index" :label="item.label" :value="item.value"></el-option>
                  </el-select>
                  <el-checkbox  v-model="form.isMain" >主平台</el-checkbox>
                </el-form-item>
                <el-form-item label="账号:" prop="paccount">
                  <el-input style="width:60%;" v-model="form.paccount"></el-input>
                  <el-button @click="addInfluMore" size="mini">点击继续添加</el-button>
                </el-form-item>
                <el-table
                  :data="platFormList"
                  border
                  style="width: 100%">
                  <el-table-column label="平台" prop="plat" width="180"></el-table-column>
                  <el-table-column prop="amount" label="账号"></el-table-column>
                  <el-table-column label="操作">
                    <template scope="scope">
                      <el-button
                        size="small"
                        type="danger"
                        @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                    </template>
                  </el-table-column>
                </el-table>
              </div>
            </el-collapse-item>
          </el-collapse>
            <div style="text-align:right;margin: 30px 0px 30px;">
                <el-button @click="addInflu" type="primary">提交</el-button>
            </div>
        </el-form>
    </div>
</template>

<script>
    import {
        addInfluencer
    } from '../../../apiRequest.js';
    //   import NavMenu from './NavMenu';
    //   import Menus from './Menu';
    import sha1 from 'sha1';
    import moment from 'moment';
    export default {
        name: 'addInfluencer',
        components: {
            //   NavMenu,
            //   Menus
        },
        data() {
            return {
                form: {
                    name: '',
                    main: '',
                    isV: false,
                    sex: '',
                    birth: '',
                    region: '',
                    email: '',
                    account: '',
                    flat: '',
                    isMain: false,
                    paccount: '',
                    follower: '',
                    rank: '',
                    follow: '',
                    comment: '',
                    keywords: [],
                    desc: ''
                },
                rules: {
                    // name: [
                    //     { required: true, message: '请输入网红名称', trigger: 'blur' }
                    // ],
                    follower: [
                        { required: true, message: '请输入网红粉丝量', trigger: 'blur' }
                    ],
                    main: [
                        { required: true, message: '请输入网红的Page名称', trigger: 'blur' }
                    ],
                    account: [
                        { required: true, message: '请输入网红的账号', trigger: 'blur' }
                    ],
                    email: [
                        { required: true, message: '请输入网红的邮箱', trigger: 'blur' }
                    ],
                    flat: [
                        { required: true, message: '请选择社交平台', trigger: 'change' }
                    ],
                    paccount: [
                        { required: true, message: '请输入社交平台账号', trigger: 'blur' }
                    ],
                    sex: [
                        { required: true, message: '请选择性别', trigger: 'change' }
                    ],
                    region: [
                        { required: true, message: '请选择地区', trigger: 'change' }
                    ],
                    birth: [
                        { type: 'date', required: true, message: '请选择生日', trigger: 'change' }
                    ],
                    keywords: [
                        { type: 'array', required: true, message: '请至少选择一个关键词', trigger: 'change' }
                    ],
                    resource: [
                        { required: true, message: '请选择活动资源', trigger: 'change' }
                    ],
                    desc: [
                        { required: true, message: '请填写描述', trigger: 'blur' }
                    ]
                },
                countryList: [
                    {
                        label: 'USA',
                        value: 'USA'
                    }, {
                        label: 'UK',
                        value: 'UK'
                    }, {
                        label: 'Netherlands',
                        value: 'Netherlands'
                    }, {
                        label: 'France',
                        value: 'France'
                    }, {
                        label: 'Italy',
                        value: 'Italy'
                    }, {
                        label: 'Germany',
                        value: 'Germany'
                    }, {
                        label: 'Brazil',
                        value: 'Brazil'
                    }, {
                        label: 'Mexico',
                        value: 'Mexico'
                    }, {
                        label: 'India',
                        value: 'India'
                    }, {
                        label: 'Canada',
                        value: 'Canada'
                    }, {
                        label: 'Australia',
                        value: 'Australia'
                    }, {
                        label: 'New Zealand',
                        value: 'New Zealand'
                    }, {
                        label: 'Thailand',
                        value: 'Thailand'
                    }, {
                        label: 'Vietnam',
                        value: 'Vietnam'
                    }, {
                        label: 'Others',
                        value: 'Others'
                    }
                ],
                mediaList: [
                    {
                        label: 'Instagram',
                        value: 'Instagram'
                    }, {
                        label: 'Facebook',
                        value: 'Facebook'
                    }, {
                        label: 'Twitter',
                        value: 'Twitter'
                    }, {
                        label: 'Youtube',
                        value: 'Youtube'
                    }, {
                        label: 'Musical.ly',
                        value: 'Musical.ly'
                    }, {
                        label: 'Live.ly',
                        value: 'Live.ly'
                    }
                ],
                platFormList: [],
                submitPlist: []
            }
        },
        created() {
            window.scrollTo(0,0);
            this.$parent.$emit('test', '添加网红');
        },
        methods: {
            addInfluMore(){
                if(!this.form.flat){
                    this.$notify({
                        title: 'warning',
                        message: '请选择平台',
                        type: 'warning'
                    });
                    return;
                }
                if(!this.form.paccount){
                    this.$notify({
                        title: 'warning',
                        message: '请输入平台账号',
                        type: 'warning'
                    });
                    return;
                }
                let obj = {
                    plat: this.form.flat,
                    amount: this.form.paccount,
                };
                let platList = {
                    account: this.form.paccount,
                    platform: 0
                }
                // Facebook 0  -- Instagram 1 -- Twitter 2 -- Musical.ly 3 -- Live.ly 4 -- Youtube 5 --
                if (this.form.flat === 'Instagram') {
                    platList.platform = 1;
                } else if (this.form.flat === 'Youtube') {
                    platList.platform = 5;
                } else if (this.form.flat === 'Facebook') {
                    platList.platform = 0;
                } else if (this.form.flat === 'Twitter') {
                    platList.platform = 2;
                } else if (this.form.flat === 'Musical.ly') {
                    platList.platform = 3;
                } else if (this.form.flat === 'Live.ly') {
                    platList.platform = 4;
                }
                this.submitPlist.push(platList);
                this.platFormList.push( obj );
                // this.form.flat = '';
            },
            handleDelete(index, row){
                this.platFormList.splice(index, 1);
                this.submitPlist.splice(index, 1);
            },
            addInflu() {
                this.$refs['form'].validate((valid) => {
                    if (valid) {
                        let influObj = {
                            influencer_user_password: sha1('qwer123'),
                            influencer_user_name: this.form.name,
                            is_v: this.form.isV ? '1' : '0',
                            influencer_user_page: this.form.main,
                            influencer_user_sex: this.form.sex,
                            influencer_user_birthday: moment(this.form.birth).format('YYYY-MM-DD'),
                            influencer_user_country: this.form.region,
                            influencer_user_email: this.form.email,
                            influencer_user_paypal: this.form.account,
                            influencer_user_platform: this.form.flat,
                            influencer_user_active: this.form.isMain ? '1' : '0',
                            influencer_user_account: this.form.account,
                            influencer_user_fansnum: this.form.follower,
                            influencer_user_fansunit: this.form.rank,
                            influencer_user_keywords: this.form.keywords.join(','),
                            influencer_user_desc: this.form.desc,
                            platforms: JSON.stringify(this.submitPlist)
                        };
                        // JSON.stringify(countryJISON),
                        if(!this.form.rank){
                            this.$notify({
                                title: 'warning',
                                message: '请选择粉丝量级单位',
                                type: 'warning'
                            });
                            return;
                        }
                        addInfluencer(influObj).then((data) => {
                            if (data.data.code === 0) {
                                this.$notify({
                                    title: 'success',
                                    message: '添加成功！',
                                    type: 'success'
                                });
                                this.$router.push('/app/influencerList');
                            }
                        }).catch((res) => {
                            this.$notify.error({
                                title: 'error',
                                message: res
                            });
                        });
                    } else {
                        return false;
                    }
                });
            }
        }
    }
</script>

<style scoped>
    span {
        font-size: 14px;
        color: #48576a;
    }
</style>
