<template>
    <div class="campaign-details">
        <div class="take-campaign-details">
            <!--<el-button type="text" class="back-list-btn"  @click="onClick('back')">
                <i class="fa fa-arrow-circle-left fa-3x" style="color:#a161c9;" aria-hidden="true"></i>
            </el-button>-->
            <el-row :gutter="0">
                <el-col :span="4">
                    <div class="grid-content">
                        <div class="take-campaign-details-logo">
                            <img :src="detailsObj.logo" alt="logo" style="width:100%;">
                        </div>
                    </div>
                </el-col>
                <el-col :span="15">
                    <div class="grid-content">
                        <h1>{{detailsObj.name}}</h1>
                        <h3>Page: {{detailsObj.page}}</h3>
                        <p>{{detailsObj.desc}}</p>
                        <el-row class="campaings-card-item-second">
                            <el-col :span="6">
                                <div>CK : {{detailsObj.click}}</div>
                            </el-col>
                            <el-col :span="6">
                                <div>PB : {{detailsObj.activation}}</div>
                            </el-col>
                        </el-row>
                    </div>
                </el-col>
                <el-col :span="5">
                    <div class="grid-content" style="text-align: center;padding-top:40px;">
                        <!--<el-button class="take-btn">STARTED</el-button>-->
                        <el-button type="primary" @click="onClick('add')">POST NEW</el-button>
                    </div>
                </el-col>
            </el-row>
            <div class="platform-list">
                <el-row :gutter="0" v-for="item in postList" :key="'platform'+item.platform">
                    <el-col :span="3">
                        <h4>{{item.platform}}:</h4>
                    </el-col>
                    <el-col :span="21">
                        <p>{{item.feed}}</p>
                    </el-col>
                </el-row>
            </div>
        </div>
        <div class="take-campaign-details">
             <el-row>
                <el-col :span="6">
                    <el-date-picker @change="changeDate" type="date" placeholder="From" v-model="form.start" style="width: 100%;color: #000"></el-date-picker>
                </el-col>
                <el-col :span="1" style="textAlign: center; lineHeight: 36px; fontSize: 20px">-</el-col>
                <el-col :span="6">
                    <el-date-picker @change="changeDate" type="date" placeholder="To" v-model="form.end" style="width: 100%;color: #000"></el-date-picker>
                </el-col>
                <el-col :span="5" :offset="2">
                    <el-select v-model="value" placeholder="select" @change="onChangeItem">
                        <el-option label="Custom" value="0" class="el-select-item"></el-option>
                        <el-option label="Last week" value="7" class="el-select-item"></el-option>
                        <el-option label="Last two week" value="14" class="el-select-item"></el-option>
                        <el-option label="Last 30 days" value="30" class="el-select-item"></el-option>
                        <el-option label="Last 60 days" value="60" class="el-select-item"></el-option>
                        <el-option label="Last 90 days" value="90" class="el-select-item"></el-option>
                    </el-select>
                </el-col>
                <el-col :span="4">
                    <el-button type="primary" style="margin-left: 25px;" @click="onShowMsgList">CHECK</el-button>
                </el-col>
            </el-row>
             <el-table
                :data="tableData"
                border
                v-loading="loading"
                empty-text="No data!"
                height="340"
                style="width: 100%;border-radius: 5px;margin:20px 0;">
                <el-table-column
                    prop="date"
                    label="Date"
                    width="125">
                </el-table-column>
                <el-table-column label="IOS">
                    <el-table-column
                        prop="picount"
                        label="PB">
                    </el-table-column>
                    <el-table-column
                        prop="cicount"
                        label="CK">
                    </el-table-column>
                </el-table-column>
                <el-table-column label="Android">
                    <el-table-column
                        prop="pacount"
                        label="PB">
                    </el-table-column>
                    <el-table-column
                        prop="cacount"
                        label="CK">
                    </el-table-column>
                </el-table-column>
                <el-table-column label="PC">
                    <el-table-column
                        prop="ppcount"
                        label="PB">
                    </el-table-column>
                    <el-table-column
                        prop="cpcount"
                        label="CK">
                    </el-table-column>
                </el-table-column>
            </el-table>
        </div>
    </div>
</template>

<script>
    import echarts from 'echarts';
    import {
        getTakeCampaign,
        getMyTakeCampaign,
        getCkHourly,
        getPbHourly
    } from '../../../apiRequest.js';
    import base from '../../../configUrl.js';
    import store from 'store2';
    import moment from 'moment';
    export default {
        name: 'details',
        data() {
            return {
                msg: {},
                tableData: [],
                tableData2: [],
                loading: false,
                detailsObj: {
                    balance: '',
                    impession: '',
                    click: '',
                    activation: '',
                    logo: '',
                    desc: '',
                    name: '',
                    page: '',
                    video: '',
                    assocId: ''
                },
                value: '',
                form: {
                    start: '',
                    end: ''
                },
                xData: ['1', '2', '3', '4', '5', '6', '7'],
                idata: ['8', '4', '7', '2', '5', '1', '0'],
                cdata: ['4', '3', '0', '9', '6', '2', '4'],
                adata: ['5', '9', '3', '2', '7', '8', '7'],
                dialogFormVisible: false,
                step: {
                    one: true,
                    two: false,
                    three: false
                },
                platformName: '',
                post: {
                    mu: false,
                    yo: false,
                    in: false,
                    tw: false,
                    li: false
                },
                feedUrl: '',
                feeds: [],
                campaignid: '',
                userPag: '',
                influencerId: '',
                associd: '',
                postList: [],
                userPage: ''
            }
        },
        components: {

        },
        created() {
            window.scrollTo(0,0);
        },
        methods: {
            changeDate(value) {
                this.value = '0';
            },
            refresh(id) {
                getMyTakeCampaign({
                    influencer_campaign_assoc_id: id
                }).then((data) => {
                    if (data.data.code === 0) {
                        if (data.data.msg.length > 0) {
                            let msg = data.data.msg[0];
                            this.detailsObj.page = 'http://' + this.userPage + '.star.store';
                            this.detailsObj.name = msg.operation_campaign_name;
                            // this.detailsObj.logo = base.logURL + msg.operation_campaign_logo;
                            this.detailsObj.desc = msg.operation_campaign_desc;
                            this.detailsObj.activation = msg.brand_campaign_action || 0;
                            this.detailsObj.click = msg.brand_campaign_click || 0;
                            this.detailsObj.impession = msg.brand_campaign_imp || 0;
                            this.detailsObj.video = msg.operation_campaign_video;
                            this.detailsObj.assocId = msg.influencer_campaign_assoc_id;
                            // Facebook 0  -- Instagram 1 -- Twitter 2 -- Musical.ly 3 -- Live.ly 4 -- YouTube 5 --
                            data.data.msg.forEach((_msg, index) => {
                                let p = _msg.influencer_campaign_platform;
                                this.postList.push({
                                    platform: p === 0 ? 'Facebook' : p === 1 ? 'Instagram' : p === 2 ? 'Twitter' : p === 3 ? 'Musical.ly' : p === 4 ? 'Live.ly' : 'YouTube',
                                    feed: _msg.influencer_campaign_feed
                                });
                            })
                        }


                    }
                })
            },
            onShowMsgList() {
                this.loading = true;
                let start = moment(this.form.start).format('YYYY-MM-DD');
                let pend = moment(this.form.end);
                let end = moment(this.form.end).format('YYYY-MM-DD');
                if (start === end) {
                    this.$notify.warning({
                        title: '',
                        message: "The start date and end date cann't be the same."
                    });
                    this.form.start = '';
                    this.form.end = '';
                    this.loading = false;
                    return;
                    // end = pend.add(1, 'days').format('YYYY-MM-DD');
                }
                let s = moment(this.form.start);
                let e = moment(this.form.end).format('YYYY-MM-DD');
                let xarr = [start];
                while (true) {
                    let ss = s.add(1, 'days').format('YYYY-MM-DD');
                    xarr.push(ss);
                    if (ss === e) {
                        break;
                    }
                }
                let obj = {
                    id: this.detailsObj.assocId,
                    startdate: start,
                    enddate: end
                };
                let pobj = {
                    id: this.detailsObj.assocId,
                    startdate: start,
                    enddate: end
                };
                getCkHourly(obj).then((data) => {

                    if (data.data.length == 0) {
                        this.loading = false;
                        return;
                    }
                    let newArr = [{
                        date: start + '-' + end,
                        cicount: 0,
                        cacount: 0,
                        cpcount: 0,
                        picount: 0,
                        pacount: 0,
                        ppcount: 0,
                        subData: []
                    }];
                    xarr.forEach((u, i) => {
                        let num = 0;
                        let iosnum = 0;
                        let andnum = 0;
                        let pcnum = 0;
                        let subArr = [];
                        data.data.forEach((d, i) => {
                            let dd = d.date.slice(0, 10);
                            if (dd === u) {
                                if (d.os === 'ios') {
                                    iosnum += d.count;
                                } else if (d.os === 'android') {
                                    andnum += d.count;
                                } else if (d.os === 'pc') {
                                    pcnum += d.count;
                                };
                                subArr.push(d);
                            }
                        });
                        newArr.push({
                            date: u,
                            cicount: iosnum,
                            cacount: andnum,
                            cpcount: pcnum,
                            picount: 0,
                            pacount: 0,
                            ppcount: 0,
                            check: '',
                            subData: subArr
                        });
                    });
                    getPbHourly(pobj).then((data) => {
                        let pit = 0;
                        let pat = 0;
                        let ppt = 0;
                        let cit = 0;
                        let cat = 0;
                        let cpt = 0;
                        newArr.forEach((n, i) => {
                            let pinum = 0;
                            let panum = 0;
                            let ppnum = 0;
                            if (data.data.length > 0) {
                                data.data.forEach((d, i) => {
                                    let t = d.date.slice(0, 10);
                                    if (n.date === t) {
                                        if (d.os === 'ios') {
                                            pinum += d.count;
                                        } else if (d.os === 'android') {
                                            panum += d.count;
                                        } else if (d.os === 'pc') {
                                            ppnum += d.count;
                                        };
                                    }
                                })
                            }
                            n.picount = pinum;
                            n.pacount = panum;
                            n.ppcount = ppnum;
                            pit += n.picount;
                            pat += n.pacount;
                            ppt += n.ppcount;
                            cit += n.cicount;
                            cat += n.cacount;
                            cpt += n.cpcount;
                        });
                        newArr[0].picount = pit + ' (' + ((pit / cit * 100).toFixed('2') + '%)');
                        newArr[0].pacount = pat + ' (' + ((pat / cat * 100).toFixed('2') + '%)');
                        newArr[0].ppcount = ppt + ' (' + ((ppt / cpt * 100).toFixed('2') + '%)');
                        newArr[0].cicount = cit;
                        newArr[0].cacount = cat;
                        newArr[0].cpcount = cpt;
                        this.tableData = newArr;
                        this.loading = false;
                    }).catch((response) => {
                        this.$notify.error({
                            title: '错误',
                            message: response.toString()
                        });
                    })
                }).catch((response) => {
                    this.$notify.error({
                        title: '错误',
                        message: response.toString()
                    });
                })
            },
            onChangeItem(value) {
                if (value * 1 === 0) {

                } else {
                    let end = new Date();
                    let start = new Date();
                    if (value * 1 === 7) {
                        // 近一周
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                    } else if (value * 1 === 14) {
                        // 近两周
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 14);
                    } else if (value * 1 === 30) {
                        // 近一个月
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                    } else if (value * 1 === 60) {
                        // 近两个月
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 60);
                    } else if (value * 1 === 90) {
                        // 近两个月
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                    }
                    this.form.start = start;
                    this.form.end = end;
                    this.onShowMsgList();
                }

            },
            selectPlatform(type) {
                this.changeClick(type);
            },
            changeClick(type) {
                for (let i in this.post) {
                    if (this.post[i]) {
                        this.post[i] = false;
                    }
                }
                this.post[type] = true;
                this.platformName = type === 'yo' ? 'YouTube' : type === 'li' ? 'Live.ly' : type === 'tw' ? 'Twitter' : type === 'in' ? 'Instagram' : type === 'fa' ? 'Facebook' : type === 'mu' ? 'Musical.ly' : '';
            },
            makePostUrl(t) {
                // Facebook 0  -- Instagram 1 -- Twitter 2 -- Musical.ly 3 -- Live.ly 4 -- YouTube 5 --
                let num = t === 'Facebook' ? 0 : t === 'Instagram' ? 1 : t === 'Twitter' ? 2 : t === 'Musical.ly' ? 3 : t === 'Live.ly' ? 4 : 5;
                this.feeds.push({
                    platform: num,
                    feed: this.feedUrl
                });
            },
            onClick(t) {
                if (t === 'back') {
                    this.$router.push('/home/myCampaign');
                } else if (t === 'add') {
                    this.dialogFormVisible = true;

                } else if (t === 'down') {
                    this.$message({
                        type: 'success',
                        message: '开始下载'
                    });
                } else if (t === 'confirm') {

                } else if (t === 'next1') {
                    if (this.platformName) {
                        this.step.one = false;
                        this.step.two = true;
                        this.step.three = false;
                    } else {
                        this.$message.error('Please select one social platform.');
                    }
                } else if (t === 'next2') {
                    this.feedUrl = '';
                    this.step.one = false;
                    this.step.two = false;
                    this.step.three = true;
                } else if (t === 'agign') {
                    if (this.feedUrl) {
                        this.step.one = true;
                        this.step.two = false;
                        this.step.three = false;
                        this.feedUrl = '';
                        this.changeClick();
                        this.makePostUrl(this.platformName);
                    } else {
                        this.$message.error('Fill in the URL of your post.');
                    }
                } else if (t === 'close') {
                    this.dialogFormVisible = false;
                    this.step.one = true;
                    this.step.two = false;
                    this.feedUrl = '';
                    this.platformName = '';
                    this.step.three = false;
                } else if (t === 'submit') {
                    // 请求保存记录
                    if (!this.feedUrl) {
                        this.$message.error('Fill in the URL of your post.');
                        return;
                    }
                    this.makePostUrl(this.platformName);
                    createInfluencerPost({
                        influencer_campaign_assoc_id: this.associd,
                        feeds: JSON.stringify(this.feeds)
                    }).then((data) => {
                        if (data.data.code === 0) {
                            this.dialogFormVisible = false;
                            this.platformName = '';
                            this.feeds = [];
                            this.changeClick();
                            this.step.one = true;
                            this.step.two = false;
                            this.step.three = false;
                            this.postList = [];
                            this.refresh(this.associd);
                        }
                    })
                }
            },
            drawCharts(dom, type) {
                this.chart = echarts.init(document.getElementById(dom));
                this.chart.showLoading();
                if (type === 'line') {
                    this.chart.setOption({
                        title: {
                            text: 'Line',
                            x: 'left'
                        },
                        legend: {
                            data: ['Impression', 'Click', 'Action'],
                            x: 'center',
                            y: 'bottom',
                        },
                        grid: [{
                            left: 30,
                            right: 10,
                            height: '60%'
                        }],
                        tooltip: {
                            trigger: 'axis'
                        },
                        xAxis: {
                            type: 'category',
                            boundaryGap: false,
                            data: this.xData
                        },
                        yAxis: {
                            type: 'value'
                        },
                        series: [{
                            name: 'Impression',
                            type: 'line',
                            data: this.idata
                        }, {
                            name: 'Click',
                            type: 'line',
                            data: this.cdata
                        }, {
                            name: 'Action',
                            type: 'line',
                            data: this.adata
                        }, ]
                    });
                } else {
                    this.chart.setOption({
                        title: {
                            text: 'Pie',
                            x: 'left'
                        },
                        tooltip: {
                            trigger: 'item',
                            formatter: "{a} <br/>{b}: {c} ({d}%)"
                        },
                        legend: {
                            x: 'center',
                            y: 'bottom',
                            data: ['直接访问', '邮件营销', '联盟广告', '视频广告', '搜索引擎', '1', '2', '3', '4', '5']
                        },
                        series: [{
                            name: '访问来源',
                            type: 'pie',
                            radius: ['40%', '60%'],
                            avoidLabelOverlap: false,
                            label: {
                                normal: {
                                    show: false,
                                    position: 'center'
                                },
                                emphasis: {
                                    show: true,
                                    textStyle: {
                                        fontSize: '30',
                                        fontWeight: 'bold'
                                    }
                                }
                            },
                            labelLine: {
                                normal: {
                                    show: false
                                }
                            },
                            data: [{
                                value: 335,
                                name: '直接访问'
                            }, {
                                value: 310,
                                name: '邮件营销'
                            }, {
                                value: 234,
                                name: '联盟广告'
                            }, {
                                value: 135,
                                name: '视频广告'
                            }, {
                                value: 1548,
                                name: '搜索引擎'
                            }, {
                                value: 335,
                                name: '1'
                            }, {
                                value: 310,
                                name: '2'
                            }, {
                                value: 234,
                                name: '3'
                            }, {
                                value: 135,
                                name: '4'
                            }, {
                                value: 1548,
                                name: '5'
                            }]
                        }]
                    });
                }
                this.chart.hideLoading();
            },
        }
    }
</script>

<style scoped>
    .campaign-details {
        /*max-width: 1366px;*/
        margin: 0 auto;
    }

    .back-list-btn {
        position: absolute;
        top: 0px;
        left: 10px;
    }

    .take-campaign-details {
        background-color: #fff;
        /*border-radius: 10px;*/
        position: relative;
        padding: 10px;
        margin-bottom: 5px;
        background-color: #f5f7fa;
    }

    .grid-content>h1 {
        font-size: 28px;
    }

    .download {
        position: absolute;
        left: 10px;
        top: 0;
    }

    .take-campaign-details-logo {
        width: 100%;
        max-width: 200px;
        margin: 0 auto;
    }

    .take-campaign-details-logo>img {
        border-radius: 10px;
        overflow: hidden;
    }

    .take-campaign-details h1 {
        /*text-shadow: 2px 2px 5px #666;*/
        padding-left: 20px;
    }

    .take-campaign-details h2 {
        padding-left: 20px;
        margin-top: 20px;
    }

    .take-campaign-details h3 {
        margin: 20px 0;
        padding-left: 20px;
    }

    .take-campaign-details p {
        font-size: 22px;
        color: #666;
        padding-left: 20px;
    }

    .take-campaign-details p>span {
        padding: 10px;
    }

    .take-campaign-details p>span:last-child {
        color: #333;
        font-size: 24px;
        font-weight: bold;
    }

    .take-btn {
        width: 50%;
    }

    #main-chart1 {
        height: 300px;
        width: 100%;
    }

    .campaings-card-item-second {
        padding-top: 20px;
        text-align: center;
        padding-left: 20px;
    }

    .campaings-card-item-second div {
        text-align: left;
        font-size: 22px;
    }

    .campaings-card-item-second div {
        font-size: 14px;
        color: #999;
    }

    .campaings-card-item-second h2 {
        font-weight: normal;
        margin: 20px 0 0 0;
        padding: 0;
        font-size: 18px;
        color: #333;
    }

    .dialog-step-one {
        text-align: center;
        padding-bottom: 30px;
    }

    .dialog-step-one>h2 {
        margin-bottom: 30px;
    }

    .dialog-step-one>ul {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
    }

    .dialog-step-one-li {
        display: inline-block;
        margin: 10px;
        cursor: pointer;
        border: 1px solid transparent;
        padding: 5px;
    }

    .dialog-step-one>ul>li>img {
        width: 60px;
        display: block;
        margin-bottom: 10px;
    }

    .active {
        color: #20A0FF;
    }

    .activeli {
        border-color: #20A0FF;
    }

    .dialog-step-two>h2 {
        text-align: center;
        margin-bottom: 15px;
    }

    .dialog-step-two-btn {
        text-align: center;
        margin: 20px 0;
    }

    .dialog-step-two>p {
        text-align: center;
        padding: 15px 0;
        margin-bottom: 10px;
        background-color: #20A0FF;
        color: #fff;
    }

    .dialog-step-two-left {
        padding: 14px;
    }

    .dialog-step-two-right {
        padding: 14px;
        /*border: 1px solid #ccc;*/
        /*margin: 10px 0;*/
    }

    .dialog-step-three {
        text-align: center;
    }

    .dialog-step-three>h2 {
        margin-bottom: 30px;
    }

    .dialog-step-three-btn {
        text-align: center;
        margin: 20px 0 30px;
    }

    .platform-list {
        padding: 20px;
    }

    .platform-list h4 {
        font-weight: normal;
        text-align: right;
    }

    .platform-list p {
        /*padding: 0;*/
        font-size: 16px;
        word-wrap: break-word;
        word-break: normal;
    }
</style>
