<template>
  <div class="influencer">
      <div class="view">
        <el-tabs v-model="activeName" @tab-click="handleClick">
          <!--info-->
          <el-tab-pane label="Campaign Info" name="first" style="position:relative">
            <div class='el-form-card' >
              <h1>Product info</h1>
              <!--历史-->
              <div class="history">
                <div class="position-aside" v-for="(c,i) in updateTable" @click="checkhistory(c._id)">
                  {{i===0?'Created':'Updated'}} {{c.operation_campaign_updateat}}
                </div>
              </div>
              <div class="card-box">
                <el-form label-width="130px">
                  <div class='brand-box'>
                    <el-form-item label="Brand Name:" class='min-width-item'>
                      <span>{{braName}}</span>
                    </el-form-item>
                    <el-form-item label="Campaign ID:" class='min-width-item'>
                      <span>{{brandcpid}}</span>
                    </el-form-item>
                    <el-form-item label="Campaign Name:" class='min-width-item'>
                      <span>{{local_campaign_name}}</span>
                    </el-form-item>
                    <el-form-item label="Short Name:" class='min-width-item'>
                      <span>{{shortName}}</span>
                    </el-form-item>
                  </div>
                  <div class='brand-box'>
                    <el-form-item label="Type:" class='min-width-item'>
                      <span>{{type}}</span>
                    </el-form-item>
                    <el-form-item label="Category:" class='min-width-item'>
                      <span>{{category}}</span>
                    </el-form-item>
                  </div>
                  <el-form-item label="Preview Url:">
                    <span>{{prevUrl}}</span>
                  </el-form-item>
                  <el-form-item label="Description:">
                    <span>{{desc}}</span>
                  </el-form-item>
                  <el-form-item label="Logo:">
                    <span><img :src="logo" alt="" style="width:100px;height:100px;"></span>
                  </el-form-item>
                </el-form>
              </div>
            </div>
            <div class='el-form-card'>
              <h1>Settings</h1>
              <div class="card-box">
                <el-form label-width="130px">
                  <div class='brand-box'>
                    <el-form-item label="Campaign Mode:" class='min-width-item'>
                      <span>{{camMode}}</span>
                    </el-form-item>
                    <el-form-item label="Campaign Level:" class='min-width-item'>
                      <span>{{camLevel}}</span>
                    </el-form-item>
                  </div>
                  <div class='brand-box'>
                    <el-form-item label="Device:" class='min-width-item'>
                      <span>{{device}}</span>
                    </el-form-item>
                    <el-form-item label="Validity Period:" class='min-width-item'>
                      <span>{{date1}}-{{date2}}</span>
                    </el-form-item>
                  </div>
                  <div class='brand-box'>
                    <el-form-item label="Social Platform:" class='min-width-item'>
                      <img :src="changeImg(c)" alt=""  v-for="c in socialPlat" style="width:25px;height:25px;margin-right:5px;border-radius:5px;vertical-align:middle;">
                    </el-form-item>
                    <el-form-item label="KPI:" class='min-width-item'>
                      <span>{{kpi}}</span>
                    </el-form-item>
                  </div>
                  <div class='brand-box'>
                    <el-form-item label="Brand:" class='min-width-item'>
                      <span>{{brand}}</span>
                    </el-form-item>
                    <el-form-item label="Influencer:" class='min-width-item'>
                      <span>{{inf}}</span>
                    </el-form-item>
                  </div>
                  <div v-if="inf=='Package'">
                    <div class='brand-box'>
                      <el-form-item label="Influencer Level1:" class='min-width-item'>
                        <span>{{level1}}</span>
                      </el-form-item>
                      <el-form-item label="Influencer Level2:" class='min-width-item'>
                        <span>{{level2}}</span>
                      </el-form-item>
                    </div>
                    <div class='brand-box'>
                      <el-form-item label="Influencer Level3:" class='min-width-item'>
                        <span>{{level3}}</span>
                      </el-form-item>
                      <el-form-item label="Influencer Level4:" class='min-width-item'>
                        <span>{{level4}}</span>
                      </el-form-item>
                    </div>
                    <div class='brand-box'>
                      <el-form-item label="Influencer Level5:" class='min-width-item'>
                        <span>{{level5}}</span>
                      </el-form-item>
                    </div>
                  </div>

                </el-form>
              </div>
            </div>
            <div class='el-form-card' v-if="priceList.ios">
              <h1>IOS Link & Price</h1>
              <div class="card-box" style="padding:0">
                <el-form>
                  <el-form-item label="GEO" style="margin-left:20px;margin-bottom:0;height:40px;line-height:40px;" label-width="120px">
                    <span><i v-for="c in priceList.ios.geo" v-if="c!='Default'">{{c}}</i></span>
                  </el-form-item>
                  <div class="tbody">
                    <div class="tr" v-for="c in priceList.ios.data">
                      <span>{{c.country}}</span>
                      <span style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{c.ios_link}}</span>
                      <span v-if="brand!='Package'">({{priceList.ios.data[0].ios_price_type=="CPS"?((c.ios_price/1000).toFixed(2))+"%":"$"+(c.ios_price/1000).toFixed(2)}})</span>
                      <span v-if="inf!='Package'">({{priceList.ios.data[0].price_type=="CPS"?((c.price/1000).toFixed(2))+"%":"$"+(c.price/1000).toFixed(2)}})</span>
                    </div>
                  </div>
                </el-form>
              </div>
            </div>
            <div class='el-form-card' v-if="priceList.android">
              <h1>Android Link & Price</h1>
              <div class="card-box" style="padding:0 0 40px">
                <el-form>
                  <el-form-item label="GEO" style="margin-left:20px;margin-bottom:0;height:40px;line-height:40px;" label-width="120px">
                    <span><i v-for="c in priceList.android.geo" v-if="c!='Default'">{{c}}</i></span>
                  </el-form-item>
                  <div class="tbody">
                    <div class="tr"  v-for="c in priceList.android.data">
                      <span>{{c.country}}</span>
                      <span style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{c.android_link}}</span>
                      <span v-if="brand!='Package'">({{priceList.android.data[0].android_price_type=="CPS"?((c.android_price/1000).toFixed(2))+"%":"$"+(c.android_price/1000).toFixed(2)}})</span>
                      <span v-if="inf!='Package'">({{priceList.android.data[0].price_type=="CPS"?((c.price/1000).toFixed(2))+"%":"$"+(c.price/1000).toFixed(2)}})</span>
                    </div>
                  </div>
                </el-form>
              </div>
            </div>
            <div class='el-form-card' v-if="priceList.pc">
              <h1>PC Link & Price</h1>
              <div class="card-box" style="padding:0 0 40px">
                <el-form>
                  <el-form-item label="GEO" style="margin-left:20px;margin-bottom:0;height:40px;line-height:40px;" label-width="120px">
                    <span><i v-for="c in priceList.pc.geo" v-if="c!='Default'">{{c}}</i></span>
                  </el-form-item>
                  <div class="tbody">
                    <div class="tr"  v-for="c in priceList.pc.data">
                      <span>{{c.country}}</span>
                      <span style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{c.pc_link}}</span>
                      <span v-if="brand!='Package'">({{priceList.pc.data[0].pc_price_type=="CPS"?((c.pc_price/1000).toFixed(2))+"%":"$"+(c.pc_price/1000).toFixed(2)}})</span>
                      <span v-if="inf!='Package'">({{priceList.pc.data[0].price_type=="CPS"?((c.price/1000).toFixed(2))+"%":"$"+(c.price/1000).toFixed(2)}})</span>
                    </div>
                  </div>
                </el-form>
              </div>
            </div>
            <div class='el-form-card'>
              <h1>Materials for Influencer</h1>
              <div class="card-box">
                <el-form label-width="130px">
                  <div class='brand-box'>
                    <el-form-item label="Caption:">
                      <span>{{capture}}</span>
                    </el-form-item>
                    <el-form-item label="Picture:" >
                      <span><img :src="pics" alt="" style="width:100px;height:100px;"></span>
                    </el-form-item>
                    <el-form-item label="Video:" v-if="video">
                      <span><video :src="video" controls style="width:200px;"></video></span>
                    </el-form-item>
                  </div>
                </el-form>
              </div>
            </div>
          </el-tab-pane>
          <!--influencer-->
          <el-tab-pane label="Influencers" name="second">
            <el-table :data="tableData2" style="width:100%;margin:20px 0;" :height="height">
              <el-table-column type="expand">
                <template scope="props">
                  <el-form label-position="left" inline class="demo-table-expand">
                    <el-form-item label="Taken Date:" class="little-item" >
                      <span>{{props.row.takedate}}</span>
                    </el-form-item>
                    <el-form-item label="Ended Date:" class="little-item" v-if="props.row.enddate">
                      <span>{{props.row.enddate}}</span>
                    </el-form-item>
                    <el-form-item class="little-item">
                      <el-button class="addBtn" @click="addPostUrl()" v-if="props.row.associd">+</el-button>
                    </el-form-item>
                    <el-form-item
                      v-for="(domain,index) in feedForm.domains"
                      :key="domain.key"
                      :prop="'domains.' + index + '.value'"
                      style="width:100%"
                    >
                      <div style="width:50%;display: flex;align-items:center;float:left" v-if="domain.isValue">
                        <el-input v-model="domain.value"></el-input><el-button type="primary" @click="submitUrl(domain.value,index,props.row.associd)">OK</el-button>
                      </div>
                      <div style="width:50%;display: flex;align-items:center;float:left" v-if="!domain.isValue">
                        <span >{{domain.value}}</span>
                      </div>
                    </el-form-item>
                    <!--点赞评论观看 posturl-->
                    <div v-for="(o,i) in props.row.social">
                    <el-form-item style="width:100%;position:relative;">
                      <span>{{o.influencer_campaign_feed?o.influencer_campaign_feed:'-'}}</span>
                      <!--删除-->
                      <!--<i class="el-icon-close del" @click="delPost(props.row,i,o.influencer_cpassoc_socialmedia_id)"></i>-->
                    </el-form-item>
                    <el-form-item label="Like:" class="little-item">
                      <span>{{o.thumb_up?o.thumb_up:0}}</span>
                    </el-form-item>
                    <el-form-item label="Comment:" class="little-item">
                      <span>{{o.review?o.review:0}}</span>
                    </el-form-item>
                    <el-form-item label="View:" class="little-item">
                      <span>{{o.views?o.views:0}}</span>
                    </el-form-item>
                    </div>
                    <el-form-item label="Ended Note" v-if="props.row.endnote">
                      <span>{{props.row.endnote}}</span>
                    </el-form-item>
                  </el-form>
                </template>
              </el-table-column>
              <el-table-column
                label="Influencer"
                prop="influ">
              </el-table-column>
              <el-table-column
                label="Promotion Link"
                width="300"
                prop="prolink">
              </el-table-column>
              <el-table-column
                label="Click"
                prop="click">
              </el-table-column>
              <el-table-column
                label="UClick"
                prop="uclick">
              </el-table-column>
              <el-table-column
                label="Conversion"
                prop="conversion"
                width="120"
              >
              </el-table-column>
              <el-table-column
                label="Status"
                prop="status">
                <template scope="tags">
                <span
                  :class="tags.row.elcolor"
                >
                  <i class="iconfont" :class="tags.row.tag"></i>
                </span>
                </template>
              </el-table-column>
              <el-table-column
                label="operation"
                prop="Operation">
                <template scope="scope">
                  <i class="iconfont icon-5 elcolor1"></i>
                </template>
              </el-table-column>
            </el-table>
          </el-tab-pane>
          <!--report-->
          <el-tab-pane label="Report" name="third">
            <div class="campaigns-input-box">
              <el-select v-model="state1"  placeholder="Influencer Page"  class="min-width-input" @change="changeInflu">
                <el-option
                  v-for="item in influList"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </div>

            <el-card v-if="cpaShow">
              <!--cpa/package-->
              <el-table
                :data="tableData"
                border
                style="width:100%;"
                :default-sort = "{prop: 'date', order:'descending'}"
                :height="height"
              >
                <el-table-column
                  prop="date"
                  label="Date"
                  sortable
                  width="120">
                </el-table-column>
                <el-table-column
                  prop="geo"
                  label="GEO"
                  width="90">
                </el-table-column>
                <el-table-column
                  prop="device"
                  label="Device"
                  width="90"
                >
                </el-table-column>
                <el-table-column
                  prop="click"
                  label="Click"
                  width="90"
                >
                </el-table-column>
                <el-table-column
                  prop="uclick"
                  label="UClick"
                  width="90"
                >
                </el-table-column>
                <el-table-column
                  prop="conversion"
                  label="Conversion"
                  width="120">
                </el-table-column>
                <el-table-column
                  prop="price"
                  label="Influncer Price"
                  width="150"
                >
                </el-table-column>
                <el-table-column
                  prop="cr"
                  label="CR"
                >
                </el-table-column>
                <el-table-column
                  prop="epc"
                  label="EPC"
                >
                </el-table-column>
                <el-table-column
                  prop="revenue"
                  label="Revenue"
                >
                </el-table-column>
              </el-table>

            </el-card>
              <!--cps-->
              <el-table
                v-if="!cpaShow"
                :data="tableDataCps"
                border
                style="width:100%"
                :default-sort = "{prop: 'date', order:'descending'}"
                :height="height"
              >
                <el-table-column
                  prop="date"
                  label="Date"
                  sortable
                  >
                </el-table-column>
                <el-table-column
                  prop="geo"
                  label="GEO"
                 >
                </el-table-column>
                <el-table-column
                  prop="device"
                  label="Device"

                >
                </el-table-column>
                <el-table-column
                  prop="click"
                  label="Click"

                >
                </el-table-column>
                <el-table-column
                  prop="uclick"
                  label="UClick"
                >
                </el-table-column>
                <el-table-column
                  prop="conversion"
                  label="Conversion"
                  width="120">
                </el-table-column>
                <el-table-column
                  prop="price"
                  label="Influncer Price"
                  width="130"
                >
                </el-table-column>
                <el-table-column
                  prop="cpsPrice"
                  label="CPS Price"
                  width="120"
                >
                </el-table-column>
                <el-table-column
                  prop="cr"
                  label="CR"
                >
                </el-table-column>
                <el-table-column
                  prop="revenue"
                  label="Revenue"
                >
                </el-table-column>
              </el-table>
            <!--分页器-->
            <!--<div class="block">-->
            <!--<el-pagination-->
            <!--@size-change="handleSizeChange"-->
            <!--@current-change="handleCurrentChange"-->
            <!--:current-page.sync="currentPage1"-->
            <!--:page-size="sizes"-->
            <!--:total='nums'-->
            <!--layout="total,prev, pager, next, jumper"-->
            <!--&gt;-->
            <!--</el-pagination>-->
            <!--</div>-->
          </el-tab-pane>
        </el-tabs>
      </div>
  </div>
</template>

<script>
  import {
    getCkHourly,
    getPbHourly,
    getCompaigns,
    getbrandList,
    getInfluencerWaleterList,
    getCompaignsList,
    getCompaignDetailsByIdData,
    getNewInfluNum,
    getCampaignDetail,
    getCampaignHistory,
    getCamhisinfo,
    campaignInflu,
    campaignReport,
    cpinvite,
    priveCp,
    addSocial,
    delSocial
  } from '../../../apiRequest';
  import baseurl from '../../../configUrl';
  export default {
    name: 'gardenscapes',
    data() {
      return {
        linkList:[],
        priceList:[],
        updateTable:[],
        update:'',
        create:'',
        activeName: 'first',
        isActive:{
            p:false,
            c:false,
            m:false
        },
//first
        braName:'',
        local_campaign_name:'',
        shortName:'',
        type:'',
        prevUrl:'',
        category:'',
        desc:'',
        logo:'',
        pics:'',
        video:'',
        capture:'',
        camMode:'',
        camLevel:'',
        device:'',
        kpi:'',
        brand:'',
        inf:'',
        date1:'',
        date2:'',
        influ:'',
        prolink:'',
        conversion:'',
        click:'',
        uclick:'',
        status:'',
        operation:'',
        height: window.innerHeight - 60 -20 - 80 - 70 - 10 - 20,
        brandcpid:'',
        brandList:[],
        level1:'',
        level2:'',
        level3:'',
        level4:'',
        level5:'',
//second
        tableData:[],
        tableData2:[],
        tableDataCps:[],
        influList:[],
        feedForm:{
          domains:[]
        },
//third
        cpaShow:true,
        state1:'',
        socialPlat:[]
      }
    },
    created() {
      window.scrollTo(0,0);
      let id = this.$route.params.id;
      //请求campaign数据
      getCampaignDetail({
        campaignid:id
      }).then((data) => {
        this.refresh(data);
      }).then(()=>{
        this.changeSecond();
        this.changeThird();
//        cpinvite({
//          brand_campaign_id:this.brandcpid
//        }).then((data)=>{
//          console.log(data);
//        })
      })
      //请求历史时间
      getCampaignHistory({
        campaignid:id
      }).then((data)=>{
          this.updateTable=data.data.data;
      });
      this.refreshCompanyList();
    },
    methods: {
      refreshCompanyList() {
        getbrandList({
          state: 3
        }).then((data) => {
          if(data.data.code === 0 && data.data.msg.length>0){
            let arr = [];
            data.data.msg.forEach((_msg, index)=>{
              arr.push({
                id: _msg.brand_user_id,
                phone: _msg.brand_company_phone,
                name: _msg.brand_company_name,
                count: _msg.campaign_count,
                label: _msg.brand_company_name,
                value: JSON.stringify(_msg.brand_user_id),
              });
            });
            this.brandList = arr;
          }else{}
        })
      },
      handleClick(){},
      checkhistory(id){
          //请求历史详细信息
        getCamhisinfo({
         _id:id
        }).then((data)=>{
          this.refresh(data);
        })
      },
      //对请求的数据进行处理
      refresh(data){
        let baseMsg = data.data.data;
        this.linkList=baseMsg.operation_country;
        let arr=baseMsg.influ_country_price;
       if(arr.ios){
         arr.ios.data.forEach((c,index)=>{
           c.price_type=this.changeDec(c.price_type);
           this.linkList.forEach((o,i)=>{
             if(o.country==c.country){
               let json={
                 ios_link:o.ios_link,
                 ios_price:o.ios_price,
                 ios_price_type:this.changeDec(o.ios_price_type)
               }
               arr.ios.data[index]=eval('('+(JSON.stringify(arr.ios.data[index])+JSON.stringify(json)).replace(/}{/,',')+')');
             }
           })
         })
       }
       if(arr.android){
         arr.android.data.forEach((c,index)=>{
           c.price_type=this.changeDec(c.price_type);
           this.linkList.forEach((o,i)=>{
             if(o.country==c.country){
               let json1={
                 android_link:o.android_link,
                 android_price:o.android_price,
                 android_price_type:this.changeDec(o.android_price_type)
               }
               arr.android.data[index]=eval('('+(JSON.stringify(arr.android.data[index])+JSON.stringify(json1)).replace(/}{/,',')+')');
             }
           })
         })
       }
      if(arr.pc){
        arr.pc.data.forEach((c,index)=>{
          c.price_type=this.changeDec(c.price_type);
          this.linkList.forEach((o,i)=>{
            if(o.country==c.country){
              let json2={
                pc_link:o.pc_link,
                pc_price:o.pc_price,
                pc_price_type:this.changeDec(o.pc_price_type)
              }
              arr.pc.data[index]=eval('('+(JSON.stringify(arr.pc.data[index])+JSON.stringify(json2)).replace(/}{/,',')+')');
            }
          })
        })
      }
      this.priceList=arr;
        if(data.data.code == 0 && baseMsg){
          try{
            this.cpaShow=baseMsg.price_type==4?false:true;
            this.local_abname=baseMsg.abname;
            this.local_campaign_name=baseMsg.operation_campaign_name;
            this.brandcpid = baseMsg.brand_campaign_id;
            this.shortName=baseMsg.abname;
            this.camId=baseMsg.operation_campaign_id;
            this.camName=baseMsg.operation_campaign_name;
            this.$parent.$emit('test', this.camName);
            this.brandList.forEach((c,i)=>{
                if(c.id==''+baseMsg.brand_user_id){
                    this.braName=c.label;
                }else{}
            })
            this.type = baseMsg.operation_campaign_type;
            this.category = baseMsg.operation_campaign_subtype;
            this.prevUrl = baseMsg.operation_campaign_brurl;
            this.desc = baseMsg.operation_campaign_desc;
            this.logoUrl =baseurl.logURL+ baseMsg.operation_campaign_logo;
            this.logo = baseurl.logURL+baseMsg.operation_campaign_logo;
            this.pics = baseMsg.operation_campaign_pics?baseurl.logURL+baseMsg.operation_campaign_pics.split(',')[0]:'';
            this.video = baseMsg.operation_campaign_video?baseurl.logURL+baseMsg.operation_campaign_video : '';
            this.camMode =baseMsg.distr_mode>0?'open':'private';
            this.camLevel = baseMsg.operation_campaign_level==null?'0':'' + baseMsg.operation_campaign_level;
            this.device = baseMsg.operation_campaign_devices;
            this.date1 = baseMsg.operation_period_start.replace(/-/g,'\/');
            this.date2 = baseMsg.operation_period_end.replace(/-/g,'\/');
            this.socialPlat = baseMsg.operation_campaign_platform.split(',');
            this.kpi = baseMsg.operation_campaign_kpi;
            this.capture = baseMsg.operation_campaign_note;
            this.brand = this.changeDec(baseMsg.brand_price_type);
            this.inf = this.changeDec(baseMsg.influ_price_type);
            if(this.inf=='Package'){
              this.level1 = baseMsg.package_level_list[0].package_price+'';
              this.level2 = baseMsg.package_level_list[1].package_price+'';
              this.level3 = baseMsg.package_level_list[2].package_price+'';
              this.level4 = baseMsg.package_level_list[3].package_price+'';
              this.level5 = baseMsg.package_level_list[4].package_price+'';
            }else{}
          }catch(e){
              console.log(e);
          }
        }
      },
      changeImg(plat){
        switch(plat.toLowerCase()){
          case 'facebook':return require('../../../assets/tw.png');break;
          case 'twitter': return require('../../../assets/in.png');break;
          case 'google+':return require('../../../assets/gg.jpg');break;
          case 'instagram':return require('../../../assets/ins.png');break;
          case 'youtube':return require('../../../assets/mu.png');break;
          case 'live.ly':return require('../../../assets/yo.png');break;
          case 'musical.ly':return require('../../../assets/li.png');break;
          case 'twitch':return require('../../../assets/twitch.jpg');break;
          case 'tumblr':return require('../../../assets/tum.jpg');break;
          case 'snapchat':return require('../../../assets/snap.jpg');break;
          default:break;
        }
      },
      changeDec(device){
          switch(device){
            case 0:return 'CPC';break;
            case 1:return 'CPA';break;
            case 2:return 'Package';break;
            case 3:return 'CPI';break;
            case 4:return 'CPS';break;
            case 5:return 'CPM';break;
            default:break;
          }
      },
      //获取influencer页面信息
      changeSecond(){
          if(this.camMode=='open'){
            campaignInflu({
              brand_campaign_id:this.brandcpid
            }).then((data)=>{
                this.checkData(data);
            })
          }else{
            priveCp({
              brand_campaign_id:this.brandcpid
            }).then((data)=>{
              this.checkData(data);
            })
          }

      },
      checkData(data){
        if(data.data.code===0&&data.data.data){
          let msg=data.data.data;
          let arr=[];
          let influ=[];
          msg.forEach((c,i)=>{
            arr.push({
              influ:c.influencer_user_page?c.influencer_user_page:'-',
              click:c.click?c.click:0,
              uclick:c.uclick?c.uclick:0,
              conversion:c.conversion?c.conversion:0,
              status:c.taked_status,
              prolink:'http://'+c.influencer_user_page+'.star.store/'+c.influencer_campaign_uri,
              social:c.socialmedia,
              takedate:c.createat,
              enddate:c.end_date,
              endnote:c.end_reason,
              associd:c.influencer_campaign_assoc_id,
              socialid:c.influencer_cpassoc_socialmedia_id,
            })
            influ.push({
              label:c.influencer_user_page,
              value:c.influencer_user_id
            })
          })
          this.tableData2=arr;
          this.influList=influ;
          this.tableData2.forEach((c,i)=>{
            switch (c.status){
              case 0:
                this.tableData2[i].tag='icon-end';
                this.tableData2[i].elcolor="elcolor2";
                this.tableData2[i].label="Ended Date:"
                break;
              case 1:this.tableData2[i].tag='icon-zhuangtai';
                this.tableData2[i].elcolor="elcolor1";
                this.tableData2[i].label="Taken Date:"
                break;
              default:break;
            }
          })
        }
      },
      changeThird(){
          if(this.cpaShow){
            campaignReport({
              brand_campaign_id:this.brandcpid,
              influ_id:this.state1
            }).then((data)=>{
              if(data.data.code===0&&data.data.data){
                let msg=data.data.data;
                let arr=[];
                msg.forEach((c,i)=>{
                  try{
                    arr.push({
                      date:c.influencer_campaign_date,
                      geo:c.geo,
                      click:c.influencer_campaign_click,
                      uclick:c.influencer_campaign_uclick,
                      device:c.os,
                      price:(c.influ_price/1000).toFixed(2),
                      conversion:c.influencer_campaign_action,
                      cr:c.influencer_campaign_uclick===0?0:(c.influencer_campaign_action/c.influencer_campaign_uclick*100).toFixed(2)+'%',
                      revenue:(c.influ_price*c.influencer_campaign_action/1000).toFixed(2),
                      epc:(c.influ_price*c.influencer_campaign_action/c.influencer_campaign_click/1000).toFixed(2)
                    })
                  }catch(e){
                    console.log(e);
                  }
                })
                this.tableData=arr;
              }
            })
          }else{
            campaignReport({
              brand_campaign_id:this.brandcpid,
              influ_id:this.state1
            }).then((data)=>{
              if(data.data.code===0&&data.data.data){
                let msg=data.data.data;
                let arr=[];
                msg.forEach((c,i)=>{
                  try{
                    arr.push({
                      date:c.influencer_campaign_date,
                      geo:c.geo,
                      click:c.influencer_campaign_click,
                      uclick:c.influencer_campaign_uclick,
                      device:c.os,
                      price:c.influ_price/1000+"%",
                      cpsPrice:(c.cps_price/1000),
                      conversion:c.influencer_campaign_action,
                      cr:c.influencer_campaign_uclick===0?0:(c.influencer_campaign_action/c.influencer_campaign_uclick*100).toFixed(2)+'%',
                      revenue:(c.influ_price*c.influencer_campaign_action*c.cps_price/(1000*1000*100)).toFixed(2),
                    })
                  }catch(e){
                    console.log(e);
                  }
                })
                this.tableDataCps=arr;
              }
            })
          }

      },
      changeInflu(){
          //刷新数据
          const loading = this.$loading({
            lock: true,
            text: 'Loading',
            spinner: 'el-icon-loading',
            background: 'rgba(0, 0, 0, 0.7)'
          });
          setTimeout(() => {
            loading.close();
          }, 2000);
          this.changeThird();
      },
//      增加posturl
      addPostUrl(){
        this.feedForm.domains.push({
          value:'',
          key:Date.now(),
          isValue:true
        })
      },
      submitUrl(value,index,associd){
        if(value){
          addSocial({
            assoc_id: associd,
            feed: value,
          }).then((data) => {
            if(data.data.code === 0) {
              this.feedForm.domains[index].isValue=false;
            }
          });
        }else{
            this.feedForm.domains.splice(index,1);
        }
      },
      delPost(row,index,id){
        delSocial({
          socialmedia_id:id
        }).then((data)=>{
           if(data.data.code==0){
             let i=this.tableData2.indexOf(row);
             this.tableData2[i].social.splice(index,1);
           }
        })
      }
    }
  }
</script>
<style scoped>
  .history{
    display:flex;
  }
  .position-aside{
    text-align:center;
    width:25%;
    border-radius:8px;
    margin-right:3%;
    height:30px;
    line-height:30px;
    text-align:center;
    color:#fff;
    background:#20b9f5;
    cursor:pointer;
  }
  .position-aside-up{

  }
  .blue{
    background:#20b9f5;
    color:#fff;
  }
  .dashbord-card {
    border:solid 1px #20b9f5;
    display: inline-block;
    height: 34px;
    line-height: 34px;
    padding: 0px 10px;
    cursor: pointer;
    border-radius: 6px;
  }
  .dashbord-card>h3 {
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 16px;
    font-weight: 500;
  }
  .demo-table-expand {
    font-size: 0;
    background:#f5f7f9;
  }
  .demo-table-expand label {
    width: 90px;
    color: #000;
  }
  .demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
  }
  .demo-table-expand .little-item{
    width:30%;
  }
  .thead p{
    margin:0;
  }
  .thead{
    width:100%;
    margin:0;
    background:#fff;
    height:40px;
    line-height:40px;
  }
  .thead .table-left{
    width:70%;
    float:left;
  }
  .thead .table-left p{
    margin-left:120px;
  }

  .thead p{
    padding-left:20px;
    text-align:left;
  }
  .thead .table-right{
    width:30%;
    float:left;
  }
  .tbody{
    width:100%;
    background: #fff;
    overflow: hidden;
  }
  .tbody span{
    text-align:left;
    padding-left:20px;
    box-sizing: border-box;
    display: block;
    float:left;
    height:40px;
    line-height:40px;
  }
  .tbody .tr{
    height:40px;
    width:100%;
    line-height:40px;
  }
  .tr span:nth-child(1){
    width:120px;
    max-width:12.5%;
  }
  .tr span:nth-child(2){
    width:50%;
  }
  .tr span:nth-child(3){
    width:7%;
  }
  .tr span:nth-child(4){
    width:30%;
    float:right;
  }
  .campaigns-input-box{
    margin:20px 0;
    display: flex;
    justify-content: space-between;
  }
  .min-width-input{
    width:30%;
  }
  .min-button{
    background:#20b9f5;
    margin-left:10px;
  }
  .card-box{
    padding:0px 20px;
    background:#f5f7fa;
  }
  .min-width-item{
    width:48% !important;
  }
  .min-width-item:nth-child(even){
    margin-right:0;
    float:right;
  }
  .min-width-item:nth-child(odd){
    float:left;
  }
  .thead p{
    margin:0;
  }
  .thead{
    width:100%;
    margin:0;
    background:#fff;
    height:40px;
    line-height:40px;
  }
  .thead .table-left{
    width:70%;
    float:left;
  }
  .thead .table-left p{
    margin-left:120px;
  }
  .thead p{
    padding-left:20px;
    text-align:left;
  }
  .thead .table-right{
    width:30%;
    float:left;
  }

  .tbody{
    width:100%;
    background: #fff;
    overflow: hidden;
  }
  .tbody .tr{
    height:40px;
    width:100%;
    line-height:40px;
  }
  .tr span:nth-child(1){
    width:120px;
  }
  .tr span:nth-child(2){
    width:50%;
  }
  .tr span:nth-child(4){
    width:30%;
    float:right;
  }
  .min-width-item{
    width:50% !important;
  }
  .min-width-item:nth-child(even){
    margin-right:0;
    float:right;
  }
  .min-width-item:nth-child(odd){
    float:left;
  }
  .el-form-card h1 {
    margin-top:0px;
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 0px;
    line-height: 30px;
    background: #ceedf9;
  }
  .el-form-card:first-child h1{
    margin-top:20px;
  }
  .brand-box{
    width:100%;
    overflow: hidden;
    margin-right:25px;
  }
  .card-box span i{
    font-style:normal;
    padding-right:10px;
  }
  .elcolor1{
    color:#c1272d;
  }
  .elcolor2{
    color:#ccc;
  }
  .addBtn{
    position: absolute;
    right: 20%;
    width: 30px;
    height: 30px;
    color: #fff;
    background: #c1272d;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    margin: 0;
    border:none;
  }
  .addBtn:hover{
    border:none;
  }
  .del{
    float:right;font-size:12px;color:#ccc;
    cursor:pointer;
  }
</style>
