<template>
    <div class="influencer">
        <div style="margin-bottom:20px;">
          <el-input
            placeholder="搜索网红"
            icon="search"
            v-model="state2"
            :on-icon-click="handleIconClick"
            style="width:25%;margin-right:20px;"
          >
          </el-input>
          <el-input
            placeholder="搜索邮件"
            icon="search"
            v-model="state3"
            :on-icon-click="handleIcon"
            style="width:25%;margin-right:20px;"
          >
          </el-input>
          <el-select v-model="valuePM" filterable placeholder="请选择PM" @change="selectPM" style="width:25%;margin-right:20px;">
            <el-option
              v-for="item in options1"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
          <el-button @click="addInfluencer" style="float: right;border-radius:5px;background:#20b9f5;border-color:#20b9f5;" type="primary">Add</el-button>
          <i class="iconfont icon-yaoqing1" @click="dialogFormVisible=true"></i>
        </div>
        <el-card class="box-card" style="background-color:#f5f7fa;">
            <el-table :data="tableData" style="width: 100%;" :height="height">
                <el-table-column
                    prop="influencer"
                   width="280"
                    label="网红主页">
                </el-table-column>
                <el-table-column
                  prop="em"
                 width="280"
                  label="Emails">
                </el-table-column>
                <el-table-column
                    prop="pb"
                    width="80"
                    label="Conv">
                </el-table-column>
                <el-table-column
                    prop="ck"
                    width="80"
                    label="Clicks">
                </el-table-column>
                <el-table-column
                    prop="op_name"
                    width="100"
                    label="PM">
                </el-table-column>
                <el-table-column
                    prop="createdat"
                    label="注册时间">
                </el-table-column>
                <el-table-column
                    prop="amount"
                    width="100"
                    label="账户余额">
                </el-table-column>
                <el-table-column
                    label="操作"
                     width="100">
                    <template scope="scope">
                        <el-button @click="handleClick(scope.$index, scope.row)" type="text" size="small">详情</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-card>
        <!--分页器-->
        <div class="block">
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page.sync="currentPage1"
            :page-size="sizes"
            :total='nums'
            layout="total,prev, pager, next, jumper"
          >
          </el-pagination>
        </div>
        <el-dialog title="Invite Influencer" v-model="dialogFormVisible" size="small">
          <el-form  :model="InviteForm" label-width="120px" label-position="top" ref="InviteForm" :rules="InviteRules">
            <el-form-item label="Influencer e-mail:" prop="email" style="width:100%;">
              <el-input></el-input>
            </el-form-item >
            <el-form-item label="Influencer Name:" prop="name" style="width:100%;">
              <el-input></el-input>
            </el-form-item>
            <el-form-item label="Tag:" prop="tag">
              <el-select v-model="InviteForm.tag" placeholder="Please Select" style="width:100%;">
                <el-option
                  v-for="item in cateOptions"
                  :key="item.cate"
                  :label="item.cate"
                  :value="item.cate">
                </el-option>
              </el-select>
            </el-form-item>
          </el-form>
          <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible=false">Cancel</el-button>
            <el-button>Add Next</el-button>
            <el-button type="primary" @click="subInvite('InviteForm')">Add</el-button>
          </div>
        </el-dialog>

    </div>
</template>

<script>
    import {
        getinfluenceList,
        getInflurncerDetail,
        updateInfluencerDetail,
        getOperationUserList
    } from '../../../apiRequest.js';
    import moment from 'moment';
    import _ from 'lodash';
    export default {
        name: 'influencer',
        components: {
        },
        data() {
            return {
                msg: 'Welcome',
                state2: '',
                state3:'',
                valuePM:'',
                valueTime:'',
                height: window.innerHeight - 60 - 60 -20 - 80 - 70 - 10 - 20,
                options: [],
                options1:[],
                options2:[],
                restaurants: [],
                alldata:[],
                sendDataPage:"",
                dialoginfluVisible: false,
                dialogFormVisible: false,
                tableData: [],
                currentPage1:1,
                sizes:50,
                nums:0,
                pm:0,
                page:1,
                pagetype:0,
                InviteForm:{
                        email:'',
                        name:'',
                        tag:''
                  },
                cateOptions:[
                  {
                    cate:'Games'
                  },{
                    cate:'Shopping'
                  },{
                    cate:'Beauty'
                  },{
                    cate:'Lifestyle'
                  },{
                    cate:'Tools'
                  },{
                    cate:'Social'
                  },{
                    cate:'Education'
                  },{
                    cate:'Adult'
                  },{
                    cate:'Entertainment'
                  }
                ],
                InviteRules:{
                  email:[
                    { required: true,trigger: 'blur' }
                  ],
                  name:[
                    { required: true,trigger: 'blur' }
                  ],
                  tag:[
                    { required: true, message: 'Please select', trigger: 'change' }
                  ],
                }


            }
        },
        created() {
            window.scrollTo(0,0);
            this.$parent.$emit('test', 'Influencers');
            this.getInfluList(1);
            this.getPM();
            this.getTime();
        },
        methods: {
            handleData(data){
            let newTableData = [];
            if (data.data.code === 0) {
              data.data.msg.forEach((subData, i) => {
                newTableData.push({
                  id: subData.influencer_user_id,
                  influencer: subData.influencer_user_page + '.star.store',
                  pb: subData.action,
                  ck: subData.click,
                  number: subData.count,
                  value: subData.influencer_user_page,
                  label: subData.influencer_user_page,
                  op_name: subData.operation_user_name,
                  createdat: subData.influencer_user_createat.substring(0, 19) + ' (UTC)',
                  time: subData.influencer_user_createat,
                  amount: subData.influencer_wallet_amount / 1000,
                  pm: subData.operation_user_name,
                  em : subData.influencer_user_email
                });
              })
              this.tableData = newTableData;
              this.nums=JSON.parse(data.data.nums);
            }
          },
            //点击搜索
            handleIconClick(ev) {
              var state2=this.state2;
              this.pagetype=0;
              getinfluenceList({
                influname:state2,
                limit:this.sizes
              }).then((data) => {
                this.handleData(data);
              })
            },
            handleIcon(ev){
              var state3=this.state3;
              this.pagetype=2;
              getinfluenceList({
                email:state3,
                limit:this.sizes
              }).then((data) => {
                this.handleData(data);
              })
            },
            handleSizeChange(val) {
            },
            handleCurrentChange(val) {
              this.getInfluList(val);
            },
            getSummaries(param) {
                const { columns, data } = param;
                const sums = [];
                columns.forEach((column, index) => {
                if (index === 0) {
                    sums[index] = '合计';
                    return;
                }
                const values = data.map(item => Number(item[column.property]));
                if (!values.every(value => isNaN(value))) {
                    sums[index] = values.reduce((prev, curr) => {
                    const value = Number(curr);
                        if (!isNaN(value)) {
                            return prev + curr;
                        } else {
                            return prev;
                        }
                    }, 0);
                    sums[index] += '';
                } else {
                    sums[index] = this.tableData.length + '个';
                }
                });
                return sums;
            },
            selectPM(value){
              this.pm=value;
              this.pagetype=1;
              getinfluenceList({
                pm:this.pm,
                limit:this.sizes,
                page:this.page
              }).then((data) => {
                this.handleData(data);
              })
                if (value === 0){
                  this.getInfluList(1);
                }
            },
            getInfluList(val) {
                if (this.pagetype==0){
                    this.sendDataPage={
                      influname:this.state2,
                      limit:this.sizes,
                      page:val
                  };
                }else if(this.pagetype==1){
                    this.sendDataPage={
                        pm:this.pm,
                        page:val,
                        limit:this.sizes
                      };
                }else{
                    this.sendDataPage={
                      email:this.state3,
                      page:val,
                      limit:this.sizes
                    };
                }
                getinfluenceList(this.sendDataPage).then((data) => {
                  this.handleData(data);
                }).catch((res)=>{
                    this.$notify({
                        message: res,
                        type: 'error'
                    });
                });
            },
            addInfluencer() {
                this.$router.push('/app/addInfluencer');
            },
            getPM(){
              getOperationUserList().then((data) => {
                let newTableData1 = [];
                if (data.data.code === 0) {
                  data.data.msg.forEach((Data, i) => {
                    newTableData1.push({
                      value : Data.operation_user_id,
                      label : Data.operation_user_name
                    });
                  })
                  this.options1 = newTableData1;
                  this.options1.unshift({value: 0, label: '全部',});
                } else {
                  this.$notify.error({
                    message: data.data.msg
                  });
                }
              }).catch((res)=>{
                this.$notify({
                  message: res,
                  type: 'error'
                });
              });
            },
            getTime(){
              getinfluenceList().then((data) => {
              let newTableData2 = [];
              if (data.data.code === 0) {
                data.data.msg.forEach((Data, i) => {
                  newTableData2.push({
                    value : Data.influencer_user_createat,
                    label : Data.influencer_user_createat
                  });
                })
                this.options2 = newTableData2;
                this.options2.unshift({value: '全部', label: '全部'});
              } else {
                this.$notify.error({
                  message: data.data.msg
                });
              }
            }).catch((res)=>{
              this.$notify({
                message: res,
                type: 'error'
              });
            });
          },
            handleClick(index, row) {
                this.$router.push('/app/influencerDetails/' + row.id);
            },
//            邀请网红提交
            nextInvite(forName){
                this.subInvite(formName);
            },
            subInvite(formName){
              this.$refs[formName].validate((valid) => {
                if (valid) {

                }
              })
            }
        },
    }
</script>

<style scoped>
    .block{
      margin-top:30px;
      display:flex;
      justify-content:center;
    }
    .icon-yaoqing1{
      font-size: 30px;
      float: right;
      line-height: 40px;
      margin-right: 10px;
      color: #20b9f5;
      cursor:pointer;
    }

</style>
