<template>
    <div class="influencer">
      <el-collapse accordion @change="accordionChange">
          <el-collapse-item name="1">
              <template slot="title">基础信息
                <el-button @click.stop="dialogForm2Visible = true" style="float:right;margin:7px 20px 0 0;" type="primary" v-if="isInfoOpen">编辑</el-button>
              </template>
              <div class="body-box">
                <div class="formDetails">
                  <el-form style="color: #333;font-size: 16px;font-family: 'Helvetica';line-height: 19px;" class="formContent" :model="form1" label-width="120px" label-position="left">
                    <el-row>
                      <el-col :span="20">
                        <el-row>
                          <el-col :span="14">
                            <el-form-item label="网红主页:">
                              {{form1.name}}
                            </el-form-item>
                          </el-col>
                          <el-col :span="8">
                            <el-form-item label="paypal账户:">
                              {{form1.account}}
                            </el-form-item>
                          </el-col>
                        </el-row>
                        <el-row>
                          <el-col :span="14">
                            <el-form-item label="性别:">
                              {{form1.gender}}
                            </el-form-item>
                          </el-col>
                          <el-col :span="8">
                            <el-form-item label="出生日期:">
                              {{form1.birth}}
                            </el-form-item>
                          </el-col>
                        </el-row>
                        <el-row>
                          <el-col :span="14">
                            <el-form-item label="地区:">
                              {{form1.region}}
                            </el-form-item>
                          </el-col>
                          <el-col :span="10">
                            <el-form-item label="邮箱:">
                              {{form1.email}}({{form1.verification}})
                            </el-form-item>
                          </el-col>
                        </el-row>
                        <el-row>
                          <el-col :span="22">
                            <el-form-item label="粉丝地区:">
                              {{form1.fansregion}}
                            </el-form-item>
                          </el-col>
                        </el-row>
                        <el-row>
                          <el-col :span="22">
                            <el-form-item label="标签:">
                              {{form1.interests}}
                            </el-form-item>
                          </el-col>
                        </el-row>
                        <el-row>
                          <el-col :span="22">
                            <el-form-item label="自我介绍:">
                              {{form1.desc}}
                            </el-form-item>
                          </el-col>
                        </el-row>
                        <el-row>
                          <el-col :span="22">
                            <el-form-item label="城市:">
                              {{form1.city}}
                            </el-form-item>
                          </el-col>
                        </el-row>
                        <el-row>
                          <el-col :span="22">
                            <el-form-item label="PM:">
                              {{form1.PM}}
                            </el-form-item>
                          </el-col>
                        </el-row>
                        <el-row>
                          <el-col :span="22">
                            <el-form-item label="账户余额:">
                              {{form1.amount}}
                            </el-form-item>
                          </el-col>
                        </el-row>
                      </el-col>
                      <el-col :span="2">
                        <img v-bind:src="avatar" class="avatar" ></img>
                      </el-col>
                    </el-row>
                  </el-form>
                </div>
              </div>
            </el-collapse-item>
          <el-collapse-item title="产品信息" name="2">
            <div class="body-box">
              <el-table
                :data="productTable"
                style="width: 100%">
                <el-table-column
                  prop="name"
                  label="产品名称"
                >
                </el-table-column>
                <el-table-column
                  prop="type"
                  label="产品状态" >
                </el-table-column>
                <el-table-column
                  prop="priceType"
                  label="结算方式" >
                </el-table-column>
                <el-table-column
                  prop="price"
                  label="单价($)" >
                </el-table-column>
              </el-table>
            </div>
          </el-collapse-item>
          <el-collapse-item name="3">
            <template slot="title">社交平台
              <el-button @click.stop="addPlatformBox" style="float: right;margin:7px 20px 0 0" type="primary" v-if="isPlatOpen">添加社交平台</el-button>
            </template>
            <div class="body-box">
              <div>
                <el-table
                  :data="platformData"
                  style="width: 100%">
                  <el-table-column
                    prop="flat"
                    label="平台"
                    width="180">
                  </el-table-column>
                  <el-table-column
                    prop="count"
                    label="账号">
                  </el-table-column>
                  <el-table-column
                    prop="fansNum"
                    label="粉丝数量">
                  </el-table-column>
                  <el-table-column
                    prop="rank"
                    label="单位">
                  </el-table-column>
                  <el-table-column
                    prop="likesratio"
                    label="点赞占比">
                  </el-table-column>
                  <el-table-column
                    prop="commentsratio"
                    label="评论占比">
                  </el-table-column>
                  <el-table-column
                    prop="actives"
                    label="参与度">
                  </el-table-column>
                  <el-table-column
                    width="100"
                    label="操作">
                    <template scope="scope">
                      <el-button @click="editInfluencer(scope.$index, scope.row)" type="text" size="small">编辑</el-button>
                    </template>
                  </el-table-column>
                </el-table>
              </div>
            </div>
          </el-collapse-item>
          <el-collapse-item name="4">
            <template slot="title">离线数据
            </template>
            <div style='margin-bottom: 20px;'>
              <el-select v-model="productid" filterable placeholder="请选择" @change="selectInfluen">
                <el-option
                  v-for="item in productTable"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id">
                </el-option>
              </el-select>
              <el-date-picker style="margin-left:20px;" v-model="dateValue" type="daterange" align="right" placeholder="选择日期范围" :picker-options="pickerOptions2"></el-date-picker>
              <el-button type="primary" @click="checkMsgData">查看</el-button>
            </div>
            <div class="body-box">
              <div>
                <el-tabs v-model="activeName2" type="card">
                    <el-table
                      :data="influtableData"
                      v-loading="loading"
                      style="width: 100%;color:#000;"
                      border
                      height="350"
                      show-summary
                      sum-text="Total">
                      <el-table-column prop="date" label="Date"></el-table-column>
                      <el-table-column label="IOS">
                      </el-table-column>
                      <el-table-column label="ANDROID">
                      </el-table-column>
                      <el-table-column label="PC">
                      </el-table-column>
                    </el-table>
                  </el-tab-pane>
                </el-tabs>
              </div>
            </div>
          </el-collapse-item>
      </el-collapse>
        <!--编辑网红-->
      <el-dialog title="编辑网红" v-model="dialogForm2Visible" size="large">
          <el-form :model="editInfluForm" label-width="100px">
              <el-form-item label="网红page:">
                  <el-input  style="width:100%;" v-model="editInfluForm.influPage" auto-complete="off"></el-input>
              </el-form-item>
              <el-form-item label="性别:">
                  <el-select style="width:100%;" v-model="editInfluForm.sex" placeholder="请选择">
                      <el-option label="男" value="0"></el-option>
                      <el-option label="女" value="1"></el-option>
                  </el-select>
              </el-form-item>
              <el-form-item label="出生日期:" style="width:100%;">
                  <el-date-picker
                      v-model="editInfluForm.birth"
                      type="date"
                      style="width:100%;"
                      format="yyyy-MM-dd"
                      placeholder="选择日期">
                  </el-date-picker>
              </el-form-item>
              <el-form-item label="地区:" style="width:100%;">
                  <el-select v-model="editInfluForm.region" filterable placeholder="Location" style="width: 100%">
                      <el-option v-for="(item, index) in editInfluForm.countryList" :key="item.label+index" :label="item.label" :value="item.value" class="el-select-item"></el-option>
                  </el-select>
              </el-form-item>
              <el-form-item label="City:">
                <el-input  style="width:100%;" v-model="editInfluForm.city" auto-complete="off"></el-input>
              </el-form-item>
              <el-form-item label="Fans Regions:">
                  <el-select v-model="editInfluForm.fansregion" filterable multiple placeholder="Fans Regions" style="width: 100%">
                      <el-option v-for="(item, index) in editInfluForm.countryList" :key="item.label+index" :label="item.label" :value="item.value" class="el-select-item"></el-option>
                  </el-select>
              </el-form-item>
              <el-form-item label="邮箱:">
                  <el-input style="width:100%;" v-model="editInfluForm.email" auto-complete="off"></el-input>
              </el-form-item>
              <el-form-item label="paypal账户:">
                  <el-input style="width:100%;" v-model="editInfluForm.paypalAccount" auto-complete="off"></el-input>
              </el-form-item>
              <el-form-item label="Interests:">
                  <el-checkbox-group style="width:100%;" v-model="editInfluForm.interests">
                      <el-checkbox label="Shopping"></el-checkbox>
                      <el-checkbox label="Beauty"></el-checkbox>
                      <el-checkbox label="Games"></el-checkbox>
                      <el-checkbox label="Lifestyle"></el-checkbox>
                      <el-checkbox label="Social"></el-checkbox>
                      <el-checkbox label="Educations"></el-checkbox>
                      <el-checkbox label="Others"></el-checkbox>
                  </el-checkbox-group>
              </el-form-item>
              <el-form-item label="About Myself:">
                  <el-input  style="width:100%;" v-model="editInfluForm.desc" type="textarea"></el-input>
              </el-form-item>
              <el-form-item label="运营人员">
                  <el-select v-model="editInfluForm.PM" placeholder="请选择" style="width:100%">
                      <el-option
                          v-for="item in editInfluForm.PMList"
                          :key="item.operation_user_id"
                          :label="item.operation_user_name"
                          :value="item.operation_user_id">
                      </el-option>
                  </el-select>
              </el-form-item>
              <el-form-item label="上传logo:" prop="logo">
                  <el-upload
                      class="avatar-uploader"
                      name="logo"
                      :action="baseURL"
                      :show-file-list="false"
                      :on-success="handleAvatarScucess"
                      :before-upload="beforeAvatarUpload">
                      <img v-if="imageBase" :src="imageBase" class="avatar">
                      <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                  </el-upload>
              </el-form-item>
          </el-form>
          <div slot="footer" class="dialog-footer">
              <el-button @click="dialogForm2Visible = false">取 消</el-button>
              <el-button type="primary" @click="changeInflluDetail">确 认</el-button>
          </div>
      </el-dialog>
      <!--添加社交平台-->
      <el-dialog title="添加社交平台" v-model="dialogFormVisible" size="small">
          <el-form :model="setPlatform" label-width="120px" label-position="left">
              <el-form-item label="社交平台:">
                  <el-select style="width:80%;"  v-model="setPlatform.flat" placeholder="请选择">
                      <el-option v-for="(item, index) in mediaList" :key="item.label+index" :label="item.label" :value="item.value"></el-option>
                  </el-select>
                  <!--<el-checkbox  v-model="setPlatform.isMain" >主平台</el-checkbox>-->
              </el-form-item>
              <el-form-item label="账号:">
                  <el-input style="width:80%;" v-model="setPlatform.count" auto-complete="off"></el-input>
              </el-form-item>
              <el-form-item label="粉丝量级:" >
                  <el-row style="width:80%;">
                      <el-col style="width:50%;">
                          <el-input style="width:100%;" v-model="setPlatform.fansNum" auto-complete="off"></el-input>
                      </el-col>
                      <el-col style="width:50%;">
                          <el-select style="width:100%;" v-model="setPlatform.rank" placeholder="请选择单位">
                              <el-option label="K" value="0"></el-option>
                              <el-option label="M" value="2"></el-option>
                          </el-select>
                      </el-col>
                  </el-row>
              </el-form-item>
              <el-form-item label="点赞占比:">
                  <el-input style="width:80%;" v-model="setPlatform.likesratio" auto-complete="off">
                      <div slot="append">%</div>
                  </el-input>
              </el-form-item>
              <el-form-item label="评论占比:">
                  <el-input style="width:80%;" v-model="setPlatform.commentsratio" auto-complete="off">
                      <div slot="append">%</div>
                  </el-input>
              </el-form-item>
              <el-form-item label="参与度:">
                  <el-select style="width:80%;" v-model="setPlatform.actives">
                      <el-option label="低" value="0"></el-option>
                      <el-option label="中" value="1"></el-option>
                      <el-option label="高" value="2"></el-option>
                  </el-select>
              </el-form-item>
          </el-form>
          <div slot="footer" class="dialog-footer">
              <el-button @click="dialogFormVisible = false">取 消</el-button>
              <el-button type="primary" @click="addPlatform">确 认</el-button>
          </div>
      </el-dialog>
      <el-dialog title="编辑社交平台" v-model="editerdialogFormVisible" size="small">
          <el-form :model="editPlatform" label-width="120px" label-position="left">
              <el-form-item label="社交平台:">
                  <el-select style="width:80%;"  v-model="editPlatform.flat" placeholder="请选择">
                      <el-option v-for="(item, index) in mediaList" :key="item.label+index" :label="item.label" :value="item.value"></el-option>
                  </el-select>
              </el-form-item>
              <el-form-item label="账号:">
                  <el-input style="width:80%;" v-model="editPlatform.count" auto-complete="off"></el-input>
              </el-form-item>
              <el-form-item label="粉丝量级:">
                  <el-row>
                      <el-col style="width:50%;">
                          <el-input style="width:100%;" v-model="editPlatform.fansNum" auto-complete="off"></el-input>
                      </el-col>
                      <el-col style="width:30%;">
                          <el-select style="width:100%;" v-model="editPlatform.rank" placeholder="请选择单位">
                              <el-option label="K" value="0"></el-option>
                              <el-option label="M" value="2"></el-option>
                          </el-select>
                      </el-col>
                  </el-row>
              </el-form-item>
              <el-form-item label="点赞占比:">
                  <el-input style="width:80%;" v-model="editPlatform.likesratio" auto-complete="off">
                      <div slot="append">%</div>
                  </el-input>
              </el-form-item>
              <el-form-item label="评论占比:">
                  <el-input style="width:80%;" v-model="editPlatform.commentsratio" auto-complete="off">
                      <div slot="append">%</div>
                  </el-input>
              </el-form-item>
              <el-form-item label="参与度:">
                  <el-select style="width:80%;" v-model="editPlatform.actives">
                      <el-option label="低" value="0"></el-option>
                      <el-option label="中" value="1"></el-option>
                      <el-option label="高" value="2"></el-option>
                  </el-select>
              </el-form-item>
          </el-form>
          <div slot="footer" class="dialog-footer">
              <el-button @click="editerdialogFormVisible = false">取 消</el-button>
              <el-button type="primary" @click="editorPlatform">确 认</el-button>
          </div>
      </el-dialog>
    </div>
</template>

<script>
    import {
        getInflurncerDetail,
        updateInfluencerDetail,
        getInflurncerDetailProduct,
        takeinfluencerDetails,
        getCkHourly,
        getPbHourly,
        getacssIdByInfluId,
        getMyInfluencerList,
        setInfluencerPlatform,
        updateInfluencerPlatform,
        getInfluencerSocial,
        getOperationUserList
    } from '../../../apiRequest.js';
    import avatar from '../../../assets/avatar.png'
    import moment from 'moment';
    import _ from 'lodash';
    import Utility from '../../../Utility.js';
    import countryList from '../../../country.json';
    import config from '../../../configUrl.js';
    export default {
        name: 'influencer',
        components: {
        },
        data() {
            let end = new Date();
            let start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 6);
            return {
                avatar : '',
                baseURL : config.uploadURL,
                imageBase : '',
                isInfoOpen:false,
                isPlatOpen:false,
                dialogForm2Visible: false,
                editerdialogFormVisible: false,
                productTable: [],
                activeName: 'first',
                platformData: [],
                productid:'',
                platformData1: [],
                dateValue: [start,end],
                activeName2: 'first',
                influtableData: [],
                loading: false,
                editInfluForm: {
                    id: '',
                    name: '',
                    influPage:'',
                    isV: false,
                    sex: '',
                    birth: '',
                    region: '',
                    city:'',
                    email: '',
                    paypalAccount: '',
                    pid: '',
                    desc: '',
                    fansregion: [],
                    interests: [],
                    countryList: [],
                    PMList:[],
                    PM: '',
                    logo: ''
                },
                editInfluFormRules: {
                    name: [
                        { required: true, message: '请输入网红名称', trigger: 'blur' }
                    ],
                    main: [
                        { required: true, message: '请输入网红的Page名称', trigger: 'blur' }
                    ],
                    account: [
                        { required: true, message: '请输入网红的账号', trigger: 'blur' }
                    ],
                    email: [
                        { required: true, message: '请输入网红的邮箱', trigger: 'blur' }
                    ],
                    sex: [
                        { required: true, message: '请选择性别', trigger: 'change' }
                    ],
                    region: [
                        { required: true, message: '请选择地区', trigger: 'change' }
                    ],
                    City:[
                      { required: true, message: '请输入城市', trigger: 'blur' }
                    ],
                    birth: [
                        { type: 'date', required: true, message: '请选择生日', trigger: 'change' }
                    ]
                },
                editPlatformList: [],
                editPlatformListRules: {
                    flat: [
                        { required: true, message: '请选择社交平台', trigger: 'change' }
                    ],
                    paccount: [
                        { required: true, message: '请输入社交平台账号', trigger: 'blur' }
                    ],
                    keywords: [
                        { type: 'array', required: true, message: '请至少选择一个关键词', trigger: 'change' }
                    ],
                    desc: [
                        { required: true, message: '请填写描述', trigger: 'blur' }
                    ],
                    follower: [
                        { required: true, message: '请输入网红粉丝量', trigger: 'blur' }
                    ],
                },
                setPlatform: {
                    id: '',
                    desc: '',
                    keywords: [],
                    rank: '',
                    fansNum: '',
                    count: '',
                    isMain: '',
                    flat: '',
                    actives: '',
                    likesratio: '',
                    commentsratio: ''
                },
                setPlatformRules: {
                    flat: [
                        { required: true, message: '请选择社交平台', trigger: 'change' }
                    ],
                    paccount: [
                        { required: true, message: '请输入社交平台账号', trigger: 'blur' }
                    ],
                    keywords: [
                        { type: 'array', required: true, message: '请至少选择一个关键词', trigger: 'change' }
                    ],
                    desc: [
                        { required: true, message: '请填写描述', trigger: 'blur' }
                    ],
                    follower: [
                        { required: true, message: '请输入网红粉丝量', trigger: 'blur' }
                    ]
                },
                editPlatform: {
                    id: '',
                    rank: '',
                    fansNum: '',
                    count: '',
                    isMain: '',
                    flat: '',
                    actives: '',
                    likesratio: '',
                    commentsratio: ''
                },
                mediaList: [
                    {
                        label: 'Instagram',
                        value: 'Instagram'
                    }, {
                        label: 'Facebook',
                        value: 'Facebook'
                    }, {
                        label: 'Twitter',
                        value: 'Twitter'
                    }, {
                        label: 'Youtube',
                        value: 'Youtube'
                    }, {
                        label: 'Musical.ly',
                        value: 'Musical.ly'
                    }, {
                        label: 'Live.ly',
                        value: 'Live.ly'
                    }
                ],
                pickerOptions2: {
                    shortcuts: [{
                        text: '最近一周',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 6);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近一个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 29);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近三个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 89);
                            picker.$emit('pick', [start, end]);
                        }
                    }]
                },
                dialogFormVisible: false,
                dialogTableVisible: false,
                influenceProduct: {
                    name: '',
                    desc: ''
                },
                form1: {
                    name: '',
                    gender: '',
                    birth: '',
                    region: '',
                    email: '',
                    account: '',
                    postNumber: 0,
                    pb: 0,
                    ck: 0,
                    tag: '',
                    associd: '',
                    city: ''
                },
                msgId: ''
            }
        },
        created() {
            window.scrollTo(0,0);
            this.$parent.$emit('test', '网红详情');
            countryList.forEach((c, i) => {
                this.editInfluForm.countryList.push({
                    value: c.iso2,
                    label: c.countryName
                })
            });
            getOperationUserList().then((data)=>{
                    data.data.msg.forEach(function(e) {
                        if (e.operation_user_id === 1) {
                            return ;
                        }
                        this.editInfluForm.PMList.push(e);
                    }, this);
                }).catch((err)=>{
                    this.$notify.error('' + err);
            });
            this.getDetails();
            this.getProduct();
            getacssIdByInfluId({
                influ_id: this.$route.params.id
            }).then((data)=>{
                if (data.data.code === 0 && data.data.msg.length > 0) {
                	this.productid = data.data.msg[0].influencer_campaign_assoc_id;
                    this.msgId = data.data.msg[0].influencer_campaign_assoc_id;
                    this.onShowMsgList();
                }
            });
        },
        methods: {
          accordionChange(name,string){
              if(name==='1'){
                   this.isInfoOpen=true;
                   this.isPlatOpen=false;
              }else if(name==='3'){
                   this.isPlatOpen=true;
                   this.isInfoOpen=false;
              }else{
                this.isPlatOpen=false;
                this.isInfoOpen=false;
              }
          },
            editInfluencer(index,row){
                this.editPlatform = this.editPlatformList[index];
                this.editerdialogFormVisible = true;
            },
            selectInfluen(id){
                this.msgId = id;
                this.onShowMsgList();
                this.influtableData=[];
            },
            editorPlatform(){
                let obj = {
                    influencer_user_platform: this.editPlatform.flat,
                    influencer_user_active: this.editPlatform.isMain ? 1 : 0,
                    influencer_user_account: this.editPlatform.count,
                    influencer_user_fansunit: this.editPlatform.rank,
                    influencer_user_fansnum: this.editPlatform.fansNum,
                    influencer_user_likesratio: this.editPlatform.likesratio,
                    influencer_user_commentsratio: this.editPlatform.commentsratio,
                    influencer_user_actives: this.editPlatform.actives,
                    influencer_user_platform_id: this.editPlatform.pid
                };
                updateInfluencerPlatform(obj).then((data)=>{
                    if (data.data.code === 0) {
                        this.$notify({
                            message: '编辑成功',
                            type: 'success'
                        });
                        this.editerdialogFormVisible = false;
                        this.getDetails();
                    }
                })
            },
            addPlatformBox(){
                this.dialogFormVisible = true;
                this.setPlatform.flat = '';
                this.setPlatform.isMain = '';
                this.setPlatform.count = '';
                this.setPlatform.rank = '';
                this.setPlatform.fansNum = '';
            },
            addPlatform(){
                let obj = {
                    influencer_user_id: this.setPlatform.id,
                    influencer_user_platform: this.setPlatform.flat,
                    influencer_user_active: this.setPlatform.isMain ? 1 : 0,
                    influencer_user_account: this.setPlatform.count,
                    influencer_user_fansunit: this.setPlatform.rank,
                    influencer_user_fansnum: this.setPlatform.fansNum,
                    influencer_user_likesratio: this.setPlatform.likesratio,
                    influencer_user_commentsratio: this.setPlatform.commentsratio,
                    influencer_user_actives: this.setPlatform.actives
                };
                setInfluencerPlatform(obj).then((data)=>{
                    if (data.data.code === 0) {
                        this.$notify({
                            message: '添加成功',
                            type: 'success'
                        });
                        this.dialogFormVisible = false;
                        this.setPlatform = {};
                        this.getDetails();
                    }
                })
            },
            changeInflluDetail() {
                let influObj = {
                    influencer_user_id: this.editInfluForm.id,
                    influencer_user_name: this.editInfluForm.name,
                    is_v: this.editInfluForm.isV ? '1' : '0',
                    influencer_user_page: this.editInfluForm.influPage,
                    influencer_user_sex: this.editInfluForm.sex,
                    influencer_user_birthday: moment(this.editInfluForm.birth).format('YYYY-MM-DD'),
                    influencer_user_country: this.editInfluForm.region,
                    influencer_user_city:this.editInfluForm.city,
                    influencer_user_email: this.editInfluForm.email,
                    influencer_user_paypal: this.editInfluForm.paypalAccount,
                    influencer_user_logo: this.editInfluForm.logo,
                    influencer_user_desc: this.editInfluForm.desc,
                    influencer_user_fansregion: this.editInfluForm.fansregion.join(','),
                    influencer_user_fansinterests: this.editInfluForm.interests.join(','),
                    operation_user_id: this.editInfluForm.PM
                };
                updateInfluencerDetail(influObj).then((data) => {
                    if (data.data.code === 0) {
                        this.$notify({
                            message: '编辑成功',
                            type: 'success'
                        });
                        this.dialogForm2Visible = false;
                        this.getDetails();
                    }
                })
            },
            getProduct(){
                getMyInfluencerList({
                    influid: this.$route.params.id
                }).then((data) => {
                    if (data.data.code === 0 &&　data.data.msg.length > 0) {
                        let arr = [];
                        data.data.msg.forEach((_msg,index) =>{
                            arr.push({
                            	id: _msg.influencer_campaign_assoc_id,
                                name: _msg.operation_campaign_name,
                                money: _msg.operation_campaign_amount/1000,
                                price: _msg.price/1000,
                                type: _msg.link_default === 1 ? 'Started' : 'Ended',
                                priceType: _msg.price_type === 2 ? 'Package' : _msg.price_type === 1 ? 'CPA' : 'CPC',
                            })
                        });
                        this.productTable = arr;
                    }
                })
            },
            getDetails(){
                getInflurncerDetail({
                    influencer_user_id: this.$route.params.id
                }).then((data) => {
                    if (data.data.msg.length > 0) {
                        let birthDay = data.data.msg[0].influencer_user_birthday ? moment(data.data.msg[0].influencer_user_birthday) : '';
                        this.form1.name = data.data.msg[0].influencer_user_page + '.star.store';
                        this.form1.account = data.data.msg[0].influencer_user_paypal;
                        this.form1.gender = data.data.msg[0].influencer_user_sex === 0 ? '男' : data.data.msg[0].influencer_user_sex === 1 ? '女' : '';
                        this.form1.birth = birthDay ? moment(birthDay).format('YYYY-MM-DD') : '';
                        this.form1.region = data.data.msg[0].influencer_user_country;
                        this.form1.email = data.data.msg[0].influencer_user_email;
                        this.form1.postNumber = data.data.msg[0].count;
                        this.form1.pb = data.data.msg[0].action;
                        this.form1.ck = data.data.msg[0].click;
                        this.form1.tag = data.data.msg[0].influencer_user_keywords;
                        this.form1.associd = '';
                        this.form1.logo = data.data.msg[0].influencer_user_logo;
                        this.form1.fansregion = data.data.msg[0].influencer_user_fansregion;
                        this.form1.desc = data.data.msg[0].influencer_user_desc;
                        this.form1.interests = data.data.msg[0].influencer_user_fansinterests;
                        this.form1.amount = data.data.msg[0].influencer_wallet_amount / 1000;
                        this.form1.PM = data.data.msg[0].operation_user_name;
                        this.form1.city = data.data.msg[0].influencer_user_city;
                        this.form1.verification = data.data.msg[0].influencer_user_verification?'已认证':'待认证';
                        if (this.form1.logo) {
                            this.avatar = config.logURL + data.data.msg[0].influencer_user_logo;
                            this.imageBase = config.logURL + data.data.msg[0].influencer_user_logo;
                        } else {
                            this.avatar = avatar;
                            this.imageBase = avatar;
                        }
                        this.setPlatform.id = data.data.msg[0].influencer_user_id;
                        this.editInfluForm.id = data.data.msg[0].influencer_user_id;
                        this.editInfluForm.sex = data.data.msg[0].influencer_user_sex + '';
                        this.editInfluForm.influPage = data.data.msg[0].influencer_user_page;
                        this.editInfluForm.isV = data.data.msg[0].influencer_user_v;
                        this.editInfluForm.birth = birthDay;
                        this.editInfluForm.region = data.data.msg[0].influencer_user_country;
                        this.editInfluForm.city = data.data.msg[0].influencer_user_city;
                        this.editInfluForm.email = data.data.msg[0].influencer_user_email;
                        this.editInfluForm.paypalAccount = data.data.msg[0].influencer_user_paypal;
                        this.editInfluForm.desc = data.data.msg[0].influencer_user_desc;
                        this.editInfluForm.fansregion = data.data.msg[0].influencer_user_fansregion?data.data.msg[0].influencer_user_fansregion.split(','):[];
                        this.editInfluForm.interests = data.data.msg[0].influencer_user_fansinterests?data.data.msg[0].influencer_user_fansinterests.split(','):[];
                        this.editInfluForm.PM = data.data.msg[0].operation_user_id;
                        this.editInfluForm.logo = data.data.msg[0].influencer_user_logo;

                        // Facebook 0  -- Instagram 1 -- Twitter 2 -- Musical.ly 3 -- Live.ly 4 -- Youtube 5 --
                        let arr = [];
                        let platformList = [];
                        data.data.msg.forEach((_msg,index)=>{
                            let plat = _msg.influencer_user_platform;
                            if(plat){
                                platformList.push({
                                    id: _msg.influencer_user_id,
                                    pid: _msg.influencer_user_platform_id,
                                    rank: Utility.FanunitToString(_msg.influencer_user_fansunit),
                                    fansNum: _msg.influencer_user_fansnum,
                                    count: _msg.influencer_user_account,
                                    isMain: _msg.influencer_user_active? '是' : '否',
                                    flat: _msg.influencer_user_platform,
                                    likesratio: _msg.influencer_user_likesratio,
                                    commentsratio: _msg.influencer_user_commentsratio,
                                    actives: Utility.ActivesToString(_msg.influencer_user_actives)
                                });
                            }
                        });
                        this.platformData = platformList;
                        this.editPlatformList = _.cloneDeep(platformList);
                        this.editPlatformList.forEach(function(e) {
                            e.actives = '' + Utility.ActivesToInt(e.actives);
                            e.rank = '' + Utility.FanunitToInt(e.rank);
                            e.isMain = e.isMain==='是'? true : false;
                        });
                    }
                });
            },

            checkMsgData() {
                this.onShowMsgList();
            },
            onShowMsgList() {
                this.loading = true;
                let start = moment(this.dateValue[0]).format('YYYY-MM-DD');
                let end = moment(this.dateValue[1]).format('YYYY-MM-DD');
                if (start === end) {
                    this.$notify.warning({
                        title: '',
                        message: '日期区间不能为同一天'
                    });
                    this.loading = false;
                    return;
                }
                let s = moment(this.dateValue[0]);
                let e = moment(this.dateValue[1]).format('YYYY-MM-DD');
                let xarr = [start];
                while (true) {
                    let ss = s.add(1, 'days').format('YYYY-MM-DD');
                    xarr.push(ss);
                    if (ss === e) {
                        break;
                    }
                }
                this.xAxisAll = xarr;
                getCkHourly({
                    id: this.msgId,
                    startdate: start,
                    enddate: end
                }).then((data) => {
                    let newArr = [{
                        date: start + '-' + end,
                        id: '',
                        cicount: 0,
                        cacount: 0,
                        cpcount: 0,
                        picount: 0,
                        pacount: 0,
                        ppcount: 0,
                        subData: []
                    }];
                    xarr.forEach((u, i) => {
                        let num = 0;
                        let iosnum = 0;
                        let andnum = 0;
                        let pcnum = 0;
                        let subArr = [];
                        if (data.data.length > 0&&typeof(data.data)!='string') {
                          try{
                            data.data.forEach((d, i) => {
                              let dd = d.date.slice(0, 10);
                              if (dd === u) {
                                if (d.os === 'ios') {
                                  iosnum += d.count;
                                } else if (d.os === 'android') {
                                  andnum += d.count;
                                } else if (d.os === 'pc') {
                                  pcnum += d.count;
                                };
                                subArr.push(d);
                              }
                            });
                           }catch(err){
                              console.log(err);
                          }

                        }else{
                        };
                        newArr.push({
                            date: u,
                            id: '',
                            cicount: iosnum,
                            cacount: andnum,
                            cpcount: pcnum,
                            picount: 0,
                            pacount: 0,
                            ppcount: 0,
                            subData: subArr
                        });
                    });
                    getPbHourly({
                        id: this.msgId,
                        startdate: start,
                        enddate: end
                    }).then((data) => {
                        let pit = 0;
                        let pat = 0;
                        let ppt = 0;
                        let cit = 0;
                        let cat = 0;
                        let cpt = 0;
                        newArr.forEach((n, i) => {
                            let pinum = 0;
                            let panum = 0;
                            let ppnum = 0;
                            if (data.data.length > 0) {
                                data.data.forEach((d, i) => {
                                    let t = d.date.slice(0, 10);
                                    if (n.date === t) {
                                        if (d.os === 'ios') {
                                            pinum += d.count;
                                        } else if (d.os === 'android') {
                                            panum += d.count;
                                        } else if (d.os === 'pc') {
                                            ppnum += d.count;
                                        };
                                    }
                                });
                            }
                            n.picount = pinum;
                            n.pacount = panum;
                            n.ppcount = ppnum;
                            pit += n.picount;
                            pat += n.pacount;
                            ppt += n.ppcount;
                            cit += n.cicount;
                            cat += n.cacount;
                            cpt += n.cpcount;
                        })
                        let ii = (pit / cit * 100).toFixed('2');
                        let aa = (pat / cat * 100).toFixed('2');
                        let pp = (ppt / cpt * 100).toFixed('2');
                        newArr[0].picount = pit + ' (' + (isNaN(ii) ? '0' : ii) + '%)';
                        newArr[0].pacount = pat + ' (' + (isNaN(aa) ? '0' : aa) + '%)';
                        newArr[0].ppcount = ppt + ' (' + (isNaN(pp) ? '0' : pp) + '%)';
                        newArr[0].cicount = cit;
                        newArr[0].cacount = cat;
                        newArr[0].cpcount = cpt;
                        if(pit || pat || ppt || cit || cat || cpt){
                            this.influtableData = newArr;
                        }
                        this.loading = false;
                    }).catch((response) => {
                        this.$notify.error({
                            title: 'Error',
                            message: response.toString()
                        });
                    })
                }).catch((response) => {
                    this.$notify.error({
                        title: 'Error',
                        message: response.toString()
                    });
                })
            },
            handleAvatarScucess(res, file) {
                let url = config.logURL + res.msg;
                this.imageBase = url;
                this.editInfluForm.logo = res.msg;
            },
            beforeAvatarUpload(file) {
                let type = file.type.toLowerCase();
                const isJPEG = type === 'image/jpeg';
                const isJPG = type === 'image/jpg';
                const isGIF = type === 'image/gif';
                const isBMP = type === 'image/bmp';
                const isPNG = type === 'image/png';
                const isLt2M = file.size / 1024 / 1024 < 10;
                if (!isJPEG && !isJPG && !isGIF && !isBMP && !isPNG) {
                    this.$message.error('Only jpg/png/gif/bmp!');
                    return false;
                }
                if (!isLt2M) {
                    this.$message.error('maximum 10M!');
                    return false;
                }
                return (isJPEG || isJPG || isGIF || isBMP || isPNG) && isLt2M;
            }
        }
    }
</script>

<style scoped>
    .influencer {
        color: #333333;
        /*font-family: 'Helvetica-Bold';*/
    }
    .el-collapse-item__content{
      padding:0;
    }
    .formContent {
        color: #333;
        font-size: 16px;
        font-family: 'Helvetica';
        padding-left: 20px;
    }

    .el-form-item__label {
        color: #333;
        font-size: 16px;
        font-family: 'Helvetica';
    }

    .formDetails .el-form-item {
        margin-bottom: 0;
    }

    .box-card {
        margin-bottom: 20px;
    }

    .charts-content {
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    .avatar-uploader {
        border: 1px dashed #d9d9d9;
        /*border-radius: 6px;*/
        width: 120px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        background-color: #f5f7fa;
        color: #20a0ff;
    }

    .avatar-uploader:hover {
        border-color: #20a0ff;
    }

    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 120px;
        height: 120px;
        line-height: 120px;
        text-align: center;
    }

    .avatar {
        width: 120px;
        height: 120px;
        display: block;
    }
</style>
