<template>
  <div class="coming">
    <el-card class="box-card" >
      <el-table
        :data="tableData"

        style="width: 100%;">
        <el-table-column
          prop="email"
          label="E-mail">
        </el-table-column>
        <el-table-column
          prop="name"
          label="Name">
        </el-table-column>
        <el-table-column
          prop="tag"
          label="Tag">
        </el-table-column>
        <el-table-column
          width="160"
          label="Operation">
          <template scope="scope">
            <el-button @click="handleClick(scope.$index, scope.row)" type="text" size="small">Reset</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-card>
  </div>
</template>

<script>
  import {
    inviteList,
    resendInvite
  } from '../../../apiRequest';
  export default {
    name: 'coming',
    data() {
      return {
        msg: 'Welcome',
        valueCompany: '',
        options: [],
        tableData: []
      }
    },
    created() {
      window.scrollTo(0,0);
      this.refresh();
      this.$parent.$emit('test', 'Invite');
    },
    methods: {
      refresh(){
        inviteList().then((data)=>{
            if(data.data.code==0){
              let msg=data.data.data;
              let arr=[];
              msg.forEach((c,i)=>{
                  arr.push({
                    email:c.email,
                    name:c.influname,
                    tag:c.tag,
                    id:c.id
                  })
              })
              this.tableData=arr;
            }
        })
      },
      handleClick(i,row){
        resendInvite({
          id:row.id
        }).then((data)=>{
            if(data.data.code==0){
              this.$message.success('Success');
            }else{

            }
        }).catch((res)=>{
          this.$message.error('Error');
        })
      }
    }
  }
</script>

<style scoped>

</style>
