<template>
    <div class="influencer">
        <el-card class="box-card" style="background-color:#f5f7fa;">
            <el-table :data="tableData" style="width: 100%;" >
                <el-table-column
                    prop="influencer_user_email"
                    width="330"
                    label="网红邮箱">
                </el-table-column>
                <el-table-column
                    prop="influencer_user_page"
                    label="Page">
                </el-table-column>
                <el-table-column
                    prop="influencer_user_country"
                    label="国家">
                </el-table-column>
                <el-table-column
                    prop="influencer_user_sex"
                    label="性别">
                </el-table-column>
                <el-table-column
                    prop="influencer_user_createat"
                    width="300"
                    label="注册时间">
                </el-table-column>
                <el-table-column
                    width="100"
                    label="操作">
                    <template scope="scope">
                        <el-button @click="handleClick(scope.$index, scope.row)" type="text" size="small">分配</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-card>
        <el-dialog title="分配" :visible.sync="dialogFormVisible" size="small">
            <el-form :model="form">
                <el-form-item label="运营人员" :label-width="formLabelWidth">
                    <el-select v-model="form.value" placeholder="请选择" style="width:100%">
                        <el-option
                        v-for="item in form.options"
                        :key="item.operation_user_id"
                        :label="item.operation_user_name"
                        :value="item.operation_user_id">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="onSubmit">确 定</el-button>
            </div>
        </el-dialog>
    </div>

</template>
<script>
    import {
        getNewInfluList,
        getOperationUserList,
        reviewInflu
    } from '../../../apiRequest.js';
    import _ from 'lodash';
    import store from 'store2';
    export default {
        name: 'influencer',
        components: {
        },
        data() {
            return {
                dialogFormVisible : false,
                selectedInflu : '',
                tableData: [],
                form: {
                     options: [],
                     value: ''
                },
                formLabelWidth: '120px'
            }
        },
        created() {
            window.scrollTo(0,0);
            this.$parent.$emit('test', '新增网红管理');
            this.refresh();
        },
        methods: {
            refresh() {
                this.tableData = [];
                getNewInfluList().then((data)=>{
                    data.data.msg.forEach(function(e) {
                        e.influencer_user_sex = e.influencer_user_sex ? '女' : '男';
                        e.influencer_user_createat = e.influencer_user_createat.substring(0, 19) + ' (UTC)';
                        this.tableData.push(e);
                    }, this);
                }).catch((e)=>{
                    this.$notify.error('' + err);
                });
            },
            handleClick(index, row) {
                this.dialogFormVisible = true;
                this.form.options = [];
                this.selectedInflu = row.influencer_user_id;
                getOperationUserList().then((data)=>{
                    data.data.msg.forEach(function(e) {
                        if (e.operation_user_id === 1) {
                            return ;
                        }
                        this.form.options.push(e);
                    }, this);
                }).catch((err)=>{
                    this.$notify.error('' + err);
                });
            },
            onSubmit() {
                if (this.form.value === '') {
                    this.$notify.info('运营人员必需选择');
                    return ;
                }
                this.dialogFormVisible = false;
                let influid = this.selectedInflu;
                let op_user_id = this.form.value;
                reviewInflu({influid:influid, op_user_id:op_user_id}).then((data)=>{
                    if (data.data.code === 0) {
                        this.$notify.info('分配成功');
                        this.refresh();
                        this.form.value = '';
                    } else {
                      return  Promise.reject(data.data.msg);
                    }
                }).catch((err)=>{
                    this.$notify.error('' + err);
                });
            }
        }
    }
</script>

<style scoped>
</style>
