<template>
  <div class="influencer">
    <el-card class="box-card" style="background-color:#f5f7fa;">
      <div class="influ-list-card">
        <div class="influ-list-card-left">
          <img :src="influList.logo" alt="" prop="logo">
        </div>
        <div class="inlfu-list-card-right">
          <p class="influ-list-item">
            <span class="influname" prop="name">{{influList.name}}</span><span><i class="iconfont icon-fensi" style="font-size:20px;"></i><i>{{influList.fans}}</i></span>
          </p>
          <p class="influ-list-item">
            <span>{{influList.desc}}</span>
          </p>
          <p class="influ-list-item">
            <img :src="changeImg(o.influencer_user_platform)" alt="" v-for="o in influList.social" v-if="o.influencer_user_platform">
          </p>
          <p class="influ-list-item">
            <span><i class="iconfont icon-ditu"></i><i>{{influList.country}}</i></span>
            <span><i style="color:#c1272d">{{influList.email}}</i></span>
          </p>
          <p class="influ-list-item">
            <span><i class="iconfont icon-tag"></i><i>{{influList.tag}}</i></span>
            <span><i class="iconfont icon-nan"></i><i>{{influList.opname}}</i></span>
            <span><i class="iconfont icon-youxiang"></i><i>{{influList.opemail}}</i></span>
          </p>
        </div>
        <div class="bianji"><i class="iconfont icon-bianji" @click="dialogBianji=true"></i></div>
      </div>
    </el-card>

    <div class="view">
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="Profile" name="first" style="position:relative">
          <div class="card-box">
            <ul>
              <li>
                <span>Page: <i>{{influList.page}}</i></span>
                <span>Gender: <i></i></span>
                <span>Birthday:<i>{{influList.birthday}}</i></span>
              </li>
              <li>
                <span>Geo: <i>{{influList.geo}}</i></span>
                <span>City: <i>{{influList.city}}</i></span>
                <span>Paypal:<i>{{influList.paypal}}</i></span>
              </li>
              <li class="nowrap">
                <span>FansRegions: <i>{{influList.fansRegions}}</i></span>
                <span>Interests:<i>dsdasdasda</i></span>
              </li>
            </ul>
          </div>
          <div class="card-box-email card-box">
           <ul>
             <li v-for="o in influList.social">
               <div v-if="o.influencer_user_platform">
                 <span style="width:40px;height:25px;"><img :src="changeImg(o.influencer_user_platform)" alt="" style="height:100%"></span>
                 <span>E-mail:<i>{{o.influencer_user_account?o.influencer_user_account:'-'}}</i></span>
                 <span>User Name: <i>{{o.platform_user_name?o.platform_user_name:'-'}}</i></span>
                 <span>Fans: <i>{{o.influencer_user_fansnum?o.influencer_user_fansnum:0}}</i></span>
               </div>
             </li>
           </ul>
          </div>
          <div class="card-box">
            <ul>
              <li>
                <span>Balance: <i>{{tongjiList.balance}}</i></span>
                <span>Withdraw: <i>{{tongjiList.withdraw}}</i></span>
                <span>Frozen:<i></i>{{tongjiList.frozen}}</span>
              </li>
              <li>
                <span>Campaigns: <i>{{tongjiList.campaigns}}</i></span>
                <span>Conversions: <i>{{tongjiList.conv}}</i></span>
                <span>Clicks:<i>{{tongjiList.clicks}}</i></span>
                <span>Sales:<i>{{tongjiList.sales}}</i></span>
              </li>
            </ul>
          </div>
        </el-tab-pane>
        <el-tab-pane label="Data" name="Second" style="position:relative">
          <div class="card-box">
            <el-form label-width="130px">
              <div class='brand-box'>
                <el-form-item label="Campaign Name:" class='min-width-item'>
                  <span>asdasd</span>
                </el-form-item>
                <el-form-item label="Short Name:" class='min-width-item'>
                  <span>adasdas</span>
                </el-form-item>
              </div>
            </el-form>
          </div>
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>

<script>
  import {
    getinfluenceList,
    getInflurncerDetail,
    updateInfluencerDetail,
    getOperationUserList,
    influInfo,
    gettongji
  } from '../../../apiRequest.js';
  import moment from 'moment';
  import _ from 'lodash';
  export default {
    name: 'influencer',
    components: {
    },
    data() {
      return {
          activeName:'first',
          dialogBianji:false,
          tongjiList:{
              withdraw:'',
              balance:0,
              campaigns:'',
              conv:'',
              clicks:0,
              frozen:0,
              sales:''
          },
          influList:{
            logo:'',
            social:[],
            email:'',
            name:'',
            geo:'',
            city:'',
            page:'',
            brithday:'',
            paypal:'',
            fansRegions:'',
            fans:0,
            country:'',
            desc:'',
            tag:'',
            opemail:'',
            opname:''
          }
      }
    },
    created() {
      window.scrollTo(0,0);
      this.$parent.$emit('test', 'Details of influencer');
      let id=this.$route.params.id;
      this.infludetail(id);
    },
    methods: {
      handleClick(){

      },
      infludetail(id){
        influInfo({
          influid:id
        }).then((data)=>{
          if(data.data.code==0&&data.data.data){
              try{
              let msg=data.data.data;
              let arr;
              arr={
                name:msg.username,
                logo:msg.face,
                social:msg.platform,
                page:msg.influencer_user_page?msg.influencer_user_page:'-',
                city:msg.influencer_user_city?msg.influencer_user_city:'-',
                birthday:msg.influencer_user_birthday?msg.influencer_user_birthday:'-',
                geo:msg.influencer_user_country?msg.influencer_user_country:'-',
                fansRegions:msg.influencer_user_fansregion?msg.influencer_user_fansregion:'-',
                paypal:msg.influencer_user_paypal?msg.influencer_user_paypal:'-',
                email:msg.influencer_user_email?msg.influencer_user_email:'-',
                country:msg.influencer_user_country?msg.influencer_user_country:'-',
                desc:msg.influencer_user_desc?msg.influencer_user_desc:'-',
                tag:msg.influencer_user_fansinterests?msg.influencer_user_fansinterests:'-',
                opemail:msg.operation_user_email?msg.operation_user_email:'-',
                opname:msg.operation_username?msg.operation_username:'-'
              }
                this.influList=arr;
            }catch(err){
              console.log(err)
            }
          }
        })
        gettongji({
          influid:id
        }).then((data)=>{
            console.log(data);
          if(data.data.code==0&&data.data.data){
             try{
                 let influ=data.data.data;
                 let arr;
                 arr={
                     balance:influ.balance?influ.balance/1000:0,
                     frozen:influ.forzen?influ.forzen/1000:0,
                     sales:influ.sales,
                     withdraw:influ.withdraw?influ.withdraw/1000:0,
                     conv:influ.conversions,
                     campaigns:influ.campaigns,
                     clicks:influ.clicks
                 }
                 this.tongjiList=arr;
             }catch(err){
                 console.log(err);
             }
          }
        })
      },
      changeImg(plat){
        switch(plat.toLowerCase()){
          case 'facebook':return require('../../../assets/tw.png');break;
          case 'twitter': return require('../../../assets/in.png');break;
          case 'googleplus':return require('../../../assets/gg.jpg');break;
          case 'instagram':return require('../../../assets/ins.png');break;
          case 'youtube':return require('../../../assets/mu.png');break;
          case 'musical.ly':return require('../../../assets/li.png');break;
          case 'live.ly':return require('../../../assets/yo.png');break;
          default:break;
        }
      },
    }
  }
</script>

<style scoped>
  .influ-list-card{
    padding:10px;
    width:100%;
    overflow:hidden;
    font-size:14px;
    position:relative;
  }
  .bianji{
    position:absolute;
    right:10%;
    top:20px;
    color:#c1272d;
    cursor:pointer;
  }
  .bianji i{
    font-size:18px;
  }
  .influ-list-card-left{
    width:110px;
    min-width:80px;
    float:left;
    margin-top:10px;
  }
  .influ-list-card-left img{
    width:110px;
    height:110px;
  }
  .influname{
    font-size:16px;
    font-weight:bold;
  }
  .inlfu-list-card-right{
    float:left;
    width:80%;
    box-sizing:border-box;
  }
  .influ-list-item img{
    width:25px;
    height:25px;
    border-radius:5px;
    margin-right:5px;
  }
  .inlfu-list-card-right .iconfont{
    color:#c1272d;
    font-size:14px;
  }
  .inlfu-list-card-right p{
    margin:2px 8px;
  }
  .inlfu-list-card-right p span{
    display:inline-block;
    margin-right:10px;
  }
  .inlfu-list-card-right p span i:first-child{
    margin-right:5px;
  }
  .card-box{
    margin-top:20px;
    padding:0 10px;
    background:#f5f7f9;
  }
  .card-box ul{
    padding: 5px 10px 0 10px;
  }
  .card-box li {
    line-height: 30px;
    display: flex;
    justify-content: flex-start;
  }
  .card-box li span {
    display: inline-block;
    width: 25%;
    float: left;
    color:#000;
  }
  .card-box li span i{
    margin-left:20px;
  }
  .card-box-email li{
    display:block;
  }
  .card-box-email li div{
    line-height: 30px;
    display: flex;
    justify-content: flex-start;
  }
  .card-box-email li div span{
    display: inline-block;
    width: 30%;
    float: left;
    color:#000;
  }
  .view{
    margin-top:20px;
  }
  .nowrap span{
    width:100% !important;
  }
</style>
