<template>
  <div class="influencer">
    <div style="margin-bottom:20px;">
      <el-input
        placeholder="搜索网红"
        icon="search"
        v-model="state2"
        style="width:25%;margin-right:20px;"
        :on-icon-click="handleIconClick"
      >
      </el-input>
      <el-input
        placeholder="搜索邮件"
        icon="search"
        v-model="state3"
        style="width:25%;margin-right:20px;"
        :on-icon-click="handleIcon"
      >
      </el-input>
      <el-select v-model="valuePM" filterable placeholder="请选择PM" @change="selectPM" style="width:25%;margin-right:20px;">
        <el-option
          v-for="item in options1"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
      <el-button @click="addInfluencer" style="float: right;border-radius:5px;background:#20b9f5;border-color:#20b9f5;" type="primary">Add</el-button>
      <i class="iconfont icon-yaoqing1" @click="dialogFormVisible=true"></i>
      <i class="iconfont icon-manager" @click="inviteManage"></i>
    </div>
    <el-card class="box-card" style="background-color:#fff;">
      <div class="influ-list-card" @click="checkDetail(o)" v-for="o in influObj">
        <div class="influ-list-card-left">
          <img :src="o.logo" alt="">
        </div>
        <div class="inlfu-list-card-right">
          <p class="influ-list-item">
            <span class="influname">{{o.name}}</span><span><i class="iconfont icon-fensi" style="font-size:20px;"></i><i>255</i></span>
          </p>
          <p class="influ-list-item">
            <span>{{o.desc}}</span>
          </p>
          <p class="influ-list-item">
            <img v-for="i in o.platform" :src="changeImg(i.influencer_user_platform)" alt="" v-if="i.influencer_user_platform">
          </p>
          <p class="influ-list-item">
            <span><i class="iconfont icon-ditu"></i><i>{{o.country}}</i></span>
            <span><i style="color:#c1272d">{{o.email}}</i></span>
          </p>
          <p class="influ-list-item">
            <span><i class="iconfont icon-tag"></i><i>{{o.tag}}</i></span>
            <span><i class="iconfont icon-nan"></i><i>{{o.opname?o.opname:'-'}}</i></span>
            <!--<span><i class="iconfont icon-tubiaozitihua06"></i><i>sad</i></span>-->
            <span><i class="iconfont icon-youxiang "></i><i>{{o.opemail?o.opemail:'-'}}</i></span>
          </p>
        </div>
      </div>
    </el-card>
    <!--分页器-->
    <div class="block">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page.sync="currentPage1"
        :page-size="sizes"
        :total='nums'
        layout="total,prev, pager, next, jumper"
      >
      </el-pagination>
    </div>
    <el-dialog title="Invite Influencer" v-model="dialogFormVisible" size="small">
      <el-form  :model="InviteForm" label-width="120px" label-position="top" ref="InviteForm" :rules="InviteRules">
        <el-form-item label="Influencer e-mail:" prop="email" style="width:100%;">
          <el-input v-model="InviteForm.email"></el-input>
        </el-form-item >
        <el-form-item label="Influencer Name:" prop="name" style="width:100%;">
          <el-input v-model="InviteForm.name"></el-input>
        </el-form-item>
        <el-form-item label="Tag:" prop="tag">
          <el-select v-model="InviteForm.tag" placeholder="Please Select" style="width:100%;">
            <el-option
              v-for="item in cateOptions"
              :key="item.cate"
              :label="item.cate"
              :value="item.cate">
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="closeDialog('InviteForm')">Cancel</el-button>
        <el-button @click="nextInvite('InviteForm')">Add Next</el-button>
        <el-button type="primary" @click="subInvite('InviteForm')">Add</el-button>
      </div>
    </el-dialog>

  </div>
</template>

<script>
  import {
    getinfluenceList,
    getInflurncerDetail,
    updateInfluencerDetail,
    getOperationUserList,
    influList,
    inviteInflu
  } from '../../../apiRequest.js';
  import moment from 'moment';
  import _ from 'lodash';
  export default {
    name: 'influencer',
    components: {
    },
    data() {
      return {
        currentPage1:1,
        sizes:8,
        nums:0,
        state2:'',
        state3:'',
        valuePM:'',
        options1:[],
        dialogFormVisible: false,
        InviteForm:{
          email:'',
          name:'',
          tag:''
        },
        influObj:[],
        cateOptions:[
          {
            cate:'Games'
          },{
            cate:'Shopping'
          },{
            cate:'Beauty'
          },{
            cate:'Lifestyle'
          },{
            cate:'Tools'
          },{
            cate:'Social'
          },{
            cate:'Education'
          },{
            cate:'Adult'
          },{
            cate:'Entertainment'
          }
        ],
        InviteRules:{
          email:[
            { required: true,trigger: 'blur' },
            {type:'email',trigger:'blur'}
          ],
          name:[
            { required: true,trigger: 'blur' }
          ],
          tag:[
            { required: true, message: 'Please select', trigger: 'change' }
          ],
        }
      }
    },
    created() {
      window.scrollTo(0,0);
      this.$parent.$emit('test', 'Influencers');
      this.handleCurrentChange(1);
      this.getPM();
    },
    methods: {
//        获取PM列表
      getPM(){
        getOperationUserList().then((data) => {
          let newTableData1 = [];
          if (data.data.code === 0) {
            data.data.msg.forEach((Data, i) => {
              newTableData1.push({
                value : Data.operation_user_id,
                label : Data.operation_user_name
              });
            })
            this.options1 = newTableData1;
            this.options1.unshift({value: 0, label: 'All',});
          } else {
            this.$notify.error({
              message: data.data.msg
            });
          }
        }).catch((res)=>{
          this.$notify({
            message: res,
            type: 'error'
          });
        });
      },
      handleIconClick(ev){
        var state2=this.state2;
        influList({
          influname:state2,
          limit:this.sizes
        }).then((data) => {
          this.handleData(data);
        })
      },
      handleIcon(ev){
        var state3=this.state3;
        influList({
          email:state3,
          limit:this.sizes
        }).then((data) => {
          this.handleData(data);
        })
      },
      selectPM(value){
        influList({
          pm:value,
          limit:this.sizes,
        }).then((data) => {
          this.handleData(data);
        })
        if (value === 0){
          this.handleCurrentChange(1);
        }
      },
      handleSizeChange(){},
      handleCurrentChange(val){
        influList({
          limit:this.sizes,
          page:val,
        }).then((data)=>{
       this.handleData(data);
        })
      },
      handleData(data){
        this.nums=data.data.nums;
        if(data.data.code==0 && data.data.data){
          let arr=[];
          data.data.data.forEach((c,i)=>{
            arr.push({
              name:c.influencer_user_page,
              email:c.influencer_user_email,
              platform:c.platform,
              country:c.influencer_user_country,
              userid:c.influencer_user_id,
              opemail:c.operation_user_account,
              opname:c.operation_user_name,
              logo:c.influencer_user_logo?c.influencer_user_logo:require('../../../assets/1.jpg'),
              tag:c.influencer_user_fansinterests?c.influencer_user_fansinterests:'-',
              desc:c.influencer_user_desc?c.influencer_user_desc:'-'
            })
          })
          this.influObj=arr;
        }
      },
      addInfluencer() {
        this.$router.push('/app/addInfluencer');
      },
//      退出邀请
      closeDialog(formName){
        this.dialogFormVisible=false;
        this.$refs[formName].resetFields();
      },
//     连续邀请
      nextInvite(formName){
        this.$refs[formName].validate((valid) => {
          if (valid) {
            inviteInflu({
              email:this.InviteForm.email,
              influname:this.InviteForm.name,
              tag:this.InviteForm.tag
            }).then((data)=>{
              if(data.data.code==0){
                this.$message.success('Success');
                this.$refs[formName].resetFields();
              }
            }).catch((res)=>{
              this.$message.error('Error');
            })
          }
        })
      },
//     邀请网红提交
      subInvite(formName){
        this.$refs[formName].validate((valid) => {
          if (valid) {
            inviteInflu({
              email:this.InviteForm.email,
              influname:this.InviteForm.name,
              tag:this.InviteForm.tag
            }).then((data)=>{
               if(data.data.code==0){
                 this.$refs[formName].resetFields();
                 this.dialogFormVisible=false;
                 this.$message.success('Success');
               }else{
                 this.$notify({
                   title: 'warning',
                   message: 'This e-mail has been invited, if you want to invite again, please go to the invitation list.',
                   type: 'warning'
                 });
               }
            }).catch((res)=>{
              this.$message.error('Error');
            })
          }
        })
      },
      checkDetail(row){
         this.$router.push('/app/infludetail/'+row.userid)
      },
      changeImg(plat){
        switch(plat.toLowerCase()){
          case 'facebook':return require('../../../assets/tw.png');break;
          case 'twitter': return require('../../../assets/in.png');break;
          case 'googleplus':return require('../../../assets/gg.jpg');break;
          case 'instagram':return require('../../../assets/ins.png');break;
          case 'youtube':return require('../../../assets/mu.png');break;
          case 'musical.ly':return require('../../../assets/li.png');break;
          case 'live.ly':return require('../../../assets/yo.png');break;
          default:break;
        }
      },
      inviteManage(){
          this.$router.push('/app/inviteList');
      },
    },
  }
</script>

<style scoped>
  i{
    font-style:normal;
  }
  .block{
    margin-top:30px;
    display:flex;
    justify-content:center;
  }
  .icon-yaoqing1{
    font-size: 30px;
    float: right;
    line-height: 40px;
    margin-right: 10px;
    color: #20b9f5;
    cursor:pointer;
  }
  .icon-manager{
    font-size: 30px;
    float: right;
    line-height: 40px;
    margin-right: 10px;
    color: #20b9f5;
    cursor:pointer;
  }
  .influname{
    font-size:16px;
    font-weight:bold;
  }
  .influ-list-card{
    width: 100%;
    overflow: hidden;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 10px;
    background: #f5f7f9;
    cursor:pointer;
  }
  .influ-list-card-left{
    width:110px;
    min-width:80px;
    float:left;
    margin-top:10px;
  }
  .influ-list-card-left img{
    width:110px;
    height:110px;
  }
  .inlfu-list-card-right{
    float:left;
    width:80%;
    box-sizing:border-box;
  }
  .influ-list-item img{
    width:25px;
    height:25px;
    border-radius:5px;
    margin-right:5px;
  }
  .inlfu-list-card-right .iconfont{
    color:#c1272d;
    font-size:14px;
  }
  .inlfu-list-card-right p{
    margin:2px 8px;
  }
  .inlfu-list-card-right p span{
    display:inline-block;
    margin-right:10px;
  }
  .inlfu-list-card-right p span i:first-child{
    margin-right:5px;
  }
</style>
