<template>
  <div class="post">
    <div class="body-box">
      <el-form label-width="120px" style='display: flex;flex-wrap: wrap;'>
        <el-form-item label="产品ID：">
          {{companyId}}
        </el-form-item>
        <el-form-item label="产品名称：">
          {{companyName}}
        </el-form-item>
        <el-form-item label="类型：">
          {{companyType}}
        </el-form-item>
        <el-form-item label="地区：">
          {{companyArea}}
        </el-form-item>
        <el-form-item label="描述：">
          {{companyDescribe}}
        </el-form-item>
      </el-form>
    </div>
    <div class="body-box">
      <el-form label-width="120px">
        <el-form-item label="网红ID：">
          {{influncerId}}
        </el-form-item>
        <el-form-item label="网红名称：">
          {{influncerName}}
        </el-form-item>
        <el-form-item label="推广链接：">
          {{postUrl}}
        </el-form-item>
        <el-form-item label="推广价格：">
          {{price}}
        </el-form-item>
      </el-form>
    </div>
    <div class="body-box">
      <el-form label-width="120px">
        <el-form-item label="Post URL：">
         <Input class='body-box-input' :disabled='isDisabled' :value="url" :class="{'colorActive':isClass}" />
          <a class='amend' @click='amendToggle'>修改</a>
        </el-form-item>
        <a  class='addUrl' @click='toggle' v-if='isShow'>网红没填完整？添加一条</a>
        <el-form :inline="true" :model="formInline" v-else='isShow' class="demo-form-inline">
          <el-input v-model="formInline.posturl" style='width:80%;'></el-input>
          <el-button @click='submit(sub)'>提交</el-button>
          <el-button @click='submit(close)'>取消</el-button>
        </el-form>
      </el-form>
    </div>
  </div>
</template>

<script>
  import {
    getNewInfluList,
    getOperationUserList,
    reviewInflu
  } from '../../../apiRequest.js';
  import _ from 'lodash';
  import store from 'store2';
  export default {
    name: 'influencer',
    components: {
    },

    data() {
      return {
        companyId:'',
        companyDescribe:'',
        companyArea:'',
        companyType:'',
        companyName:'',
        influncerName:'',
        influncerId:'',
        price:'',
        postUrl:'',
        url:'dasasssssssdasdssadadasda',
        isShow:true,
        isClass:false,
        isDisabled:true,
        formInline:{
          posturl:''
        }
      }
    },
    created() {
      window.scrollTo(0,0);
      this.$parent.$emit('test', 'POST审核');
    },
    methods: {
       toggle(){
         this.isShow=false;
       },
      amendToggle(){
         this.isDisabled=false;
         this.isClass=true;
      },
      submit(type){
        if(type==='sub'){

        }
        this.isShow=true;
      }
    }
  }
</script>

<style scoped>
  .body-box-input{
    background: #f5f7f9;
    border: none;
  }
  .colorActive{
    background: #fff;
    width: 500px;
    height: 30px;
    border: solid 1px #bfcbd9;
  }
  .amend{
    float:right;
    color:#c1272d;
  }
  .addUrl{
    display: block;
    cursor: pointer;
    color:#c1272d;
    text-decoration: underline;
    margin-bottom:10px;
  }
  .body-box {
    padding: 20px;
    margin-bottom: 40px;
    background-color: #f5f7f9;
  }
  .el-form-item{
    width:50%;
  }
</style>
