<template>
    <div class="addcoming">
        <div class="body-box">
            <el-form ref="form" :model="form" label-width="120px" label-position="right" :rules="rules">
                <el-form-item label="公司名称:" prop="name">
                    <el-input style="width:60%" v-model="form.name"></el-input>
                </el-form-item>
                <el-form-item label="公司网址:" prop="url">
                    <el-input style="width:60%" v-model="form.url"></el-input>
                </el-form-item>
                <el-form-item label="Buiness Type:" prop="type">
                    <el-select v-model="form.type" placeholder="Please select" style="width: 60%">
                        <el-option label="Shopping" value="Shopping" class="el-select-item"></el-option>
                        <el-option label="Beauty" value="Beauty" class="el-select-item"></el-option>
                        <el-option label="Game" value="Game" class="el-select-item"></el-option>
                        <el-option label="Lifestyle" value="Lifestyle" class="el-select-item"></el-option>
                        <el-option label="Tools" value="Tools" class="el-select-item"></el-option>
                        <el-option label="Social" value="Social" class="el-select-item"></el-option>
                        <el-option label="Education" value="Education" class="el-select-item"></el-option>
                        <!--<el-option label="Other" value="Other" class="el-select-item"></el-option>-->
                    </el-select>
                    <!--<el-input v-if="isShowOther" v-model="form.productTypeOther" placeholder="Category" style="width:30%"></el-input>-->
                </el-form-item>
                <el-form-item label="公司邮箱:" prop="email">
                    <el-input style="width:60%" v-model="form.email"></el-input>
                </el-form-item>
                <el-form-item label="联系电话:" prop="phone">
                    <el-input style="width:60%" v-model="form.phone" @blur="checkPhones"></el-input>
                </el-form-item>
                <el-form-item label="联系人:" prop="user">
                    <el-input style="width:60%" v-model="form.user"></el-input>
                </el-form-item>
                <el-form-item label="创建人:" prop="camuser">
                  <el-input style="width:60%" v-model="form.camuser"></el-input>
                </el-form-item>
                <el-form-item>
                    <div style="width:90%;text-align: right;">
                        <el-button @click="jumpCompany">返回</el-button>
                        <el-button type="primary" @click="onSubmit" style='background:#20b9f5;border-color:#20b9f5'>立即创建</el-button>
                    </div>
                </el-form-item>
            </el-form>
        </div>
    </div>
</template>

<script>
    import {
        createCompany,
        getPhoneUnic
    } from '../../../apiRequest';
    import sha1 from 'sha1';
    import moment from 'moment';
    export default {
        name: 'addcoming',
        components: {
        },
        data() {
            return {
                msg: 'Welcome',
                form: {
                    name: '',
                    url: '',
                    type: '',
                    email: '',
                    phone: '',
                    user: '',
                    date:'',
                    camuser:''
                },
                rules: {
                    name: [
                        { required: true, message: '请输入公司名称', trigger: 'blur' }
                    ],
                    url: [
                        { required: true, message: '请选公司官网网址', trigger: 'blur' }
                    ],
                    type: [
                        { required: true, message: '请选择公司类型', trigger: 'change' }
                    ],
                    email: [
                        { required: true, message: '请输入公司邮箱', trigger: 'blur' },
                        { type: 'email', message: 'Type in correct E-mail', trigger: 'blur,change' }
                    ],
                    phone: [
                        { required: true, message: '请输入公司电话', trigger: 'blur' }
                    ],
                    user: [
                        { required: true, message: '请输入公司联系人名称', trigger: 'blur' }
                    ],
                    camuser: [
                      { required: true, message: '请输入创建人名称', trigger: 'blur' }
                    ],
                }
            }
        },
        created() {
            window.scrollTo(0,0);
            this.$parent.$emit('test', '新增公司');
        },
        methods: {
            checkPhones(){
                if(this.form.phone){
                    var reg = /^1[3|4|5|7|8][0-9]{9}$/;
                    var flag = reg.test(this.form.phone);
                    if(flag){
                        this.$notify.success({
                            message: '此电话号码可用'
                        });
                        getPhoneUnic(this.form.phone).then((data) => {
                            if(data.data.code === 0 ){
                                if(data.data.msg === 'exist'){
                                    this.$notify.error({
                                        message: '此电话已经注册过'
                                    });
                                    this.form.phone = '';
                                }else{

                                }
                            }
                        })
                    }else{
                        this.$notify.warning({
                            message: 'Please enter the correct number'
                        });
                        this.form.phone = '';
                    }

                }
            },
            jumpCompany() {
                this.$router.push('/app/company');
            },
            onSubmit() {
                this.$refs['form'].validate((valid) => {
                    if (valid) {
                        let obj = {
                            brand_company_name: this.form.name.trim(),
                            brand_user_password: sha1('qwer123'),
                            brand_company_phone: this.form.phone,
                            brand_company_homepage: this.form.url,
                            brand_company_email: this.form.email,
                            brand_company_contact: this.form.user,
                            brand_company_type: this.form.type,
                            brand_company_state: 3,
                            brand_company_camuser:this.form.camuser,
                            brand_company_camdate:moment(new Date().toLocaleDateString()).format('YYYY-MM-DD'),
                        }
                        console.log(obj);
                        createCompany(obj).then((data) => {
                            if (data.data.code === 0) {
                                this.$notify({
                                    title: 'success',
                                    message: '添加成功！',
                                    type: 'success'
                                });
                                this.$router.push('/app/company');
                            }else if(data.data.code === 2){
                                this.$notify.error({
                                    title: 'error',
                                    message: '公司名称重复'
                                });
                            }
                        }).catch((res) => {
                            this.$notify.error({
                                title: 'error',
                                message: res
                            });
                        });
                    } else {
                        return false;
                    }
                });
            }
        }
    }
</script>

<style scoped>
   .body-box{
     padding:80px 100px;
   }
</style>
