<template>
  <div class="addproduct">
    <el-card class="box-card">
        <el-form :model="form1" label-width="120px" ref="form1" :rules="rules">
            <el-form-item label="产品名称:" prop="name">
                <el-input style="width:60%;" v-model="form1.name"></el-input>
            </el-form-item>
            <el-form-item label="产品简称:" prop="smallName">
                <el-input v-model="form1.smallName" style="width:60%" @blur="checkAbname"></el-input>
            </el-form-item>
            <el-form-item label="产品类型:" prop="type">
                <el-row style="width:60%;">
                <el-col :span="8">
                    <el-select v-model="form1.type" placeholder="--请选择--">
                        <el-option label="APP" value="app" class="el-select-item"></el-option>
                        <el-option label="LINK" value="link" class="el-select-item"></el-option>
                    </el-select>
                </el-col>
                <el-col :span="8">
                    <el-select v-model="form1.subType" placeholder="--请选择--">
                        <el-option label="Shopping" value="Shopping"></el-option>
                        <el-option label="Beauty" value="Beauty"></el-option>
                        <el-option label="Games" value="Game"></el-option>
                        <el-option label="Lifestyle" value="Lifestyle"></el-option>
                        <el-option label="Tools" value="Tools"></el-option>
                        <el-option label="Social" value="Social"></el-option>
                        <el-option label="Education" value="Education"></el-option>
                        <el-option label="Other" value="Other"></el-option>
                    </el-select>
                </el-col>
                <el-col :span="8">
                    <el-input v-if="form1.subType==='Other'" v-model="form1.otherType" placeholder="Category"></el-input>
                </el-col>
                </el-row>
            </el-form-item>
            <el-form-item label="产品描述:" prop="note">
                <el-input  style="width:60%;" v-model="form1.note" type="textarea" :maxlength="256" :rows="3" placeholder="Description should be less than 256 letters">
                </el-input>
              <div>{{this.form1.note.length}}/256</div>
            </el-form-item>

            <el-form-item label="推广方式:" prop="pullType">
                <el-select v-model="form1.pullType" placeholder="--请选择--"  style="width:60%">
                    <el-option label="分配" value="0"></el-option>
                    <el-option label="自由" value="1"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="上传logo:" prop="logo">
                <el-upload
                    class="avatar-uploader"
                    name="logo"
                    :action="baseURL"
                    :show-file-list="false"
                    :on-success="handleAvatarScucess"
                    :before-upload="beforeAvatarUpload">
                    <img v-if="imageBase" :src="imageBase" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                </el-upload>
            </el-form-item>
            <p style="width:100%;border-bottom: 1px solid #d1dbe5"></p>
            <el-form-item label="推广链接:" prop="default">
                <div>
                    <el-table
                        :data="tableData"
                        border
                        style="width: 100%">
                        <!--<el-table-column
                            label="Mode"
                            width="80"
                            prop="mode">
                        </el-table-column>-->
                        <el-table-column
                            label="Location"
                            width="120"
                            prop="location">
                        </el-table-column>
                        <el-table-column label="URL" prop="url">
                            <template scope="scope">
                                <p>IOS: {{ scope.row.url.ios }}</p>
                                <p>Android: {{ scope.row.url.android }}</p>
                                <p>PC: {{ scope.row.url.pc }}</p>
                            </template>
                        </el-table-column>
                        <el-table-column label="Price($)" prop="price">
                            <template scope="scope">
                                <p>IOS: {{ scope.row.price.ios_price }}</p>
                                <p>Android: {{ scope.row.price.android_price }}</p>
                                <p>PC: {{ scope.row.price.pc_price }}</p>
                            </template>
                        </el-table-column>
                        <el-table-column label="操作" width="80">
                            <template scope="scope">
                                <el-button
                                size="small"
                                type="danger"
                                @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div>
                        <el-row :gutter="20">
                            <el-col :span="6">
                                <div>
                                    <el-select v-if="isSelectCountry" :disabled="isSelectCountry" v-model="countryList.countryValue" filterable placeholder="请选择国家,点击+按钮">
                                        <el-option label="Default" value="Default"></el-option>
                                    </el-select>
                                    <el-select v-if="!isSelectCountry" v-model="countryList.countryValue" filterable placeholder="请选择国家,点击+按钮">
                                        <el-option v-for="item in options" :label="item.value" :key="item.value" :value="item.value"></el-option>
                                    </el-select>
                                </div>
                            </el-col>
                            <el-col :span="6">
                                <div>
                                    <el-button @click="changeCampaignState('moreCountry')">多国家</el-button>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row :gutter="20">
                            <el-col style="width:100%;">
                                <div>
                                    <el-input v-model="countryList.ios_link" placeholder="IOS"  style="width:60%"></el-input>
                                    <el-input v-model="countryList.ios_price" placeholder="PRICE" style="width:60%;margin:10px 0;">
                                        <template slot="prepend">ios_price:</template>
                                    </el-input>
                                    <el-input v-model="countryList.android_link" placeholder="Andorid"  style="width:60%"></el-input>
                                    <el-input v-model="countryList.android_price" placeholder="PRICE" style="width:60%;margin:10px 0;">
                                        <template slot="prepend">android_price:</template>
                                    </el-input>
                                    <el-input v-model="countryList.pc_link" placeholder="PC"  style="width:60%"></el-input>
                                    <el-input v-model="countryList.pc_price" placeholder="PRICE" style="width:60%;margin:10px 0;">
                                        <template slot="prepend">pc_price:</template>
                                    </el-input>
                                </div>
                              <el-button @click="changeCampaignState('addurl')">添加</el-button>
                            </el-col>
                        </el-row>
                    </div>
                </div>
            </el-form-item>
            <p style="width:100%;border-bottom: 1px solid #d1dbe5"></p>
            <el-form-item label="Age:" prop="age">
                <el-checkbox-group v-model="form1.age">
                    <el-checkbox label="All" name="type" style="marginLeft:15px;"></el-checkbox>
                    <el-checkbox label="13-17" name="type"></el-checkbox>
                    <el-checkbox label="18-24" name="type"></el-checkbox>
                    <el-checkbox label="25-34" name="type"></el-checkbox>
                    <el-checkbox label="35-44" name="type"></el-checkbox>
                    <el-checkbox label="45-54" name="type"></el-checkbox>
                    <el-checkbox label="55+" name="type"></el-checkbox>
                </el-checkbox-group>
            </el-form-item>
            <el-form-item label="Gender:" prop="gender">
                <el-radio-group v-model="form1.gender">
                    <el-radio label="All" style="marginLeft:15px;"></el-radio>
                    <el-radio label="Male"></el-radio>
                    <el-radio label="Female"></el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="Location:" prop="region">
                <el-checkbox-group v-model="form1.region">
                    <el-checkbox label="All" name="All" style="marginLeft:15px;"></el-checkbox>
                    <el-checkbox label="USA" name="USA"></el-checkbox>
                    <el-checkbox label="UK" name="UK"></el-checkbox>
                    <el-checkbox label="Netherlands" name="Netherlands"></el-checkbox>
                    <el-checkbox label="France" name="France"></el-checkbox>
                    <el-checkbox label="Italy" name="Italy"></el-checkbox>
                    <el-checkbox label="Germany" name="Germany"></el-checkbox>
                    <el-checkbox label="Brazil" name="Brazil"></el-checkbox>
                    <el-checkbox label="Mexico" name="Mexico"></el-checkbox>
                    <el-checkbox label="India" name="India"></el-checkbox>
                    <el-checkbox label="Canada" name="Canada"></el-checkbox>
                    <el-checkbox label="Australia" name="Australia"></el-checkbox>
                    <el-checkbox label="New Zealand" name="New Zealand"></el-checkbox>
                    <el-checkbox label="Thailand" name="Thailand"></el-checkbox>
                    <el-checkbox label="Vietnam" name="Vietnam"></el-checkbox>
                    <el-checkbox label="Others" name="Others"></el-checkbox>
                </el-checkbox-group>
            </el-form-item>
            <p style="width:100%;border-bottom: 1px solid #d1dbe5"></p>
             <el-form-item label="结算方式:" prop="amountType">
                <el-select v-model="form1.amountType" placeholder="请选择" style="width:60%;">
                    <el-option label="CPC" value="0"></el-option>
                    <el-option label="CPA" value="1"></el-option>
                    <el-option label="Package" value="2"></el-option>
                    <el-option label="CPI" value="3"></el-option>
                    <el-option label="CPS" value="4"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="美元($):" prop="amount">
                <el-input style="width:60%" v-model.number="form1.amount" @blur="checkAmount"></el-input>
            </el-form-item>
            <p style="width:100%;border-bottom: 1px solid #d1dbe5"></p>
            <el-form-item label="文案:" prop="desc">
                <el-input style="width:60%;" type="textarea" v-model="form1.desc"></el-input>
            </el-form-item>
            <el-form-item label="上传图片:" prop="pics">
                <el-upload
                    :action="baseURL"
                    list-type="picture-card"
                    name="logo"
                    multiple
                    :on-preview="handlePictureCardPreview"
                    :on-success="handleAvatarSuccess1"
                    :before-upload="beforeAvatarUpload1"
                    :on-remove="handleRemove">
                    <i class="el-icon-plus"></i>
                </el-upload>
                <el-dialog v-model="dialogVisible2" size="tiny">
                    <img width="100%" :src="dialogImageUrl" alt="">
                </el-dialog>
            </el-form-item>
            <el-form-item label="上传视频:">
                <el-upload name="logo" class="upload-demo" :action="baseURL" :show-file-list=false :on-success="handleAvatarSuccess2" :before-upload="beforeAvatarUpload2">
                    <el-button type="primary" style="width:120px;border-radius:5px;">上传视频</el-button>
                </el-upload>
                <video style="display:block;position:relative;top:12px;left:-12px;" v-if="istrue" width="200px" height="100px" controls :src="videourl"></video>
            </el-form-item>
            <div style="text-align:center;margin-left:21%;">
                <el-button type="primary" @click="jumpDetails"> 提交 </el-button>
            </div>

        </el-form>
    </el-card>
    </div>
</template>

<script>
    import {
        createCompanyProducts,
        getAbnameExist
    } from '../../../apiRequest';
    import baseurl from '../../../configUrl';
    import countryList from '../../../country.json';
    export default {
        name: 'addproduct',
        data() {
          let checkLength = (rule, value, callback) => {
            if (value.length > 256) {
              callback(new Error('Please type in lesser than 256 characters.'));
            } else {
              callback();
            }
          };
            let checkAmount = (rule, value, callback) => {
                if (!value) {
                    callback(new Error('请输入预算金额'));
                } else if (value < 0.01) {
                    callback(new Error('金额必须大于0.01'));
                }else if (value > 1000000) {
                    callback(new Error('金额必须小于1000000'));
                } else {
                    callback();
                }
            };
            return {
                msg: 'Welcome',
                baseURL: baseurl.uploadURL,
                dialogVisible: false,
                dialogVisible1: false,
                dialogVisible2: false,
                dialogImageUrl: '',
                isSelectCountry: true,
                istrue: false,
                form: {
                    name: '',
                    ios_link: '',
                    android_link: '',
                    pc_link: '',
                    mode: 0,
                    countrys: []
                },
                form1: {
                    name: '',
                    smallName: '',
                    type: '',
                    subType: '',
                    otherType: '',
                    pullType: '',
                    note: '',
                    age: [],
                    gender: '',
                    region: [],
                    amount: '',
                    amountType: '',
                    desc: '',
                    pics: [],
                    logo: '',
                    video: '',
                    default: ''
                },
                countryList: {
                    countryValue: 'Default',
                    ios_link: '',
                    android_link: '',
                    pc_link: '',
                    ios_price: '',
                    android_price: '',
                    pc_price: ''
                },
                countrys: [],
                tableData: [],
                options: [],
                imageBase: '',
                videourl: '',
                pictureList: [],
                rules: {
                    name: [
                        { required: true, message: '输入名称', trigger: 'blur' }
                    ],
                    smallName: [
                        { required: true, message: '输入简称', trigger: 'change' }
                    ],
                    type: [
                        { required: true, message: '请选择类型', trigger: 'change' }
                    ],
                    pullType: [
                        { required: true, message: '请选择推广类型', trigger: 'change' }
                    ],
                    logo: [
                        { required: true, message: '请上传logo', trigger: 'change' }
                    ],
                    default: [
                        { required: true, message: '请输入默认链接', trigger: 'change' }
                    ],
                    note: [
                        { required: true, message: 'Description should be less than 256 letters',validator: checkLength, trigger: 'blur' }
                    ],
                    // type: [
                    //     { required: true, message: '请选产品类型', trigger: 'change' }
                    // ],
                    // type2: [
                    //     { required: true, message: '请选产品子类型', trigger: 'change' }
                    // ],
                    // description: [
                    //     { required: true, message: '请输入产品描述', trigger: 'blur' },
                    // ],
                    age: [
                        { type: 'array',required: true, message: '请选选择年龄', trigger: 'change' }
                    ],
                    gender: [
                        { required: true, message: '请选选择性别', trigger: 'change' }
                    ],
                    region: [
                        { type: 'array',required: true, message: '请选选择地区', trigger: 'change' }
                    ],
                    amountType: [
                        { required: true, message: '请选产品结算方式', trigger: 'change' }
                    ],
                    amount: [
                        { required: true, trigger: 'blur', validator: checkAmount },
                        { type: 'number', message: '产品预算金额必须为数字值'}
                    ],
                    desc: [
                        { required: true, message: '请输入产品预置文案', trigger: 'blur' },
                    ],
                    pics: [
                        { type: 'array',required: true, message: '请上传图片', trigger: 'change' },
                    ],
                }
            }
        },
        created() {
            window.scrollTo(0,0);
            this.$parent.$emit('test', '新增产品');
            countryList.forEach((c, i) => {
                this.options.push({
                    value: c.iso2,
                    label: c.countryName
                })
            })
        },
        methods: {
            checkAbname(){
                getAbnameExist({
                    abname: this.form1.smallName
                }).then((data)=>{
                    if(data.data.code === 0){
                        // 存在
                        this.$notify({
                            title: '警告',
                            message: '存在,重新输入简称',
                            type: 'warning'
                        });
                        this.form1.smallName = '';
                    }else if(data.data.code === 3){
                        // 不存在
                    }
                })
            },
            checkAmount(){

            },
            handleRemove(file, fileList) {
            },
            handlePictureCardPreview(file) {
                this.dialogImageUrl = file.url;
                this.dialogVisible2 = true;
            },
            changeCampaignState(type){
                if (type === 'addurl') {
                    let obj = {
                        mode: 0,
                        location: this.countryList.countryValue,
                        url: {
                            android: this.countryList.android_link,
                            ios: this.countryList.ios_link,
                            pc: this.countryList.pc_link,
                            ios_price: this.countryList.ios_price,
                            android_price: this.countryList.android_price,
                            pc_price: this.countryList.pc_price,
                        },
                        price: {
                            ios_price: this.countryList.ios_price,
                            android_price: this.countryList.android_price,
                            pc_price: this.countryList.pc_price,
                        }
                    };
                    if (this.countryList.countryValue === 'Default') {
                        obj.mode = 0;
                    } else {
                        obj.mode = 1;
                    }
                    if(this.tableData.length === 0){
                        this.form1.default = 'ok';
                        this.countryList.countryValue = '';
                    }
                    this.tableData.push(obj);
                } else if (type === 'moreCountry') {
                    if (this.tableData.length > 0) {
                        this.countryList.countryValue = '';
                        this.isSelectCountry = false;
                    } else {
                        this.$notify({
                            title: '警告',
                            message: '请添加Default模式链接',
                            type: 'warning'
                        });
                    }
                }
            },
            handleDelete(index, row) {
                this.tableData.splice(index, 1);
            },
            jumpDetails() {
                this.$refs['form1'].validate((valid) => {
                    if (valid) {
                        let defaultUrl = {
                            ios: '',
                            android: '',
                            pc: '',
                            ios_price: '',
                            android_price: '',
                            pc_price: ''
                        };
                        let countryJISON = [];
                        if(this.tableData.length > 0){
                            this.tableData.forEach((tab, index)=> {
                                if (tab.mode !== 0) {
                                    countryJISON.push({
                                        countryValue: tab.location,
                                        ios_link: tab.url.ios,
                                        android_link: tab.url.android,
                                        pc_link: tab.url.pc,
                                        ios_price: parseInt(tab.url.ios_price*1000),
                                        android_price: parseInt(tab.url.android_price*1000),
                                        pc_price: parseInt(tab.url.pc_price*1000)
                                    });
                                } else {
                                    defaultUrl.ios = tab.url.ios;
                                    defaultUrl.android = tab.url.android;
                                    defaultUrl.pc = tab.url.pc;
                                    defaultUrl.ios_price = parseInt(tab.url.ios_price*1000);
                                    defaultUrl.android_price = parseInt(tab.url.android_price*1000);
                                    defaultUrl.pc_price = parseInt(tab.url.pc_price*1000);
                                }
                            });
                        }
                        let obj = {
                            operation_user_id: this.$route.params.id,
                            operation_campaign_logo: this.form1.logo,
                            operation_campaign_name: this.form1.name,
                            abname: this.form1.smallName,
                            distr_mode: this.form1.pullType,
                            operation_campaign_type: this.form1.type,
                            operation_campaign_subtype: this.form1.subType,
                            operation_campaign_othertype: this.form1.otherType,
                            operation_campaign_desc: this.form1.desc,
                            operation_campaign_ioslink: defaultUrl.ios,
                            operation_campaign_androidlink: defaultUrl.android,
                            operation_campaign_pclink: defaultUrl.pc,
                            ios_price: defaultUrl.ios_price,
                            android_price: defaultUrl.android_price,
                            pc_price: defaultUrl.pc_price,
                            operation_campaign_age: this.form1.age.join(','),
                            operation_campaign_sex: this.form1.gender,
                            operation_campaign_region: this.form1.region.join(','),
                            operation_campaign_amount_type: this.form1.amountType,
                            operation_campaign_amount: (this.form1.amount*1).toFixed(2) * 1000,
                            operation_campaign_pics: this.form1.pics.join(','),
                            operation_campaign_video: this.form1.video,
                            operation_campaign_note: this.form1.note,
                            countrys: JSON.stringify(countryJISON),
                            operation_campaign_state: 3
                        };
                        if(obj.operation_campaign_subtype === 'Other' && !obj.operation_campaign_othertype){
                            this.$notify({
                                message: 'Business type is required!',
                                type: 'warning'
                            });
                            return;
                        }
                        createCompanyProducts(obj).then((data) => {
                            if(data.data.code === 0){
                                this.$notify.success({
                                    title: 'success',
                                    message: '创建成功'
                                });
                                this.$router.push('/app/companyDetails/' + this.$route.params.id);
                            }
                        }).catch((res) => {
                            this.$notify.error({
                                title: 'error',
                                message: res.toString()
                            });
                        });
                    } else {
                        return false;
                    }
                });
            },
             // 上传成功
            handleAvatarScucess(res, file) {
                let url = baseurl.logURL + res.msg;
                this.imageBase = url;
                // this.fileList = [{
                //     name: res.msg,
                //     url: url
                // }];
                this.form1.logo = res.msg;
            },
            // 上传之前判断
            beforeAvatarUpload(file) {
                let type = file.type.toLowerCase();
                const isJPEG = type === 'image/jpeg';
                const isJPG = type === 'image/jpg';
                const isGIF = type === 'image/gif';
                const isBMP = type === 'image/bmp';
                const isPNG = type === 'image/png';
                const isLt2M = file.size / 1024 / 1024 < 10;
                if (!isJPEG && !isJPG && !isGIF && !isBMP && !isPNG) {
                    this.$message.error('Only jpg/png/gif/bmp!');
                    return false;
                }
                if (!isLt2M) {
                    this.$message.error('maximum 10M!');
                    return false;
                }
                return (isJPEG || isJPG || isGIF || isBMP || isPNG) && isLt2M;
            },
            handleAvatarSuccess1(res, file) {
                this.form1.pics.push(res.msg);
                this.pictureList.push({
                    name: res.msg,
                    url: baseurl.logURL + res.msg
                });
            },
            handleAvatarSuccess2(res, file) {
                this.form1.video = res.msg;
                this.videourl = baseurl.logURL + res.msg
                this.istrue = true;
            },
            beforeAvatarUpload1(file) {
                let type = file.type.toLowerCase();
                const isJPEG = type === 'image/jpeg';
                const isJPG = type === 'image/jpg';
                const isGIF = type === 'image/gif';
                const isBMP = type === 'image/bmp';
                const isPNG = type === 'image/png';
                const isLt2M = file.size / 1024 / 1024 < 10;
                if (!isJPEG && !isJPG && !isGIF && !isBMP && !isPNG) {
                    this.$message.error('Only jpg/png/gif/bmp!');
                    return false;
                }
                if (!isLt2M) {
                    this.$message.error('maximum 10M!');
                    return false;
                }
                return (isJPEG || isJPG || isGIF || isBMP || isPNG) && isLt2M;
            },
            beforeAvatarUpload2(file) {
                // rm\rmvb\wmv\avi\mp4\3gp\mkv
                const isMP4 = file.type === 'video/mp4';
                const isRM = file.type === 'video/rm';
                const isRMVB = file.type === 'video/rmvb';
                const isWMV = file.type === 'video/wmv';
                const isAVI = file.type === 'video/avi';
                const is3GP = file.type === 'video/3gp';
                const isMKV = file.type === 'video/mkv';
                const isMOV = file.type === 'video/mov';
                const isLt2M = file.size / 1024 / 1024 < 20;
                if (!isMP4 && !isRM && !isRMVB && !isWMV && !isAVI && !is3GP && !isMKV && !isMOV) {
                    this.$message.error('Only rm/rmvb/wmv/avi/mp4/3gp/mkv!');
                    return false;
                }
                if (!isLt2M) {
                    this.$message.error('上传视频大小不能超过 20MB!');
                    return false;
                }
                return ( isMP4 || isRM || isRMVB || isWMV || isAVI || is3GP || isMKV || isMOV) && isLt2M;
            }
        }
    }
</script>

<style scoped>

    .avatar-uploader {
        border: 1px dashed #d9d9d9;
        width: 120px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        background-color: #f5f7fa;
        color: #20a0ff;
    }

    .avatar-uploader:hover {
        border-color: #20a0ff;
    }

    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 120px;
        height: 120px;
        line-height: 120px;
        text-align: center;
    }

    .avatar {
        width: 120px;
        height: 120px;
        display: block;
    }
</style>
