<template>
    <div class="coming">
        <div style="margin-bottom:20px;">
            <el-select v-model="valueCompany" filterable placeholder="Search" @change="selectCompany">
                <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                </el-option>
            </el-select>
            <el-button @click="addCompany" style="float: right;border-radius:5px;background:#20b9f5;border-color:#20b9f5" type="primary">Add</el-button>
        </div>
        <el-card class="box-card" >
            <el-table
                :data="tableData"
                :height="height"
                style="width: 100%;">
                <el-table-column
                    prop="phone"
                    label="Account">
                </el-table-column>
                <el-table-column
                    prop="name"
                    label="Brand Name">
                </el-table-column>
                <el-table-column
                    prop="count"
                    label="Contact">
                </el-table-column>
                <el-table-column
                    width="160"
                    label="Operation">
                    <template scope="scope">
                        <el-button @click="handleClick(scope.$index, scope.row)" type="text" size="small">Detail</el-button>
                        <!--<el-button @click="dialogFormVisible = true" type="text" size="small">修改余额</el-button>-->
                        <el-button @click="editerClick(scope.$index, scope.row)" type="text" size="small">Edit</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-card>
      <!--备用-->
        <el-dialog title="修改余额" v-model="dialogFormVisible">

            <el-form :model="formData" label-width="100px" label-position="right">
                <el-form-item label="交易类型:">
                    <el-select style="width:60%;" v-model="formData.type" placeholder="请选择">
                        <el-option label="充值" value="1"></el-option>
                        <el-option label="提现" value="2"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="金额($):">
                    <el-input style="width:60%;" v-model="formData.money"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="dialogFormVisible = false">确 定</el-button>
            </div>
        </el-dialog>
        <el-dialog title="Edit" v-model="dialogCompanyVisible" size="small">
            <el-form :model="companyForm" ref="companyForm" :rules="companyFormRules" label-width="100px" label-position="right">
                <el-form-item label="Brand Name:" prop="name">
                    <el-input v-model="companyForm.name" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="Website:" prop="page">
                    <el-input v-model="companyForm.page" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="E-mail:" prop="email">
                    <el-input v-model="companyForm.email" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="Phone Number:" prop="phone">
                    <el-input disabled v-model="companyForm.phone" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="Contact:" prop="user">
                    <el-input v-model="companyForm.user" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogCompanyVisible = false">Cancel</el-button>
                <el-button type="primary" @click="editCompanyDetail('companyForm')">Submit</el-button>
            </div>
        </el-dialog>
    </div>
</template>

<script>
    import {
        getbrandList,
        updateCompany,
        getCompanyBaseMsg
    } from '../../../apiRequest';
    import _ from 'lodash';
    export default {
        name: 'coming',
        components: {

        },
        data() {
            return {
                msg: 'Welcome',
                valueCompany: '',
                options: [],
                height: window.innerHeight - 60 - 60 -20 - 80 - 70 - 10 - 20,
                dialogCompanyVisible: false,
                dialogFormVisible: false,
                companyForm: {
                    id: '',
                    name: '',
                    page: '',
                    email: '',
                    phone: '',
                    user: ''
                },
                companyFormRules: {
                    name: [
                        { required: true, message: 'Please enter the brand name', trigger: 'blur' }
                    ],
                    page: [
                        { required: true, message: 'Please enter the website', trigger: 'blur' }
                    ],
                    email: [
                        { required: true, message: 'Please enter the E-mail', trigger: 'blur' },
                        { type: 'email', message: 'Please enter vaild e-mail', trigger: 'blur,change' }
                    ],
                    phone: [
                        { required: true, message: 'Please enter the phone number', trigger: 'blur' }
                    ],
                    user: [
                        { required: true, message: 'Please enter the contact name', trigger: 'blur' }
                    ],
                },
                oldCompanyList: {
                    id: '',
                    name: '',
                    page: '',
                    email: '',
                    phone: '',
                    user: ''
                },
                formData: {
                    type: '',
                    money: ''
                },
                tableData: []
            }
        },
        created() {
            window.scrollTo(0,0);
            this.refreshCompanyList();
            this.$parent.$emit('test', 'Brands');
        },
        methods: {
            getSummaries(param) {
                const { columns, data } = param;
                const sums = [];
                columns.forEach((column, index) => {
                if (index === 0) {
                    sums[index] = '合计';
                    return;
                }
                const values = data.map(item => Number(item[column.property]));
                if (!values.every(value => isNaN(value))) {
                    sums[index] = values.reduce((prev, curr) => {
                    const value = Number(curr);
                        if (!isNaN(value)) {
                            return prev + curr;
                        } else {
                            return prev;
                        }
                    }, 0);
                    sums[index] += '';
                } else {
                    sums[index] = this.tableData.length+'个';
                }
                });
                return sums;
            },
            selectCompany(value){
                let current = [_.find(this.options, { 'label': value, 'value': value })];
                this.tableData = current;
                if (value === '全部') {
                    this.refreshCompanyList();
                }
            },
            refreshCompanyList() {
                getbrandList({
                    state: 3
                }).then((data) => {
                    if(data.data.code === 0 && data.data.msg.length>0){
                        let arr = [];
                        data.data.msg.forEach((_msg, index)=>{
                            arr.push({
                                id: _msg.brand_user_id,
                                phone: _msg.brand_company_phone,
                                name: _msg.brand_company_name,
                                count: _msg.brand_company_contact,
                                label: _msg.brand_company_name,
                                value: _msg.brand_company_name
                            });
                        });
                        this.tableData = arr;
                        this.options = _.cloneDeep(arr);
                        this.options.unshift({value: '全部', label: '全部'});
                    }else{
                        // this.$notify({
                        //     message: data.data.msg,
                        //     type: 'error'
                        // });
                    }
                }).catch((res)=>{
                    this.$notify({
                        message: res,
                        type: 'error'
                    });
                })
            },
            addCompany() {
                this.$router.push('/app/addNewCompany');
            },
            handleClick(index, row) {
                this.$router.push('/app/companyDetails/' + row.id);
            },
            editerClick(index, row) {
                getCompanyBaseMsg({
                    userid: row.id
                }).then((data) => {
                    if(data.data.code === 0 && data.data.msg.length>0){
                        let companyDetails = data.data.msg[0];
                        this.companyForm.id = companyDetails.brand_user_id;
                        this.companyForm.name = companyDetails.brand_company_name;
                        this.companyForm.page = companyDetails.brand_company_homepage;
                        this.companyForm.email = companyDetails.brand_company_email;
                        this.companyForm.phone = companyDetails.brand_company_phone;
                        this.companyForm.user = companyDetails.brand_company_contact;
                        this.oldCompanyList.id = companyDetails.brand_user_id;
                        this.oldCompanyList.name = companyDetails.brand_company_name;
                        this.oldCompanyList.page = companyDetails.brand_company_homepage;
                        this.oldCompanyList.email = companyDetails.brand_company_email;
                        this.oldCompanyList.phone = companyDetails.brand_company_phone;
                        this.oldCompanyList.user = companyDetails.brand_company_contact;
                    }else{
                        this.$notify({
                            message: data.data.msg,
                            type: 'error'
                        });
                    }
                    this.dialogCompanyVisible = true;
                }).catch((res)=>{
                    this.$notify({
                        message: res,
                        type: 'error'
                    });
                })
            },
            editCompanyDetail(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        let obj = {
                            brand_user_id: this.companyForm.id,
                            brand_company_name: this.companyForm.name,
                            brand_company_phone: this.companyForm.phone,
                            brand_company_homepage: this.companyForm.page,
                            brand_company_email: this.companyForm.email,
                            brand_company_contact: this.companyForm.user
                        }
                        updateCompany(obj).then((data) => {
                            if (data.data.code === 0) {
                                this.$notify({
                                    message: '编辑成功',
                                    type: 'success'
                                });
                                this.dialogCompanyVisible = false;
                                this.refreshCompanyList();
                            } else {
                                this.$notify.error({
                                    title: '错误',
                                    message: '公司名称已存在'
                                });
                            }
                        }).catch((res)=>{
                            this.$notify({
                                message: '公司名称已存在',
                                type: 'error'
                            });
                            this.dialogCompanyVisible = false;
                        })
                    } else {
                        return false;
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>
