<template>
    <div class="companyDetails">
      <!--产品列表-->
      <el-collapse accordion >
        <el-collapse-item name="1">
          <template slot="title">产品列表
          </template>
          <div class="body-box">
              <el-select v-model="valueProduct" filterable placeholder="请选择" @change="selectCompany">
                <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
              <el-table
                :data="tableData"
                :height="tableData.length>10 ? '400' : ''"
                style="width: 100%;margin-top:20px;">
                <el-table-column
                  prop="name"
                  label="产品名称">
                </el-table-column>
                <el-table-column
                  prop="createat"
                  label="创建时间">
                </el-table-column>
                <el-table-column
                  prop="conversions"
                  label="Conversions">
                </el-table-column>
                <el-table-column
                  prop="ck"
                  label="Clicks">
                </el-table-column>
                <el-table-column width="180" label="操作">
                  <template scope="scope">
                    <el-button v-if="scope.row.state === 3 && scope.row.mode === 0" @click="open(scope.row)" type="text" size="small">分配</el-button>
                    <el-button v-if="scope.row.state === 3 && scope.row.mode === 1" @click="open2(scope.row)" type="text" size="small">指配</el-button>
                    <el-button @click="onhandleClick(scope.$index, scope.row)" type="text" size="small">详情</el-button>
                    <el-button v-if="scope.row.state === 3" @click="stopPushCampaign(scope.row)" type="text" size="small">下架</el-button>
                  </template>
                </el-table-column>
              </el-table>

          </div>
        </el-collapse-item>
        <el-collapse-item>
          <template slot="title">{{companyName}}详情
          </template>
          <div class="body-box">
            <el-form label-width="120px">
              <el-form-item label="Logo:" v-if="companyLogo">
                <img class="box-img" :src="baseImag + companyLogo">
              </el-form-item>
              <el-form-item label="Licence:" v-if="companyLicence">
                <img class="box-img" :src="baseImag + companyLicence">
              </el-form-item>
              <el-form-item label="创建时间：">
                <span>{{campanyDate}}</span>
              </el-form-item>
              <el-form-item label="创建人：">
                <span>{{camuser}}</span>
              </el-form-item>
            </el-form>
          </div>
        </el-collapse-item>
      </el-collapse>

      <!--分配弹出框-->
      <el-dialog title="分配网红" v-model="dialogFormVisible">
          <el-form :model="form2" label-width="105px" label-position="right" :rules="form2rules" ref="form2">
              <el-form-item label="选择网红:" prop="influid">
                  <el-row>
                      <el-col :span="15" style='width:100%;'>
                          <el-select style="width:100%" filterable v-model="form2.influid" placeholder="请选择网红">
                              <el-option v-for="item in influForm" :label="item.label" :key="item.label" :value="item.value"></el-option>
                          </el-select>
                      </el-col>
                  </el-row>
              </el-form-item>
              <el-form-item label="结算方式:" prop="price_type">
                  <el-row>
                      <el-col :span="15" style='width:100%;'>
                          <el-select style="width:100%" v-model="form2.price_type" placeholder="请选择">
                              <el-option label="CPC" value="0"></el-option>
                              <el-option label="CPA" value="1"></el-option>
                              <el-option label="Package" value="2"></el-option>
                              <el-option label="CPI" value="3"></el-option>
                              <el-option label="CPS" value="4"></el-option>
                               <el-option key="CPM" label="CPM" value="5"></el-option>
                          </el-select>
                      </el-col>
                  </el-row>
              </el-form-item>
              <el-form-item label="价格:" prop="price">
                  <el-row>
                      <el-col :span="15" style='width:100%;'>
                          <el-input v-model.number="form2.price" placeholder="请输入价格" ></el-input>
                      </el-col>
                  </el-row>
              </el-form-item>
          </el-form>
          <div slot="footer" class="dialog-footer">
              <el-button type="primary" @click="contactinflu('form2')" style='background:#20b9f5;border-color:#20b9f5'>确 认</el-button>
          </div>
      </el-dialog>
      <el-dialog title="分配地区价格" v-model="dialogFormVisible1" >
           <el-table
              :data="priceList"
              style="width: 100%;margin-bottom:20px;">
              <el-table-column
                  prop="country"
                  label="地区">
              </el-table-column>
              <el-table-column
                  prop="price_type"
                  label="结算方式">
              </el-table-column>
              <el-table-column
                  prop="price"
                  label="结算价格">
              </el-table-column>
             <el-table-column
               fixed="right"
               label="操作"
               width="120">
               <template scope="scope">
                 <el-button
                   @click.native.prevent="deleteRow(scope.$index, priceList)"
                   type="text"
                   size="small">
                   移除
                 </el-button>
               </template>
             </el-table-column>
          </el-table>
          <el-form :model="form3" label-width="105px" label-position="right" :rules="form3rules" ref="form3">
              <el-form-item label="地区:" prop="country">
                  <el-row>
                      <el-col :span="15">
                          <el-select style="width:100%" filterable v-model="form3.country" placeholder="请选择">
                              <el-option v-for="item in countryOptions" :label="item.label" :key="item.value"  :value="item.value" :disabled="item.disabled"></el-option>
                          </el-select>
                      </el-col>
                  </el-row>
              </el-form-item>
              <el-form-item label="结算方式:" prop="price_type">
                  <el-row>
                      <el-col :span="15">
                          <el-select style="width:100%" v-model="form3.price_type" placeholder="请选择">
                              <el-option label="CPC" value="0"></el-option>
                              <el-option label="CPA" value="1"></el-option>
                              <el-option label="Package" value="2"></el-option>
                              <el-option label="CPI" value="3"></el-option>
                              <el-option label="CPS" value="4"></el-option>
                          </el-select>
                      </el-col>
                  </el-row>
              </el-form-item>
              <el-form-item label="价格:" prop="price">
                  <el-row>
                      <el-col :span="15">
                          <el-input v-model.number="form3.price" placeholder="请输入价格" ></el-input>
                      </el-col>
                  </el-row>
              </el-form-item>
              <el-form-item>
                  <el-row>
                      <el-col :span="15">
                          <el-button type="primary" @click="addPriceList('form3')" style='background:#20b9f5;border-color:#20b9f5'>添加</el-button>
                      </el-col>
                  </el-row>
              </el-form-item>
          </el-form>
          <div slot="footer" class="dialog-footer">
              <el-button type="primary" @click="submitPricelist('form3')" style='background:#20b9f5;border-color:#20b9f5'>确 认</el-button>
          </div>
      </el-dialog>
      <!--下架弹出框-->
      <el-dialog title="下架确认" v-model="dialogVisible">
          <el-form>
              <el-form-item prop="stopWhy" label="下架原因:">
                  <el-input v-model="stopWhy" type="textarea"></el-input>
              </el-form-item>
          </el-form>
          <div slot="footer" class="dialog-footer">
              <el-button type="primary" @click="confimStop" style='background:#20b9f5;border-color:#20b9f5'>确 认</el-button>
          </div>
      </el-dialog>
    </div>
</template>

<script>
    import {
        getbrandDetails,
        influenceContactProduct,
        getinfluenceList,
        getinfluenceList2,
        getCompanyBaseMsg,
        stopCampiagn,
        setCountryPriceList,
        get_campaign_country_price,
    } from '../../../apiRequest';
    import baseurl from '../../../configUrl';
    import _ from 'lodash';
    import countryList from '../../../country.json';
    export default {
        name: 'companyDetails',
        components: {
            //   NavMenu,
            //   Menus
        },
        data() {
            let checkAmount = (rule, value, callback) => {
                if (!value) {
                    callback(new Error('请输入价格'));
                } else if (value < 0.01) {
                    callback(new Error('价格必须大于0.01'));
                }else if (value > 1000000) {
                    callback(new Error('价格必须小于1000000'));
                } else {
                    callback();
                }
            };
            return {
                priceList:[],
                influForm: [],
                companyId: '',
                valueProduct: '',
                options: [],
                priceTableData: [],
                input: '',
                formData: {
                    region: '',
                    settleType: '',
                    pacPrice: '',
                    rmbPrice: ''
                },
                form2: {
                    price: '',
                    influid: '',
                    campaignid: '',
                    price_type: ''
                },
                form2rules: {
                    price: [
                        { required: true, trigger: 'blur', validator: checkAmount },
                        { type: 'number', message: '价格必须为数字值'}
                    ],
                    influid: [
                        {type: 'number', required: true, message: '请选择网红', trigger: 'change' }
                    ],
                    price_type: [
                        { required: true, message: '请选择结算方式', trigger: 'change' }
                    ]
                },
                form3: {
                    price: '',
                    influid: '',
                    campaignid: '',
                    price_type: '',
                    country: ''
                },
                form3rules: {

                    price: [
                        { required: true, trigger: 'blur', validator: checkAmount },
                        { type: 'number', message: '价格必须为数字值'}
                    ],
                    influid: [
                        {type: 'number', required: true, message: '请选择网红', trigger: 'change' }
                    ],
                    country: [
                        {required: true, message: '请选择地区', trigger: 'change' }
                    ],
                    price_type: [
                        { required: true, message: '请选择结算方式', trigger: 'change' }
                    ]
                },
                dialogFormVisible: false,
                dialogFormVisible1: false,
                dialogVisible: false,
                activeName: 'first',
                camuser:'',
                companyDate:'',
                companyEmail:'',
                companyPhone:'',
                companyUser:'',
                companyType:'',
                companyLogo: '',
                companyLicence: '',
                tableData: [],
                stopWhy: '',
                brandCampaignId: '',
                cuserId: '',
                companyType: '',
                baseImag: baseurl.logURL,
                opId: '',
                countryOptions: []
            }
        },
        created() {
            window.scrollTo(0,0);
            this.countryOptions.push({
              value:'0',
              label:'Default',
              disabled:false
            })

            countryList.forEach((c, i) => {
                this.countryOptions.push({
                    value: c.iso2,
                    label: c.countryName,
                    disabled: false
                })
            })
            this.$parent.$emit('test', 'Details of brand');
            // this.getinfluList();
            let id = this.$route.params.id;
            this.cuserId = id;
            this.companyId = id;
            getCompanyBaseMsg({
                userid: id
            }).then((data) => {
                let baseMsg = data.data.msg[0];
                if (data.data.code === 0 && baseMsg) {
//                    this.companyUrl = baseMsg.brand_company_homepage;
//                    this.companyEmail = baseMsg.brand_company_email;
//                    this.companyPhone = baseMsg.brand_company_phone;
//                    this.companyUser = baseMsg.brand_company_camuser;
//                    this.companyType = baseMsg.brand_company_type;
                    this.companyDate = baseMsg.brand_company_createat;
                    this.camuser=baseMsg.brand_campany_camuser;
                    this.companyLogo = baseMsg.brand_company_logo;
                    this.companyLicence = baseMsg.brand_company_licence;
                }
            }).catch((res) => {
                this.$notify.error({
                    title: '消息',
                    message: res
                });
            });
            this.getCompanyProducts();
        },
        methods: {
            //添加
            addPriceList(form){
                //获取添加上的country下标
                Array.prototype.Index=function(val){
                    for(var i=0;i<this.length;i++){
                        if(this[i].value==val)
                            return i
                    }return -1
               }
                this.$refs[form].validate((valid) => {
                    if (valid) {
                        let obj = {
                            id:this.opId,
                            country: this.form3.country,
                            price_type: this.form3.price_type,
                            price: this.form3.price
                        }
                    this.priceTableData.push(obj);//将选择的信息添加到数组
                    this.priceList.push(obj);//将选择的信息添加到列表
                    var index=this.countryOptions.Index(obj.country);//添加上的城市下标
                    this.countryOptions[index].disabled=true;//添加之后禁用
                    this.$refs[form].resetFields();//重置添加列表

                    } else {
                        return false;
                    }
                });
            },
            //确认
            submitPricelist(form){
                if(this.priceList.length === 0){
                }else{
                    let arr = [];
                    let isDefault = true;

                    this.priceList.forEach((_price,index)=> {
                        if(_price.operation_campaign_country_distr_id){
                              return
                           }else{
                              if(_price.country*1 === 0){        //Default选项
                                isDefault = false;
                                arr.push({
                                  country: '',
                                  price: _price.price.toFixed(2) * 1000,
                                  price_type: _price.price_type
                                });
                              }else{
                                arr.push({
                                  country: _price.country,
                                  price: _price.price.toFixed(2) * 1000,
                                  price_type: _price.price_type
                                });
                              }
                           }
                    });
                    if(isDefault){
                        this.$notify({
                            title: '警告',
                            message: '请填写默认模式',
                            type: 'info'
                        });
                        return;
                    }
                    setCountryPriceList({
                        countrys: JSON.stringify(arr),
                        opreation_campagn_id: this.opId
                    }).then((data)=>{
                        if(data.data.code === 0){
                            this.$notify({
                                title: '成功',
                                message: '定制成功',
                                type: 'success'
                            });
                            this.priceList = [];
                            this.dialogFormVisible1 = false;
                        }
                    })
                }
            },
            selectCompany(value){
                let current = [_.find(this.options, { 'label': value, 'value': value })];
                this.tableData = current;
            },
            getCompanyProducts(){
                getbrandDetails({
                    userid: this.cuserId
                }).then((data) => {
                    if (data.data.msg.length > 0) {
                        let count = data.data.msg[0].campaign_count;
                        if (count > 0) {
                            let list = [];
                            data.data.msg.forEach((pData, i) => {
                                list.push({
                                    id: pData.brand_campaign_id,
                                    oid: pData.operation_campaign_id,
                                    name: pData.operation_campaign_name,
                                    type: pData.operation_campaign_type,
                                    state: pData.operation_campaign_state,
                                    mode: pData.distr_mode*1,
                                    url: {
                                        ios: pData.operation_campaign_ioslink,
                                        andriod: pData.operation_campaign_androidlink,
                                        pc: pData.operation_campaign_pclink
                                    },
                                    createat : pData.operation_campaign_createat.substring(0, 19) + ' (UTC)',
                                    conversions : pData.conversion,
                                    ck : pData.ck,
                                    amount: pData.operation_campaign_amount / 1000,
                                    label:  pData.operation_campaign_name,
                                    value:  pData.operation_campaign_name
                                });
                            })
                            this.tableData = list;
                            this.options = list;
                        }
                    }
                }).catch((res) => {
                    this.$notify.error({
                        title: 'error',
                        message: res
                    });
                });
            },
            stopPushCampaign(row) {
                this.brandCampaignId = row.id;
                this.dialogVisible = true;
            },
            confimStop() {
                if(this.stopWhy){
                    stopCampiagn({
                        brand_campaign_id: this.brandCampaignId,
                        reason: this.stopWhy
                    }).then((data) => {
                        if(data.data.code === 0){
                            this.dialogVisible = false;
                            this.getCompanyProducts();
                        }
                    }).catch((res) => {
                        this.$notify.error({
                            title: 'error',
                            message: res
                        });
                    });
                }else{
                    this.$notify({
                        title: '警告',
                        message: '请输入原因',
                        type: 'warning'
                    });
                }
            },
            getinfluList(id) {
                getinfluenceList2({
                    campaignid: id
                }).then((data) => {
                    let newTableData = [];
                    if (data.data.code === 0) {
                        data.data.msg.forEach((subData, i) => {
                            newTableData.push({
                                value: subData.influencer_user_id,
                                label: subData.influencer_user_page || 'empty'
                            })
                        })
                        this.influForm = newTableData;
                    } else {
                        this.$notify.error({
                            message: data.data.msg
                        });
                    }
                }).catch((res) => {
                    this.$notify.error({
                        title: 'error',
                        message: res
                    });
                });
            },
            contactinflu(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        let obj = {
                            influid: this.form2.influid,
                            campaignid: this.form2.campaignid,
                            price_type: this.form2.price_type,
                            price: (this.form2.price*1).toFixed(2) * 1000
                        };
                        influenceContactProduct(obj).then((data) => {
                            if (data.data.code === 0) {
                                this.$refs[formName].resetFields();
                                this.dialogFormVisible = false;
                                this.$notify.success({
                                    title: 'success',
                                    message: '分配成功'
                                });
                            }
                        }).catch((res) => {
                            this.$notify.error({
                                title: 'error',
                                message: res
                            });
                        });
                    } else {
                        return false;
                    }
                });
            },
            //移除按钮
            deleteRow(index, rows) {
              rows.splice(index, 1);

              //地区select重置
              this.countryOptions.forEach((length,i) => {
                this.countryOptions[i].disabled=false;
              })
              get_campaign_country_price({
                operation_campaign_id:this.opId
              }).then((data) => {

                //已经选过的地区禁用
                this.priceList.forEach((length,o) => {
                  var country=this.priceList[o].country;
                  Array.prototype.Index=function(val){
                    for(var i=0;i<this.length;i++){
                      if(this[i].value==val)
                        return i
                    }return -1
                  }
                  var index=this.countryOptions.Index(country);//添加上的城市下标
                  this.countryOptions[index].disabled=true;//添加之后禁用
                })
                return  this.priceList;
              })
            },
            open(row) {
                this.dialogFormVisible = true;
                this.form2.campaignid = row.id;
                this.getinfluList(row.id);
            },
            //指配
            open2(row) {
                this.dialogFormVisible1 = true;
                this.opId = row.oid;
                var testId=this.opId;
               //列表重置
                this.priceList=[];
              //地区select重置
              this.countryOptions.forEach((length,i) => {
                this.countryOptions[i].disabled=false;
              })
                get_campaign_country_price({
                  operation_campaign_id:this.opId
                }).then((data) => {
                  data.data.msg.forEach((length,i) => {
                        this.priceList.push({
                          operation_campaign_country_distr_id:data.data.msg[i].operation_campaign_country_distr_id,
                          country: data.data.msg[i].country ? data.data.msg[i].country : 0 ,
                          price: data.data.msg[i].price/1000,
                          price_type: data.data.msg[i].price_type
                        })
                  })
                  //已经选过的地区禁用
                  this.priceList.forEach((length,o) => {
                    var country=this.priceList[o].country;
                    Array.prototype.Index=function(val){
                      for(var i=0;i<this.length;i++){
                        if(this[i].value==val)
                          return i
                      }return -1
                    }
                    var index=this.countryOptions.Index(country);//添加上的城市下标
                    this.countryOptions[index].disabled=true;//添加之后禁用
                  })
                  return  this.priceList;
                })

            },
            handleClick(tab, event) {},
            onhandleClick(index, row) {
                this.$router.push('/app/productDetails/' + row.id);
            },
        }
    }
</script>

<style scoped>
    .box-img{
        width: 200px;
    }
</style>
