<template>
  <div class="campaigns">
    <div class="campaigns-input-box">
        <el-input size="'small" class="min-width-input" placeholder="Campaign Name" v-model="key"></el-input>
        <!--<el-input size="'small" class="min-width-input" placeholder="Brands Name" v-model="name"></el-input>-->
        <!--<el-input size="'small" class="min-width-input" placeholder="GEO" v-model="geo"></el-input>-->
        <!--<el-input size="'small" class="min-width-input" placeholder="Type" v-model="type"></el-input>-->
        <!--<el-input size="'small" class="min-width-input" placeholder="State" v-model="state"></el-input>-->
        <div>
          <el-button type="primary" @click="handleSearch">Search</el-button>
          <el-button type="primary" @click="addCampaign">Add</el-button>
        </div>

    </div>
  <el-card>
    <el-table
      :data="tableData"
      border
      style="width: 100%"
      :default-sort = "{prop: 'date', order:'descending'}"
      :height="height"
    >
      <el-table-column
        prop="id"
        label="ID"
        sortable
        width="90">
      </el-table-column>
      <el-table-column
        prop="name"
        label="Name"
        width="320">
      </el-table-column>
      <el-table-column
        prop="geo"
        label="GEO"
        width="220"
        >
      </el-table-column>
      <el-table-column
        prop="category"
        label="Category"
      >
      </el-table-column>
      <el-table-column
        prop="type"
        label="Type"
      >
      </el-table-column>
      <el-table-column
        prop="state"
        label="Status">
        <template scope="scope">
          <span
          :class="scope.row.elcolor"
          >{{scope.row.tag}}</span>
        </template>
      >
      </el-table-column>
      <el-table-column
        prop="operate"
        label="Operate"
        width="150"
      >
      <template scope="scope">
        <el-tooltip class="item" :class="scope.row.elcolor" effect="dark" :content="scope.row.stext" placement="top-start"><i @click="ChangeCampaignStatus(scope.$index, scope.row,scope.row.stext)" class="iconfont icon-kaishi-copy-copy icon-menu"></i></el-tooltip>
        <el-tooltip class="item" effect="dark" content="Edit" placement="top-start"><i @click="UpdateCampaign(scope.$index, scope.row)" class="iconfont icon-ai-edit-copy icon-menu"></i></el-tooltip>
        <el-tooltip class="item" effect="dark" content="details" placement="top-start"><i @click="InfoCampaign(scope.$index, scope.row)" class="iconfont icon-xiangqing-copy icon-menu"></i></el-tooltip>
        <el-tooltip class="item" effect="dark" content="Invite" placement="top-start"><i @click="isDialog(scope.$index, scope.row)" class="iconfont icon-yaoqing-copy icon-menu" v-if="scope.row.invitation"></i></el-tooltip>
        <el-tooltip class="item" effect="dark" content="Close" placement="top-start"><i @click="ChangeCampaignStatus(scope.$index, scope.row,'Close')" class="iconfont icon-guanbi-copy icon-menu"></i></el-tooltip>
      </template>

      </el-table-column>
    </el-table>
  </el-card>
    <!--分页器-->
    <div class="block">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page.sync="currentPage1"
        :page-size="sizes"
        :total='nums'
        layout="total,prev, pager, next, jumper"
      >
      </el-pagination>
    </div>
    <el-dialog title="Invite Influencer" v-model="dialogFormVisible" size="small">
      <el-form :model="editPlatform" label-width="120px" label-position="left" ref="editPlatform">
        <el-form-item label="Influencer" prop="influencer">
          <el-autocomplete
            class="inline-input"
            v-model="editPlatform.influencer"
            :fetch-suggestions="querySearch"
            :trigger-on-focus="false"
            @select="handleSelect"
            style="width:100%;"
          ></el-autocomplete>
        </el-form-item>
        <el-form-item label="Package:">
          <el-radio-group v-model="editPlatform.resource">
            <el-radio :label="0">No</el-radio>
            <el-radio :label="1">Yes</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="Price" prop="price" v-if="editPlatform.resource" style="position:relative">
          <el-input v-model="editPlatform.price" class="subinput"></el-input>
          <span class="subbutton">$</span>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">Cancel</el-button>
        <el-button type="primary" plain @click="editForm('editPlatform')">Submit</el-button>
      </div>
    </el-dialog>
    <el-dialog title="Close Reason" :visible.sync="dialogFormVisible2">
      <el-form :model="form">
        <el-form-item>
          <el-input type="textarea" v-model="form.name" auto-complete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible2 = false">Cancel</el-button>
        <el-button type="primary" @click="submitForm()">Submit</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
  import {
    getNewInfluList,
    getOperationUserList,
    getbrandList,
    reviewInflu,
    get_campaigns,
    inviteinflu,
    getCampaignDetail,
    searchInflu,
    changeStatus
  } from '../../../apiRequest.js';
  import _ from 'lodash';
  import baseurl from '../../../configUrl';
  import store from 'store2';
  import country from '../../../country.json';
  export default {
    name: 'influencer',
    components: {
    },
    data(){
      return{
          influ_userId:'',
        restaurants:[],
          rowId:'',
        editPlatform:{
          influencer:'',
          resource:1,
          price:'',
        },
        dialogFormVisible:false,
        dialogFormVisible2: false,
        form:{
          name:'',
          id:0,
          state:'',
        },
        tableData: [],
        key:'',
        name:'',
        geo:'',
        type:'',
        state:'',
        height: window.innerHeight - 60 -20 - 80 - 70 - 10 - 20,
        sizes:20,
        nums:0,
        page:1,
        currentPage1:1,
      }
    },
    created() {
      window.scrollTo(0,0);
      this.$parent.$emit('test', 'Campaigns');
      this.handleSearch();
    },
    methods: {
      // TODO: 打开弹窗前editPlatform不存在 报错
      isDialog(value,row){
          this.rowId=row.id;
          this.dialogFormVisible=true;
          this.editPlatform.resource=1;
          this.editPlatform={
              influencer:'',
              resource:1,
              price:'',
          }
      },
      editForm(form){
        getCampaignDetail({
          campaignid:this.rowId
        }).then((data)=>{
          let baseMsg = data.data.data;
          inviteinflu({
            influencer_user_id:this.influ_userId,
            operation_campaign_id: baseMsg.operation_campaign_id,
            package: (this.editPlatform.price*1).toFixed(2)*1000,
            admin_id: JSON.parse(localStorage.getItem('user')).operation_user_id
            }).then((subdata)=>{
              if(subdata.data.code==0){
                this.$notify({
                  title: 'Success',
                  message: 'You have successfully invited '+this.editPlatform.influencer+'.',
                  type: 'success'
                });
                this.dialogFormVisible=false;
              }else{
                this.$notify.error('' + subdata.data.msg);
              };
            }).catch((e)=>{
            this.$notify.error('' + e);
          });
        })
      },
      //模糊匹配
      querySearch(queryString, cb) {
        searchInflu({
          influname:this.editPlatform.influencer,
        }).then((data)=>{
            let sub=data.data.msg;
            let arr=[];
            sub.forEach((c,i)=>{
                arr.push({
                  value:c.influencer_user_page,
                  id:c.influencer_user_id,
                })
            })
          this.restaurants=arr;
          var restaurants = this.restaurants;
          var results = queryString ? restaurants.filter(this.createFilter(queryString)) : restaurants;
          cb(results);
        })
        // 调用 callback 返回建议列表的数据
      },
      createFilter(queryString) {
        return (restaurant) => {
          return (restaurant.value.indexOf(queryString.toLowerCase()) === 0);
        };
      },
      handleSelect(item) {
       this.influ_userId=item.id;
      },
      filterTag(value, row) {
        return row.tag === value;
      },
      handleTableData(data){
        if (data.data.code === 0) {
          let arr = [];
          data.data.msg.forEach((c, i) => {
            arr.push({
              id: c.operation_campaign_id,
              type: c.operation_campaign_type,
              name: c.operation_campaign_name,
              geo: c.operation_campaign_region.length>1?c.operation_campaign_region.split('Default,'):'Global',
              state: c.operation_campaign_state,
              category: c.operation_campaign_subtype,
              invitation: c.distr_mode?0:1,
              dialogFormVisible:false
            })
          })
          this.tableData=arr;
          this.nums=JSON.parse(data.data.nums);
          this.tableData.forEach((c,i)=>{
            switch (c.state){
              case 1:
                this.tableData[i].tag='Reviewing';
                this.tableData[i].elcolor="elcolor-1";
              break;
                case 2:this.tableData[i].tag='Reviewed';
                this.tableData[i].elcolor="elcolor-2";
                this.tableData[i].stext="Start";
              break;
                case 3:this.tableData[i].tag='Started';
                this.tableData[i].elcolor="elcolor-3";
                this.tableData[i].stext="Paused";
              break;
                case 4:this.tableData[i].tag='Ended';
                this.tableData[i].elcolor="elcolor-4";
              break;
                case 5:this.tableData[i].tag='Paused';
                this.tableData[i].elcolor="elcolor-5";
                this.tableData[i].stext="Start";
              break;
              default:break;
            }
          })
        }
      },
      handleSizeChange(val) {
      },
      handleCurrentChange(val) {
        get_campaigns({
          keywords:this.key,
          limit:this.sizes,
          page:val
        }).then((data)=>{
          this.handleTableData(data);
        })
      },
//      列表显示
      handleSearch(){
        get_campaigns({
          keywords:this.key,
          limit:this.sizes,
          page:this.page
        }).then((data)=>{
            this.handleTableData(data);
        })
      },
      formatter(row, column) {
        return row.address;
      },
      ChangeCampaignStatus(index,row,state){
          //Close
          if(state=='Close'){
            this.dialogFormVisible2 = true;
            this.form.name='';
            this.form.id=row.id;
            this.form.state=this.checkStatus(state);
          }else{
          //其他
            changeStatus({
              operation_campaign_id:row.id,
              operation_campaign_state:this.checkStatus(state),
            }).then((data)=>{
              if(data.data.code===0){
                this.handleSearch();
              }else{};
            }).catch((res)=>{
              this.$notify({
                message: res,
                type: 'error'
              });
            })
          }
      },
      submitForm(){
        if(this.form.name){
          changeStatus({
            operation_campaign_id:this.form.id,
            operation_campaign_state:this.form.state,
            end_reason:this.form.name
          }).then((data)=>{
            if(data.data.code===0){
              this.handleSearch();
              this.dialogFormVisible2=false;
            }else{};
          }).catch((res)=>{
            this.$notify({
              message: res,
              type: 'error'
            });
          })
        }
      },
      checkStatus(state){
          switch(state){
            case 'Start':return 3;break;
            case 'Paused':return 5;break;
            case 'Close':return 4;break;
          }
      },
      UpdateCampaign(index, row){
        this.$router.push('/app/updateCampaign/'+row.id);
      },
      InfoCampaign(index,row){
        this.$router.push('/app/gardenscapes/'+row.id);
      },
//      添加campagin页面
      addCampaign(){
          this.$router.push('/app/createCampaign');
      }
    }
  }
</script>

<style scoped>
  .subbutton{
    width: 40px;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    display: block;
    color: #000;
    font-weight: bold;
  }
  .icon-menu{
    color:#c1272d;
  }
  .campaigns .min-width-input{
    width:18%;
  }
.campaigns-input-box{
  margin-bottom:20px;
  display: flex;
  justify-content: space-between;
}
  .block{
    margin-top:30px;
    display:flex;
    justify-content:center;
  }
  .elcolor-1{
    color:#0188fa;
  }
  .elcolor-2{
    color:#ffb607;
  }
  .elcolor-3{
    color:#00bd9c;
  }
  .elcolor-4{
    color:#9b9b9b;
  }
  .elcolor-5{
    color:#cc0000;
  }
</style>
