<template>
  <div class="campaigns">
    <div class="campaigns-input-box">
        <el-input size="'small" class="min-width-input" placeholder="Campaign Name" v-model="key"></el-input>
        <el-input size="'small" class="min-width-input" placeholder="Brands Name" v-model="name"></el-input>
        <el-input size="'small" class="min-width-input" placeholder="GEO" v-model="geo"></el-input>
        <el-input size="'small" class="min-width-input" placeholder="Type" v-model="type"></el-input>
        <el-input size="'small" class="min-width-input" placeholder="State" v-model="state"></el-input>
        <el-button type="primary" @click="handleSearch">Search</el-button>
    </div>
  <el-card>
    <el-table
      :data="tableData"
      border
      style="width: 100%"
      :default-sort = "{prop: 'date', order:'descending'}"
      :height="height"
    >
      <el-table-column
        prop="id"
        label="ID"
        sortable
        width="60">
      </el-table-column>
      <el-table-column
        prop="name"
        label="Name"
        width="220">
      </el-table-column>
      <el-table-column
        prop="geo"
        label="GEO"
        width="220"
        >
      </el-table-column>
      <el-table-column
        prop="category"
        label="Category"
      >
      </el-table-column>
      <el-table-column
        prop="type"
        label="Type"
      >
      </el-table-column>
      <el-table-column
        prop="state"
        label="Status">
        <template scope="scope">
          <span
          :class="scope.row.elcolor"
          >{{scope.row.tag}}</span>
        </template>
      >
      </el-table-column>
      <el-table-column
        prop="operate"
        label="Operate"
      >
      <template scope="scope">
      
      <el-tooltip class="item" effect="dark" content="History" placement="top-start"><i class="el-icon-time"></i></el-tooltip>
    </template>
      </el-table-column>
    </el-table>
  </el-card>

    <!--分页器-->
    <div class="block">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page.sync="currentPage1"
        :page-size="sizes"
        :total='nums'
        layout="total,prev, pager, next, jumper"
      >
      </el-pagination>
    </div>
  </div>
</template>

<script>
  import {
    getNewInfluList,
    getOperationUserList,
    getbrandList,
    reviewInflu,
    get_close_campaigns
  } from '../../../apiRequest.js';
  import _ from 'lodash';
  import baseurl from '../../../configUrl';
  import store from 'store2';
  import country from '../../../country.json';
  export default {
    name: 'influencer',
    components: {
    },
    data(){
      return{
        tableData: [],
        key:'',
        name:'',
        geo:'',
        type:'',
        state:'',
        height: window.innerHeight - 60 -20 - 80 - 70 - 10 - 20,
        sizes:15,
        nums:0,
        currentPage1:1,
      }
    },
    created() {
      window.scrollTo(0,0);
      this.$parent.$emit('test', 'Campaigns');
      this.handleSearch();
    },
    methods: {
      filterTag(value, row) {
        return row.tag === value;
      },
      handleTableData(data){
        if (data.data.code === 0) {
          let arr = [];
          data.data.msg.forEach((c, i) => {
            arr.push({
              id: c.brand_campaign_id,
              type: c.operation_campaign_type,
              name: c.operation_campaign_name,
              geo: c.operation_campaign_region,
              state: c.operation_campaign_state,
              category: c.operation_campaign_subtype
            })
          })
          this.tableData=arr;
          this.nums=JSON.parse(data.data.nums);
          this.tableData.forEach((c,i)=>{
            switch (c.state){
              case 1:
                this.tableData[i].tag='Reviewing';
                this.tableData[i].elcolor="elcolor-1";
              break;
                case 2:this.tableData[i].tag='Reviewed';
                this.tableData[i].elcolor="elcolor-2";
              break;
                case 3:this.tableData[i].tag='Started';
                this.tableData[i].elcolor="elcolor-3";
              break;
                case 4:this.tableData[i].tag='Ended';
                this.tableData[i].elcolor="elcolor-4";
              break;
                case 5:this.tableData[i].tag='Paused';
                this.tableData[i].elcolor="elcolor-5";
              break;
              default:break;
            }
          })
        }
      },
      handleSizeChange(val) {
      },
      handleCurrentChange(val) {
        get_close_campaigns({
          keywords:this.key,
          limit:this.sizes,
          page:val
        }).then((data)=>{
          this.handleTableData(data);
        })
      },
      handleSearch(){
        get_close_campaigns({
          keywords:this.key,
          limit:this.sizes,
          page:1
        }).then((data)=>{
            this.handleTableData(data);
        })
      },
      formatter(row, column) {
        return row.address;
      }
    }
  }
</script>

<style scoped>
  .campaigns .min-width-input{
    width:15%;
    margin-right:20px;
  }
  .campaigns {
    padding: 40px 60px;
  }
.campaigns-input-box{
  margin-bottom:20px;
}
  .block{
    margin:20px 0;
    display:flex;
    justify-content:center;
  }
  .elcolor-1{
    color:#0188fa;
  }
  .elcolor-2{
    color:#ffb607;
  }
  .elcolor-3{
    color:#00bd9c;
  }
  .elcolor-4{
    color:#9b9b9b;
  }
  .elcolor-5{
    color:#cc0000;
  }
</style>
