<template>
  <div class="createpost">
    <div>
      <el-form
        :label-position="labelPosition"
        label-width="120px"
        :model="formLabelAlign"
        :rules="rules"
        ref="formLabelAlign"
      >
        <!--Productinfo-->
        <div class='el-form-card'>
            <h1>Product info</h1>
            <div class='form-box'>
              <div class='brand-box'>
              <el-form-item label="Brand Name:" prop="braName" class='min-width-item'>
                <el-select v-model="formLabelAlign.braName" filterable placeholder="Please Select">
                  <el-option
                    v-for="item in brandList"
                    :key="item.label"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="Campaign ID:" prop="camId" class='min-width-item'>
                <span>{{formLabelAlign.camId}}</span>
              </el-form-item>
              </div>
              <div class='brand-box'>
              <el-form-item label="Campaign Name:" prop="camName" class='min-width-item'>
                <el-input v-model='formLabelAlign.camName'></el-input>
              </el-form-item>
              <el-form-item label="Short Name:" prop="shortName" class='min-width-item'>
                <el-input v-model='formLabelAlign.shortName'></el-input>
              </el-form-item>
              </div>
              <div class='brand-box'>
              <el-form-item label="Type:" prop="type" class='min-width-item'>
                <el-select v-model="formLabelAlign.type" placeholder="Please Select">
                  <el-option key="APP" label="APP" value="APP"></el-option>
                  <el-option key="Link" label="Link" value="Link"></el-option>
                  <el-option key="Subscription" label="Subscription" value="Subscription"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="Category:" prop="category" class='min-width-item'>
                <el-select v-model="formLabelAlign.category" placeholder="Please Select">
                  <el-option
                    v-for="item in cateOptions"
                    :key="item.cate"
                    :label="item.cate"
                    :value="item.cate">
                  </el-option>
                </el-select>
              </el-form-item>
              </div>
              <el-form-item label="Preview URL:" prop="prevUrl">
                <el-input v-model='formLabelAlign.prevUrl'></el-input>
              </el-form-item>
              <el-form-item label="Description:" prop="desc">
                <el-input type='textarea' v-model='formLabelAlign.desc'></el-input>
              </el-form-item>
              <el-form-item label="Logo:" prop='logo'>
                <el-upload
                  :action="baseURL"
                  list-type="picture-card"
                  name="logo"
                  :show-file-list="false"
                  :on-success="handleAvatarSuccess1"
                  :before-upload="beforeAvatarUpload"
                >
                  <img v-if="formLabelAlign.logo" :src="baseurl+formLabelAlign.logo" class="avatar">
                  <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                </el-upload>
              </el-form-item>
          </div>
        </div>
        <!--Settings-->
        <div class='el-form-card'>
          <h1>Settings</h1>
          <div class='form-box'>
            <div class='brand-box'>
            <el-form-item label="Campaign Mode:" prop="camMode" class='min-width-item'>
              <el-select v-model="formLabelAlign.camMode" placeholder="Please Select">
                <el-option key="Open" label="Open" value="1"></el-option>
                <el-option key="Private" label="Private" value="0"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="Campaign Level:" prop="camLevel" class='min-width-item'>
              <el-select v-model="formLabelAlign.camLevel" placeholder="Please Select">
                <el-option key="Level 0" label="Level 0" value="0"></el-option>
                <el-option key="Level 1" label="Level 1" value="1"></el-option>
                <el-option key="Level 2" label="Level 2" value="2"></el-option>
              </el-select>
            </el-form-item>
            </div>
            <div class='brand-box'>
            <el-form-item label="Device:" class='min-width-item' prop="device">
              <el-select v-model="formLabelAlign.device" multiple filterable placeholder="Please Select" @change='deviceChange'>
                <el-option key="IOS" label="IOS" value="IOS"></el-option>
                <el-option key="Android" label="Android" value="Android"></el-option>
                <el-option key="PC" label="PC" value="PC"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="Validity Period:" class='min-width-item' required>
              <el-col :span="11">
                <el-form-item prop="date1">
                  <el-date-picker type="date" placeholder="start" v-model="formLabelAlign.date1" :picker-options="pickerOptions0" style="width: 100%;"></el-date-picker>
                </el-form-item>
              </el-col>
              <el-col class="line" :span="2">-</el-col>
              <el-col :span="11">
                <el-form-item prop="date2">
                  <el-date-picker type="date" placeholder="end" v-model="formLabelAlign.date2" :picker-options="pickerOptions1" style="width: 100%;"></el-date-picker>
                </el-form-item>
              </el-col>
            </el-form-item>
            </div>
            <div class="brand-box">
            <el-form-item label="Social Platform:" prop="socialPlat" class="min-width-item">
              <el-select v-model="formLabelAlign.socialPlat" multiple placeholder="Please Select">
                <el-option
                  v-for="item in platOptions"
                  :key="item.platform"
                  :label="item.platform"
                  :value="item.platform">
                </el-option>
              </el-select>
            </el-form-item>
              <el-form-item label="Other:" prop="otherFlag" class="min-width-item">
                <el-select v-model="formLabelAlign.otherFlag" multiple placeholder="Please Select">
                  <el-option label="Questionnaire" value="1"></el-option>
                </el-select>
              </el-form-item>
            </div>
            <el-form-item label="KPI:" prop="kpi">
              <el-input type='textarea' v-model="formLabelAlign.kpi"></el-input>
            </el-form-item>
            <div class='brand-box'>
              <el-form-item label="Brand:" class='min-width-item' prop='brand' >
                <el-select v-model="formLabelAlign.brand" placeholder="Please Select" @change='brandChange' style='display: inline-block;width:45%;'>
                  <el-option label="CPC" value="0"></el-option>
                  <el-option label="CPA" value="1"></el-option>
                  <el-option label="Package" value="2"></el-option>
                  <el-option label="CPI" value="3"></el-option>
                  <el-option label="CPS" value="4"></el-option>
                  <el-option key="CPM" label="CPM" value="5"></el-option>
                </el-select>
                <el-input v-if='formLabelAlign.sign' class='ios-brand' placeholder='Package Price' v-model="pack"></el-input>
              </el-form-item>
              <el-form-item label="Influencer:" class='min-width-item' prop='inf'>
                <el-select v-model="formLabelAlign.inf" placeholder="Please Select">
                  <el-option label="CPC" value="0"></el-option>
                  <el-option label="CPA" value="1"></el-option>
                  <el-option label="Package" value="2" v-if="formLabelAlign.camMode=='1'"></el-option>
                  <el-option label="CPI" value="3"></el-option>
                  <el-option label="CPS" value="4"></el-option>
                  <el-option key="CPM" label="CPM" value="5"></el-option>
                </el-select>
              </el-form-item>
            </div>
            <div class="brand-box" v-if="formLabelAlign.inf==2">
              <el-form-item label="Influencer Level 1:" prop="level1" class="min-width-item">
                <el-input v-model="formLabelAlign.level1"></el-input>
              </el-form-item>
              <el-form-item label="Influencer Level 2:" prop="level2" class="min-width-item">
                <el-input v-model="formLabelAlign.level2"></el-input>
              </el-form-item>
              <el-form-item label="Influencer Level 3:" prop="level3" class="min-width-item">
                <el-input v-model="formLabelAlign.level3"></el-input>
              </el-form-item>
              <el-form-item label="Influencer Level 4:" prop="level4" class="min-width-item">
                <el-input v-model="formLabelAlign.level4"></el-input>
              </el-form-item>
              <el-form-item label="Influencer Level 5:" prop="level5" class="min-width-item">
                <el-input v-model="formLabelAlign.level5"></el-input>
              </el-form-item>
            </div>
          </div>
        </div>
        <!--IOS link&price-->
        <div class='el-form-card' v-if='iosShow'>
          <h1>IOS Link & Price</h1>
          <div class='form-box'>
            <el-form-item label="GEO:" prop="iosgeo">
              <el-select v-model="formLabelAlign.iosgeo" filterable multiple placeholder="Please Select" @change='addIosDomain'>
                <el-option v-for="(item,index) in countryValueOptions" :label="item.value" :key="item.value"  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item
              v-for="(domain, i) in formLabelAlign.iosdomains"
              :label="domain.label"
              :key="domain.key"
              :prop="'iosdomains.' + i + '.value'"
              required
            >
              <el-input placeholder='IOS Link'  class='min-width-input' v-model='domain.iosLink'></el-input>
              <el-input placeholder='Brand Price' v-if='!formLabelAlign.sign'  v-model='domain.iosBrandPrice' class='middle-input'></el-input><span v-if="formLabelAlign.iosbrand==4">&nbsp;%</span>
              <el-input placeholder='Influencer Price' v-if='formLabelAlign.inf!=2' v-model='domain.iosInfPrice' class='middle-input right-input'></el-input><span v-if="formLabelAlign.iosinf==4" style="float:right">&nbsp;%</span>
            </el-form-item>
          </div>
        </div>
        <!--android-->
        <div class='el-form-card' v-if='andShow'>
          <h1>Android Link & Price</h1>
          <div class='form-box'>
            <el-form-item label="GEO:" prop='andgeo'>
              <el-select v-model="formLabelAlign.andgeo" filterable multiple placeholder="Please Select" @change='addAndDomain'>
                <el-option v-for="item in countryValueOptions" :label="item.value" :key="item.value"  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item
              v-for="(domain, i) in formLabelAlign.anddomains"
              :label="domain.label"
              :key="domain.key"
              :prop="'anddomains.' + i + '.value'"
               required
            >
              <el-input placeholder='ANDROID Link' class='min-width-input' v-model='domain.andLink'></el-input>
              <el-input placeholder='Brand Price' v-if='!formLabelAlign.sign' class='middle-input' v-model="domain.andBrandPrice"></el-input><span v-if="formLabelAlign.andbrand==4">&nbsp;%</span>
              <el-input placeholder='Influencer Price' v-if='formLabelAlign.inf!=2' class='middle-input right-input' v-model="domain.andInfPrice"></el-input><span v-if="formLabelAlign.andinf==4">&nbsp;%</span>
            </el-form-item>
          </div>
        </div>
        <!--PC-->
        <div class='el-form-card' v-if='pcShow'>
          <h1>PC Link & Price</h1>
          <div class='form-box'>
            <el-form-item label="GEO:" prop='pcgeo'>
              <el-select v-model="formLabelAlign.pcgeo" filterable multiple placeholder="Please Select" @change='addPcDomain'>
                <el-option v-for="item in countryValueOptions" :label="item.value" :key="item.value"  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item
              v-for="(domain, i) in formLabelAlign.pcdomains"
              :label="domain.label"
              :key="domain.key"
              :prop="'pcdomains.' + i + '.value'"
              required
            >
              <el-input placeholder='PC Link' class='min-width-input' v-model='domain.pcLink'></el-input>
              <el-input placeholder='Brand Price' v-if='!formLabelAlign.sign' class='middle-input' v-model="domain.pcBrandPrice"></el-input><span v-if="formLabelAlign.pcbrand==4">&nbsp;%</span>
              <el-input placeholder='Influencer Price' v-if='formLabelAlign.inf!=2' class='middle-input right-input' v-model="domain.pcInfPrice"></el-input><span v-if="formLabelAlign.pcinf==4">&nbsp;%</span>
            </el-form-item>
          </div>
        </div>
        <!--Materals for Influencer-->
        <div class='el-form-card'>
          <h1>Materials for Influencer</h1>
          <div class='form-box'>
            <el-form-item label="Caption:" prop="caption">
              <el-input v-model='formLabelAlign.caption'></el-input>
            </el-form-item>
            <el-form-item label="Picture:" prop="pics">
              <el-upload
                :action="baseURL"
                name="logo"
                list-type="picture-card"
                :show-file-list="false"
                :on-success="handleAvatarSuccess2"
                :before-upload="beforeAvatarUpload"
               >
                <img v-if="formLabelAlign.pics" :src="baseurl+formLabelAlign.pics" class="avatar">
                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
              </el-upload>
            </el-form-item>
            <el-form-item label="Video:" prop="video">
              <el-upload
                name="logo"
                list-type="picture-card"
                :action="baseURL"
                multiple
                :on-preview="handleVideoCardPreview"
                :on-success="handleAvatarSuccess3"
                :before-upload="beforeAvatarUpload3">
                <i class="el-icon-plus"></i>
              </el-upload>
              <el-dialog v-model="dialogVidVisible" size="tiny">
                <video v-if="istrue" class='upload-video' controls :src="baseurl + materialsForm.videourl"></video>
              </el-dialog>
            </el-form-item>
          </div>
        </div>
       <div class='submit-button'>
          <el-button @click="resetForm('formLabelAlign')">Cancel</el-button>
          <el-button type="primary" @click="submitForm('formLabelAlign')">Submit</el-button>
       </div>
      </el-form>
    </div>
  </div>
</template>

<script>
  import {
    getNewInfluList,
    getOperationUserList,
    getbrandList,
    reviewInflu,
    createCampaigns
  } from '../../../apiRequest.js';
  import _ from 'lodash';
  import moment from 'moment';
  import baseurl from '../../../configUrl';
  import store from 'store2';
  import country from '../../../country.json';
  export default {
    name: 'influencer',
    components: {
    },
    data() {
      let arr=[];
      country.forEach((c, i) => {
        arr.push({
          value: c.iso2,
          label: c.countryName,
          disabled:false
        })
      })
      return {
      pcShow:false,
      iosShow:false,
      andShow:false,
      istrue : false,
      brandShow:{
        pc:false,
        and:false,
        ios:false,
      },
      isBrandShow:{
        pc:true,
        and:true,
        ios:true
      },
      labelPosition:'right',
      materialsForm: {
        logoUrl: [],
        imageUrl:[],
        videourl:[],
      },
      countryValueOptions:arr,
      dialogPicsVisible: false,
      dialogVidVisible:false,
      baseURL: baseurl.uploadURL,
      baseurl: baseurl.logURL,
      iosvalue:{},
      andvalue:{},
      pcvalue:{},
      formLabelAlign:{
//        info
        braName:'',
        camId:'',
        camName:'',
        shortName:'',
        type:'',
        category:'',
        prevUrl:'',
        desc:'',
        logo:'',
//        setting
        camMode:'',
        camLevel:'',
        device:[],
        socialPlat:[],
        kpi:'',
        date1:'',
        date2:'',
        brand:'',
        inf:'',
        level1:'',
        level2:'',
        level3:'',
        level4:'',
        level5:'',
        otherFlag:'',
//        pc
        sign:false,
        pcgeo:[],
        pcdomains:[{
          label:'Default',
          pcLink:'',
          pcInfPrice:'',
          pcBrandPrice:''
        }],
//        ios
        iosgeo:[],
        iosInfPrice:'',
        iosdomains:[{
          label:'Default',
          iosLink:'',
          iosInfPrice:'',
          iosBrandPrice:''
        }],
//        android
        andgeo:[],
        anddomains:[{
          label:'Default',
          andLink:'',
          andInfPrice:'',
          andBrandPrice:''
        }],
//        Materals
        caption:'',
        pics:'',
        video:[],
      },
//        表单校验
      rules: {
//        product info
        braName:[
          { required: true, message: 'Please select', trigger: 'change' }
        ],
        camName: [
          { required: true, message: 'Please enter the campaign name', trigger: 'blur' },
          {  max: 30, message: '长度不超过30个字符', trigger: 'blur' }
        ],
        shortName: [
          { required: true, message: 'Please enter the short name', trigger: 'blur' },
          {  min: 2,max: 30, message: '长度在2-30个字符', trigger: 'blur' }
        ],
        type: [
          { required: true, message: 'Please select', trigger: 'change' }
        ],
        category: [
          {required: true, message: 'Please select', trigger: 'change'}
        ],
        prevUrl:[
          { required: true, message: 'Please enter the preview url', trigger: 'blur'},
          {  max: 500, message: '可填写多个链接，中间用分号隔开', trigger: 'blur' }
          ],
        desc:[
          { required: true, message: 'Please enter the Description', trigger: 'blur'},
          {  max: 500, message: '已超过字符最大上限500字符', trigger: 'blur' }
        ],
        logo:[
          {required: true, message: 'Please upload logo', trigger: 'change' },
            ],
        pics:[
          {required: true, message: 'Please upload picture', trigger: 'change' },
        ],
//       setting
        camMode:[
          { required: true, message: 'Please select', trigger: 'change' }
        ],

        camLevel: [
          { required:true,message:'Please select',trigger:'change'}
        ],
        device:[
          { type:'array',required: true, message: 'Please select', trigger: 'change' }
        ],
        date1: [
          { type: 'date', required: true, message: 'Please select', trigger: 'change' }
        ],
        date2: [
          { type: 'date', required: true, message: 'Please select', trigger: 'change' }
        ],
        socialPlat: [
          { type:'array',required:true,message:'Please select',trigger:'change'}
        ],
        kpi: [
          { required: true,message: 'Please enter the kpi', tiggle:'blur'},
          { max: 1000, message: '已超过字符最大上限1000字符', trigger: 'blur'}
        ],
        inf:[
          { required:true,message:'Please select',trigger:'change'}
        ],
        brand:[
          { required:true,message:'Please select',trigger:'change'}
        ],
        level1:[{ type:'number',required:true,  trigger: 'blur' }],
        level2:[{ type:'number',required:true,  trigger: 'blur' }],
        level3:[{ type:'number',required:true,  trigger: 'blur' }],
        level4:[{ type:'number',required:true,  trigger: 'blur' }],
        level5:[{ type:'number',required:true,  trigger: 'blur' }],
//        ios
        iosgeo:[
          {type:'array', required:true,message:'Please select',trigger:'change'}
        ],
//        android
        andgeo:[
          { type:'array',required:true,message:'Please select',trigger:'change'}
        ],
//        pc
        pcgeo:[
          { type:'array',required:true,message:'Please select',trigger:'change'}
        ],
//        Materals for Influencer
        caption:[
          { required:true,  trigger: 'blur' },
          { max: 500, message: '已超过字符最大上限500字符', trigger: 'blur'}
        ],
      },
      options:[],
      brandList:[],
      platOptions:[
        {
          platform:'Facebook'
        },{
          platform:'Instagram'
        },{
          platform:'YouTube'
        },{
          platform:'Twitter'
        },
        {
          platform:'Google+'
        },{
          platform:'Musical.ly'
        },{
          platform:'Live.ly'
        },{
          platform:'Tumblr'
        },{
          platform:'Twitch'
        },{
          platform:'Snapchat'
        }
        ],
      cateOptions:[
        {
          cate:'Games'
        },{
          cate:'Shopping'
        },{
          cate:'Beauty'
        },{
          cate:'Lifestyle'
        },{
          cate:'Tools'
        },{
          cate:'Social'
        },{
          cate:'Education'
        },{
          cate:'Adult'
        },{
          cate:'Entertainment'
        }
      ],
      pickerOptions0:{
        disabledDate(time) {
          return time.getTime() < Date.now() - 8.64e7;
        }
      },
      pickerOptions1:{
        disabledDate(time){
          return time.getTime() < Date.now() + 3600 * 1000 * 24 * 7;
        }
      }
      }
    },
    created() {
      window.scrollTo(0,0);
      this.$parent.$emit('test', 'Create Campaign');
      this.refreshCompanyList();
    },
    methods: {
      handleRemove(file, fileList) {
      },
//      点击查看已上传视频
      handleVideoCardPreview(file){
        this.materialsForm.videourl.push(file.url);
        this.dialogVidVisible = true;
        this.istrue = true;
      },
//      视频上传成功
      handleAvatarSuccess3(res, file) {
        this.dialogVidVisible=true;
        this.formLabelAlign.video.push( res.msg);
        this.istrue = true;
      },
//      视频上传格式
      beforeAvatarUpload3(file) {
        const isMP4 = file.type === 'video/mp4';
        const isRM = file.type === 'video/rm';
        const isRMVB = file.type === 'video/rmvb';
        const isWMV = file.type === 'video/wmv';
        const isAVI = file.type === 'video/avi';
        const is3GP = file.type === 'video/3gp';
        const isMKV = file.type === 'video/mkv';
        const isMOV = file.type === 'video/mov';
        const isLt2M = file.size / 1024 / 1024 < 20;
        if (!isMP4 && !isRM && !isRMVB && !isWMV && !isAVI && !is3GP && !isMKV && !isMOV) {
          this.$message.error('Only rm/rmvb/wmv/avi/mp4/3gp/mkv!');
          return false;
        }
        if (!isLt2M) {
          this.$message.error('上传视频大小不能超过 20MB!');
          return false;
        }
        return ( isMP4 || isRM || isRMVB || isWMV || isAVI || is3GP || isMKV || isMOV) && isLt2M;
      },

      handlePictureCardPreview1(file) {
        this.materialsForm.logoUrl.push(file.url);
      },
      handlePictureCardPreview2(file) {
        this.materialsForm.imageUrl.push(file.url);
      },
//      logo上传成功
      handleAvatarSuccess1(res, file) {
        this.formLabelAlign.logo = res.msg;
        this.logoshow=false;
      },
//      图片上传成功
      handleAvatarSuccess2(res, file) {
        this.formLabelAlign.pics = res.msg;
      },
//      图片/logo上传格式
      beforeAvatarUpload(file) {
        let type = file.type.toLowerCase();
        const isJPEG = type === 'image/jpeg';
        const isJPG = type === 'image/jpg';
        const isPNG = type === 'image/png';
        const isLt2M = file.size / 1024 / 1024 < 10;
        if (!isJPEG && !isJPG  && !isPNG) {
          this.$message.error('Only jpg/png/jpeg!');
          return false;
        }
        if (!isLt2M) {
          this.$message.error('maximum 10M!');
          return false;
        }
        return (isJPEG || isJPG || isPNG) && isLt2M;
      },
//      不同端brand选择切换
      brandChange(value){
        if(value === '2'){
          this.formLabelAlign.sign=true;
        }else{
          this.formLabelAlign.sign=false;
        }
      },
//      添加端
      deviceChange(value){
          this.iosShow=false;
          this.andShow=false;
          this.pcShow=false;
        value.forEach((c, i) => {
          if(c==='IOS'){
            this.iosShow=true;
          }else if(c === 'Android'){
            this.andShow=true;
          }else if(c === 'PC'){
            this.pcShow=true;
          }
        })
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      },
      //获取公司列表
      refreshCompanyList() {
        getbrandList({
          state: 3
        }).then((data) => {
          if(data.data.code === 0 && data.data.msg.length>0){
            let arr = [];
            data.data.msg.forEach((_msg, index)=>{
              arr.push({
                id: _msg.brand_user_id,
                phone: _msg.brand_company_phone,
                name: _msg.brand_company_name,
                count: _msg.campaign_count,
                label: _msg.brand_company_name,
                value: JSON.stringify(_msg.brand_user_id),
              });
            });
            this.brandList = arr;

          }else{
          }
        }).catch((res)=>{
          this.$notify({
            message: res,
            type: 'error'
          });
        })
      },
//     三个端添加/删除地区
      addIosDomain(value){
          //删除
        var arr;
       if(this.iosvalue.length>value.length){
         this.iosvalue.forEach((c,i)=>{
              var isExist = false;
               value.forEach((o,index)=>{
                 if(c==o){
                   isExist=true;
                 }
               })
              if(!isExist){
                   arr=c;
              }
           })
         this.formLabelAlign.iosdomains.forEach((c,i)=>{
             if(c.label==arr){
                 this.formLabelAlign.iosdomains.splice(i,1);
             }
         })
       }else{
         this.formLabelAlign.iosdomains.push({
           label:value[value.length-1],
           key:'',
           value:''
         })
       }
        this.iosvalue=value;
      },
      addAndDomain(value){
        var arr;
        if(this.andvalue.length>value.length){
          this.andvalue.forEach((c,i)=>{
            var isExist = false;
            value.forEach((o,index)=>{
              if(c==o){
                isExist=true;
              }
            })
            if(!isExist){
              arr=c;
            }
          })
          this.formLabelAlign.anddomains.forEach((c,i)=>{
            if(c.label==arr){
              this.formLabelAlign.anddomains.splice(i,1);
            }
          })
        }else{
          this.formLabelAlign.anddomains.push({
            label:value[value.length-1],
            key:'',
            value:''
          })
        }
        this.andvalue=value;
      },
      addPcDomain(value){
        var arr;
        if(this.pcvalue.length>value.length){
          this.pcvalue.forEach((c,i)=>{
            var isExist = false;
            value.forEach((o,index)=>{
              if(c==o){
                isExist=true;
              }
            })
            if(!isExist){
              arr=c;
            }
          })
          this.formLabelAlign.pcdomains.forEach((c,i)=>{
            if(c.label==arr){
              this.formLabelAlign.pcdomains.splice(i,1);
            }
          })
        }else{
          this.formLabelAlign.pcdomains.push({
            label:value[value.length-1],
            key:'',
            value:''
          })
        }
        this.pcvalue=value;
      },
//      提交验证
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
            if (valid) {
              if(this.sign){
                this.formLabelAlign.iosdomains.forEach((c,i)=>{c.iosBrandPrice=0});
                this.formLabelAlign.iosdomains[0].iosBrandPrice =this.pack;
                this.formLabelAlign.pcdomains.forEach((c,i)=>{c.pcBrandPrice=0});
                this.formLabelAlign.pcdomains[0].pcBrandPrice =this.pack;
                this.formLabelAlign.anddomains.forEach((c,i)=>{c.andBrandPrice=0});
                this.formLabelAlign.anddomains[0].andBrandPrice =this.pack;
              }else{}
              var arr=[];
              var iosobj= {
                device:'ios',
                brand_price_type:this.formLabelAlign.brand,
                influ_price_type:this.formLabelAlign.inf,
                data: []
              };
              this.formLabelAlign.iosdomains.forEach((c,i)=>{
                iosobj.data.push({
                  geo:c.label,
                  link:c.iosLink,
                  brand_price:c.iosBrandPrice?(c.iosBrandPrice*1).toFixed(2) * 1000 : 0,
                  influ_price:c.iosInfPrice?(c.iosInfPrice*1).toFixed(2) * 1000 : 0
                })
              })
              var andobj= {
                device:'android',
                brand_price_type:this.formLabelAlign.brand,
                influ_price_type:this.formLabelAlign.inf,
                data: []
              };
              this.formLabelAlign.anddomains.forEach((c,i)=>{
                andobj.data.push({
                  geo:c.label,
                  link:c.andLink,
                  brand_price:c.andBrandPrice?(c.andBrandPrice*1).toFixed(2) * 1000 : 0,
                  influ_price:c.andInfPrice?(c.andInfPrice*1).toFixed(2) * 1000 : 0,
                })
              })
              var pcobj= {
                device:'pc',
                brand_price_type:this.formLabelAlign.brand,
                influ_price_type:this.formLabelAlign.inf,
                data: []
              };
              this.formLabelAlign.pcdomains.forEach((c,i)=>{
                pcobj.data.push({
                  geo:c.label,
                  link:c.pcLink,
                  brand_price:c.pcBrandPrice?(c.pcBrandPrice*1).toFixed(2) * 1000 : 0,
                  influ_price:c.pcInfPrice?(c.pcInfPrice*1).toFixed(2) * 1000 : 0,
                })
              })
              if(iosobj.data.length>1){
                arr.push(iosobj);
              }
              if(andobj.data.length>1){
                arr.push(andobj);
              }
              if(pcobj.data.length>1){
                arr.push(pcobj);
              }
              createCampaigns({
                brand_user_id:this.formLabelAlign.braName,
                operation_campaign_name:this.formLabelAlign.camName,
                operation_campaign_type:this.formLabelAlign.type,
                operation_campaign_subtype:this.formLabelAlign.category,
                operation_campaign_desc:this.formLabelAlign.desc,
                operation_campaign_note:this.formLabelAlign.caption,
                operation_campaign_level:this.formLabelAlign.camLevel,
                operation_period_start:moment(this.formLabelAlign.date1).format('YYYY-MM-DD'),
                operation_period_end:moment(this.formLabelAlign.date2).format('YYYY-MM-DD'),
                operation_campaign_logo:this.formLabelAlign.logo,
                operation_campaign_pics:this.formLabelAlign.pics,
                operation_campaign_video:this.formLabelAlign.video.join(','),
                operation_campaign_platform:this.formLabelAlign.socialPlat,
                operation_campaign_devices:this.formLabelAlign.device,
                operation_campaign_kpi:this.formLabelAlign.kpi,
                operation_campaign_brurl:this.formLabelAlign.prevUrl,
                distr_mode:this.formLabelAlign.camMode,
                abname:this.formLabelAlign.shortName,
                influencer_leve_1:this.formLabelAlign.level1,
                influencer_leve_2:this.formLabelAlign.level2,
                influencer_leve_3:this.formLabelAlign.level3,
                influencer_leve_4:this.formLabelAlign.level4,
                influencer_leve_5:this.formLabelAlign.level5,
                json_data:JSON.stringify(arr),
                other_flag:this.formLabelAlign.otherFlag,
                brand_price_type:this.formLabelAlign.brand,
                influ_price_type:this.formLabelAlign.inf,
              }).then((data) => {
                if(data.data.code === 0){
                  this.$router.push('/app/campaigns');
                }
                else{
                    this.$notify.error(data.data.msg);
                }
                })
            } else {
              return false;
            }
        });
      },
    }
  }
</script>

<style scoped>
  .avatar {
    width: 148px;
    height: 148px;
    display: block;
  }
  .min-width-item{
    width:48% !important;
  }
  .mini-item{
    width:30% !important;
  }
  .el-form-card h1 {
    margin-top:0;
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 0;
    line-height: 30px;
    background: #ceedf9;
  }
  .el-form-item{
    width:100%;
    margin-right:20px;
  }
  .form-box{
    padding: 20px;
    background: #f5f7f9;
    display: flex;
    flex-wrap: wrap;
  }
  .upload-video{
    width:100%;
    height:200px;
  }
  .upload-img{
    width:200px;
    height:200px;
  }
  .ios-brand{
    width: 52%;
  }
  .min-width-input{
    width:55%;
    margin-right:4%;
  }
  .middle-input{
    width:16%;
    margin-left:10px;
  }
  .message{
    color: #ff4949;
    font-size: 12px;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    top: 100%;
    left: 0;
  }
  .submit-button{
    float: right;
    margin: 0 30px 70px 0;
  }
  .min-width-item:nth-child(even){
    margin-right:0;
    float:right;
  }
  .min-width-item:nth-child(odd){
    float:left;
  }
  .brand-box{
    width:100%;
    overflow: hidden;
    margin-right:25px;
  }
  .right-input{
    margin-right: 0;
  }
  .middle-width-item{
    float:left;
    margin-right:0;
    width:50% !important;
  }
  .middle-width {
    float:right;
    width: 35% !important;
    margin-right: 0 !important;
  }

</style>
