<template>
    <div class="money">

        <el-card class="box-card">
            <el-table
                :data="tableData1"
                show-summary
                :height="height"
                :summary-method="getSummaries"
                style="width: 100%">
                <el-table-column
                    prop="name"
                    label="Influencer">
                </el-table-column>
                <el-table-column
                    prop="paypal"
                    label="Paypal">
                </el-table-column>
                <el-table-column
                    prop="type"
                    label="Type">
                </el-table-column>
                <el-table-column
                    prop="createdat"
                    label="Date">
                </el-table-column>
                <el-table-column
                    prop="money"
                    label="Amount($)">
                </el-table-column>
                <!--<el-table-column width="120" label="操作">
                    <template scope="scope">
                        <el-button @click="handleClick(scope.row)" type="text" size="small">审核</el-button>
                    </template>
                </el-table-column>-->
            </el-table>
        </el-card>
    </div>
</template>

<script>
    import {
        getInfluencerWaleterList
    } from '../../../apiRequest';
    export default {
        name: 'upcoming',
        components: {
        },
        data() {
            return {
                tableData1: [],
                height: window.innerHeight - 60 - 60 -20 - 80 - 40 -10
            }
        },
        created() {
            this.$parent.$emit('test', 'Payment');
            getInfluencerWaleterList({state: 1}).then((data)=>{
                if(data.data.code === 0 && data.data.msg.length>0){
                    let arr = [];
                    data.data.msg.forEach((_msg,index)=>{
                        arr.push({
                            money: _msg.amount/1000,
                            type: 'Withdraw',
                            name: _msg.influencer_user_page,
                            id: _msg.influencer_wallet_id,
                            paypal: _msg.paypal,
                            createdat: _msg.createat.substring(0, 19) + ' (UTC)'
                        });
                    });
                    this.tableData1 = arr;
                }
            }).catch((res)=>{
                this.$notify({
                    message: res,
                    type: 'error'
                });
            });
        },
        methods: {
            //TODO:合计
            getSummaries(param) {
                const { columns, data } = param;
                const sums = [];
                columns.forEach((column, index) => {
                if (index === 0) {
                    sums[index] = 'Total';
                    return;
                }else if(index!=4){
                    sums[index] = '-';
                }
                const values = data.map(item => Number(item[column.property]));
                if (index==4) {
                    sums[index] = '$';
                    sums[index] += values.reduce((prev, curr) => {
                    const value = Number(curr);
                        if (!isNaN(value)) {
                            return prev + curr;
                        } else {
                            return prev;
                        }
                    }, 0);

                } else {
                    sums[index] = '-';
                }
                });
                return sums;
            }
        }
    }
</script>

<style scoped>
</style>
