<template>
  <div class="influencer">
    <div class="bill view">
          <div class="campaigns-input-box">
            <el-input class="min-width-input" placeholder="Influencer" v-model="state1"></el-input>
            <el-button type="primary" class="min-button" @click="influSearch">Search</el-button>
          </div>
          <el-tabs v-model="activeName" @tab-click="handleClick">
            <el-tab-pane label="CPA" name="cpa">
              <el-card style="margin:20px 0">
                <el-table
                  :data="tableData1"
                  border
                  style="width: 100%"
                  :default-sort = "{prop: 'date', order:'descending'}"
                >
                  <el-table-column
                    prop="month"
                    label="Month"
                    sortable
                  >
                  </el-table-column>
                  <el-table-column
                    prop="influ"
                    label="Influencer"
                    width="90"
                  >
                  </el-table-column>
                  <el-table-column
                    prop="influId"
                    label="Influencer ID"
                    width="120"
                  >
                  </el-table-column>
                  <el-table-column
                    prop="click"
                    label="Click"
                    width="60"
                  >
                  </el-table-column>
                  <el-table-column
                    prop="uclick"
                    label="UClick"
                    width="90"
                  >
                  </el-table-column>
                  <el-table-column
                    prop="conversion"
                    label="Conversion"
                    width="120">
                    >
                  </el-table-column>
                  <el-table-column
                    prop="revenue"
                    label="Revenue"
                  >
                  </el-table-column>
                  <el-table-column
                    prop="dedu"
                    label="Deduction"
                    width="120"
                  >
                  </el-table-column>
                  <el-table-column
                    prop="amount"
                    label="Amounts payable"
                    width="150"
                  >
                  </el-table-column>
                  <el-table-column
                    prop="status"
                    label="Status"
                  >
                  </el-table-column>
                  <el-table-column
                    prop="operation"
                    label="Operation"
                    width="110">
                      <template scope="scope">
                        <el-button @click="clickDetail(scope.$index, scope.row)" type="text" size="small">{{scope.row.status=='collecting'?'-':'Details'}}</el-button>
                      </template>
                  </el-table-column>
                </el-table>
              </el-card>
            </el-tab-pane>
            <el-tab-pane label="CPS" name="cps">
              <el-card style="margin:20px 0">
                <el-table
                  :data="tableData2"
                  border
                  style="width: 100%"
                  :default-sort = "{prop: 'date', order:'descending'}"
                >
                  <el-table-column
                    prop="month"
                    label="Month"
                    sortable
                    width="100">
                  </el-table-column>
                  <el-table-column
                    prop="influ"
                    label="Influencer"
                    width="90">
                  </el-table-column>
                  <el-table-column
                    prop="influId"
                    label="Influencer ID"
                    width="120">
                  </el-table-column>
                  <el-table-column
                    prop="click"
                    label="Click"
                    width="80"
                  >
                  </el-table-column>
                  <el-table-column
                    prop="conversion"
                    label="Conversion"
                    width="130">
                  </el-table-column>
                  <el-table-column
                    prop="bill"
                    label="Bill amount"
                    width="130"
                  >
                  </el-table-column>
                  <el-table-column
                    prop="revenue"
                    label="Revenue"
                  >
                  </el-table-column>
                  <el-table-column
                    prop="deduction"
                    label="Deduction"
                    width="110"
                  >
                  </el-table-column>
                  <el-table-column
                    prop="amounts"
                    label="Amounts payable"
                    width="150"
                  >
                  </el-table-column>
                  <el-table-column
                  prop="status"
                  label="Status"
                  >
                  </el-table-column>
                  <el-table-column
                    width="90"
                    label="Operation"
                  >
                    <template scope="scope">
                      <el-button @click="clickDetail(scope.$index, scope.row)" type="text" size="small">{{scope.row.status=='collecting'?'-':'Details'}}</el-button>
                    </template>
                  </el-table-column>
                </el-table>
              </el-card>
            </el-tab-pane>
            <el-tab-pane label="Package" name="package">
              <el-card style="margin:20px 0">
                <el-table
                  :data="tableData3"
                  border
                  style="width: 100%"
                  :default-sort = "{prop: 'date', order:'descending'}"
                >
                  <el-table-column
                    prop="month"
                    label="Month"
                    sortable
                  >
                  </el-table-column>
                  <el-table-column
                    prop="influ"
                    label="Influencer"
                  >
                  </el-table-column>
                  <el-table-column
                    prop="influId"
                    label="Influencer ID"
                    width="120"
                  >
                  </el-table-column>
                  <el-table-column
                    prop="click"
                    label="Click"
                  >
                  </el-table-column>
                  <el-table-column
                    prop="uclick"
                    label="UClick"
                  >
                  </el-table-column>
                  <el-table-column
                    prop="conv"
                    label="Conversion"
                  >
                  </el-table-column>
                  <el-table-column
                    prop="amount"
                    label="Package amount"
                  >
                  </el-table-column>
                  <el-table-column
                    prop="status"
                    label="Status"
                  >
                  </el-table-column>
                  <el-table-column
                    label="Operation"
                  >
                    <template scope="scope">
                      <el-button @click="clickDetail(scope.$index, scope.row)" type="text" size="small">{{scope.row.status=='collecting'?'-':'Details'}}</el-button>
                    </template>
                  </el-table-column>
                </el-table>
              </el-card>
            </el-tab-pane>
          </el-tabs>
          <!--分页器-->
          <!--<div class="block">-->
          <!--<el-pagination-->
          <!--@size-change="handleSizeChange"-->
          <!--@current-change="handleCurrentChange"-->
          <!--:current-page.sync="currentPage1"-->
          <!--:page-size="sizes"-->
          <!--:total='nums'-->
          <!--layout="total,prev, pager, next, jumper"-->
          <!--&gt;-->
          <!--</el-pagination>-->
          <!--</div>-->
    </div>
  </div>
</template>

<script>
  import {
    captotal,
    cpstotal,
    packagetotal
  } from '../../../apiRequest';
  import baseurl from '../../../configUrl';
  export default {
    name: 'gardenscapes',
    data() {
      return {
          state1:'',
        tableData1:[],
        tableData2:[],
        tableData3:[],
        activeName:'cpa',
      }
    },
    created() {
      window.scrollTo(0,0);
      this.$parent.$emit('test', 'BillReport');
      this.getCapTotal();
      this.getCpsTotal();
      this.getPackTotal();
    },
    methods: {
      handleClick(){this.influSearch()},
      clickDetail(index,row){
          if(row.status=='collecting'){
          }else{
            this.$router.push('/app/typeDetails/'+row.influId+'/'+row.month+'/'+this.activeName+'/'+row.influ);
          }
      },
      getCapTotal(){
        captotal({
          influ_page:this.state1
        }).then((data)=>{
            if(data.data.code==0&&data.data.data){
                let msg=data.data.data;
                let arr=[];
                msg.forEach((c,i)=>{
                    arr.push({
                      month:c.month_date,
                      influId:c.influ_id,
                      click:c.clicks,
                      uclick:c.uclick,
                      conversion:c.convertions,
                      revenue:(c.revenue/1000).toFixed(2),
                      dedu:(c.deduction/1000).toFixed(2),
                      amount:(c.amounts_payable/1000).toFixed(2),
                      status:this.changeStatus(c.stats),
                      influ:c.influencer_user_page
                    })
                })
               this.tableData1=arr;
            }
        })
      },
      getCpsTotal(){
        cpstotal({
          influ_page:this.state1
        }).then((data)=>{
          if(data.data.code==0&&data.data.data){
            let msg=data.data.data;
            let arr=[];
            msg.forEach((c,i)=>{
              arr.push({
                month:c.month_date,
                influId:c.influ_id,
                click:c.clicks,
                uclick:c.uclick,
                conversion:c.convertions,
                revenue:(c.revenue/1000).toFixed(2),
                deduction:(c.deduction/1000).toFixed(2),
                amounts:(c.amounts_payable/1000).toFixed(2),
                status:this.changeStatus(c.stats),
                bill:(c.bill_money/1000).toFixed(2),
                influ:c.influencer_user_page,
              })
            })
            this.tableData2=arr;
          }
        })
      },
      getPackTotal(){
        packagetotal({
          influ_page:this.state1
        }).then((data)=>{
          if(data.data.code==0&&data.data.data){
            let msg=data.data.data;
            let arr=[];
            msg.forEach((c,i)=>{
              arr.push({
                month:c.end_taked_date.slice(0,7),
                influ:c.influencer_user_page,
                influId:c.influ_id,
                status:this.changeStatus(c.stats),
                amount:(c.amounts_payable/1000).toFixed(2),
                click:c.clicks,
                uclick:c.uclick,
                conv:c.convertions
              })
            })
            this.tableData3=arr;
          }
        })
      },
//      搜索
      influSearch(){
        if(this.activeName=='cpa'){
            this.getCapTotal();
        }else if(this.activeName=='cps'){
            this.getCpsTotal();
        }else if(this.activeName=='package'){
          this.getPackTotal();
        }
      },
//      状态显示
      changeStatus(status){
          switch(status){
            case 0:return 'collecting';break;
            case 1:return 'reviewing';break;
            case 2:return 'billed';break;
            default:break;
          }
      }
    }
  }
</script>
<style scoped>
  .campaigns-input-box{
    margin:20px 0;
    display: flex;
    justify-content: space-between;
  }
  .min-width-input{
    width:30%;
  }
  .min-button{
    background:#20b9f5;
    margin-left:10px;
  }
</style>
