<template>
    <div class="check-finance">
        <!--<h3>财务审核</h3>-->
        <el-table
            :data="tableData1"
            style="width: 100%">
            <el-table-column
                prop="name"
                label="网红名称">
            </el-table-column>
            <el-table-column
                prop="paypal"
                label="收款账户">
            </el-table-column>
            <el-table-column
                prop="type"
                label="类型">
            </el-table-column>
            <el-table-column
                prop="createdat"
                label="日期">
            </el-table-column>
            <el-table-column
                prop="money"
                label="金额($)">
            </el-table-column>
            <el-table-column width="120" label="操作">
                <template scope="scope">
                    <el-button @click="handleClick(scope.row.id)" type="text" size="small">审核</el-button>
                    <!--<el-button type="text" size="small">编辑</el-button>-->
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>

<script>
    import {
        getInfluencerWaleterList,
        updataWaleter
    } from '../../../apiRequest';
    import baseurl from '../../../configUrl';
    import countryList from '../../../country.json';
    export default {
        name: 'upcoming',
        components: {

        },
        data() {
            return {
                videourl: '',
                tableData1: [],
                form: {
                    state: 1,
                    influencer_wallet_get_id: ''
                }
            }
        },
        watch: {

        },
        created() {
            window.scrollTo(0,0);
            this.$parent.$emit('test', '财务审核');
            this.getList();
        },
        methods: {
            getList(){
                getInfluencerWaleterList({state: 0}).then((data)=>{
                    if(data.data.code === 0 && data.data.msg.length>0){
                        let arr = [];
                        data.data.msg.forEach((_msg,index)=>{
                            arr.push({
                                money: _msg.amount/1000,
                                type: '提现',
                                name: _msg.influencer_user_page,
                                id: _msg.influencer_wallet_get_id,
                                paypal: _msg.paypal,
                                createdat: _msg.createat.substring(0, 10)
                            });
                        });
                        this.tableData1 = arr;
                    }
                }).catch((response) => {
                    this.$notify.error({
                        title: '错误',
                        message: response.toString()
                    });
                })
            },
            handleClick(id){
                getInfluencerWaleterList({state: 0}).then((data)=>{
                    if(data.data.code === 0 && data.data.msg.length>0){
                        let isOpen = false;
                        data.data.msg.forEach((_msg,index)=>{
                            if(_msg.influencer_wallet_get_id === id){
                                isOpen = true;
                            }
                        });
                        if(isOpen){
                            this.open(id);
                        }else{
                            this.$notify.warning({
                                title: '',
                                message: "已经审核通过"
                            });
                            this.getList();
                        }
                    }
                }).catch((response) => {
                    this.$notify.error({
                        title: '错误',
                        message: response.toString()
                    });
                })
            },
            open(id) {
                this.$confirm('确定执行此次操作吗?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.checkState(id);
                }).catch(() => {

                });
            },
            checkState(id){
                updataWaleter({
                    state: 1,
                    influencer_wallet_get_id: id
                }).then((data)=>{
                    if(data.data.code === 0 ){
                        this.$notify.success({
                            title: '',
                            message: "审核通过"
                        });
                        this.tableData1 = [];
                        this.getList();
                    }
                }).catch((response) => {
                    this.$notify.error({
                        title: '错误',
                        message: response.toString()
                    });
                })
            }
        }
    }
</script>

<style scoped>
</style>
