<template>
    <div class="checkProduct">
        <el-tabs v-model="activeName" @tab-click="handleClick">
                <el-form ref="form" :model="form" label-width="120px" :rules="rules">
                    <div class="header_title2">基础信息</div>
                    <div class="body-box">
                         <el-form-item label="产品名称:" prop="name">
                            <el-input v-model="form.name" style="width:75%"></el-input>
                        </el-form-item>
                        <el-form-item label="产品简称:" prop="smallName">
                            <el-input v-model="form.smallName" style="width:75%" @blur="checkAbname"></el-input>
                        </el-form-item>
                        <el-form-item label="产品类型:">
                            {{form.type}} - {{form.type2}} <span v-if="form.type2==='Other'">{{form.othertype}}</span>
                        </el-form-item>
                        <el-form-item label="产品URL:">
                            <p class="product-link" v-if="form.type=='link'"> <span></span> {{form.pcurl}}</p>
                            <p class="product-link" v-if="form.type=='app'"> <span>IOS:</span> {{form.iosurl}}</p>
                            <p class="product-link" v-if="form.type=='app'"> <span>ANDROID:</span> {{form.andriodurl}}</p>
                            <p class="product-link" v-if="form.type=='app'"> <span>PC:</span> {{form.pcurl}}</p>

                        </el-form-item>
                        <el-form-item label="产品描述:" prop="description">
                            <el-input v-model="form.description" type="textarea" style="width:75%"></el-input>
                        </el-form-item>
                        <el-form-item label="推广方式:" prop="pullType" >
                            <el-select v-model="form.pullType" placeholder="--请选择--" style="width:75%">
                                <el-option label="分配" value="0"></el-option>
                                <el-option label="自由" value="1"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="结算方式:" prop="settle">
                            <el-select v-model="form.settle" placeholder="请选择" style="width:75%">
                                <el-option label="CPC" value="0"></el-option>
                                <el-option label="CPA" value="1"></el-option>
                                <el-option label="Package" value="2"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="金额:" prop="money">
                            <el-input v-model.number="form.money" style="width:75%;" @blur="moneyLimit"></el-input>
                        </el-form-item>
                    </div>
                    <div class="header_title">推广链接</div>
                    <div class="body-box">
                        <el-form-item label="推广链接:" prop="default">
                            <el-table :data="tableData" border style="width: 100%">
                                <!--<el-table-column label="Mode" width="80" prop="mode">
                                </el-table-column>-->
                                <el-table-column label="Location" width="120" prop="location"></el-table-column>
                                <el-table-column label="URL" prop="url">
                                    <template scope="scope">
                                        <p>IOS: {{ scope.row.url.ios }}</p>
                                        <p>Android: {{ scope.row.url.android }}</p>
                                        <p>PC: {{ scope.row.url.pc }}</p>
                                    </template>
                                </el-table-column>
                                <el-table-column label="Price($)" prop="price">
                                    <template scope="scope">
                                        <p>IOS: {{ scope.row.price.ios_price }}</p>
                                        <p>Android: {{ scope.row.price.android_price }}</p>
                                        <p>PC: {{ scope.row.price.pc_price }}</p>
                                    </template>
                                </el-table-column>
                                <el-table-column label="操作" width="80">
                                    <template scope="scope">
                                        <el-button
                                        size="small"
                                        type="danger"
                                        @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                            <el-row :gutter="20" style="margin-top:15px;">
                                <el-col :span="6">
                                    <div>
                                        <el-select v-if="isSelectCountry" :disabled="isSelectCountry" v-model="countryList.countryValue" filterable placeholder="请选择国家,点击+按钮">
                                            <el-option label="Default" value="Default"></el-option>
                                        </el-select>
                                        <el-select v-if="!isSelectCountry" v-model="countryList.countryValue" filterable placeholder="请选择国家,点击+按钮">
                                            <el-option v-for="item in options" :label="item.value" :key="item.value"  :value="item.value"></el-option>
                                        </el-select>
                                    </div>
                                </el-col>
                                <el-col :span="6">
                                    <div>
                                        <el-button @click="changeCampaignState('moreCountry')">多国家</el-button>
                                    </div>
                                </el-col>
                            </el-row>
                            <el-row :gutter="20">
                                <el-col :span="24">
                                    <div>

                                        <el-input v-model="countryList.ios_link" placeholder="IOS" style="width:60%">
                                            <template slot="prepend">IOS:</template>
                                        </el-input>

                                        <el-input v-model="countryList.ios_price" placeholder="PRICE" style="width:20%;margin:10px 0;"  >
                                            <template slot="prepend">Price:</template>
                                        </el-input>

                                        <el-input v-model="countryList.android_link" placeholder="Andorid" style="width:60%;margin:10px 0;">
                                            <template slot="prepend">ANDROID:</template>
                                        </el-input>

                                        <el-input v-model="countryList.android_price" placeholder="PRICE" style="width:20%;margin:10px 0;">
                                            <template slot="prepend">Price:</template>
                                        </el-input>

                                        <el-input v-model="countryList.pc_link" placeholder="PC" style="width:60%">
                                            <template slot="prepend">LINK:</template>
                                        </el-input>

                                        <el-input v-model="countryList.pc_price" placeholder="PRICE" style="width:20%;margin:10px 0;">
                                            <template slot="prepend">Price:</template>
                                        </el-input>

                                        <el-button @click="changeCampaignState('addurl')">添加</el-button>
                                    </div>
                                </el-col>
                            </el-row>
                        </el-form-item>
                    </div>
                    <div class="header_title">偏好信息</div>
                    <div class="body-box">
                        <el-form-item label="Age:" prop="age">
                            <el-checkbox-group v-model="form.age">
                                <el-checkbox label="All" name="type" style="marginLeft:15px;"></el-checkbox>
                                <el-checkbox label="13-17" name="type"></el-checkbox>
                                <el-checkbox label="18-24" name="type"></el-checkbox>
                                <el-checkbox label="25-34" name="type"></el-checkbox>
                                <el-checkbox label="35-44" name="type"></el-checkbox>
                                <el-checkbox label="45-54" name="type"></el-checkbox>
                                <el-checkbox label="55+" name="type"></el-checkbox>
                            </el-checkbox-group>
                        </el-form-item>
                        <el-form-item label="Gender:" prop="gender">
                            <el-radio-group v-model="form.gender">
                                <el-radio label="All" style="marginLeft:15px;"></el-radio>
                                <el-radio label="Male"></el-radio>
                                <el-radio label="Female"></el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item label="Location:" prop="region">
                            <el-checkbox-group v-model="form.region" style="width:75%">
                                <el-checkbox label="All" name="All" style="marginLeft:15px;"></el-checkbox>
                                <el-checkbox label="USA" name="USA"></el-checkbox>
                                <el-checkbox label="UK" name="UK"></el-checkbox>
                                <el-checkbox label="Netherlands" name="Netherlands"></el-checkbox>
                                <el-checkbox label="France" name="France"></el-checkbox>
                                <el-checkbox label="Italy" name="Italy"></el-checkbox>
                                <el-checkbox label="Germany" name="Germany"></el-checkbox>
                                <el-checkbox label="Brazil" name="Brazil"></el-checkbox>
                                <el-checkbox label="Mexico" name="Mexico"></el-checkbox>
                                <el-checkbox label="India" name="India"></el-checkbox>
                                <el-checkbox label="Canada" name="Canada"></el-checkbox>
                                <el-checkbox label="Australia" name="Australia"></el-checkbox>
                                <el-checkbox label="New Zealand" name="New Zealand"></el-checkbox>
                                <el-checkbox label="Thailand" name="Thailand"></el-checkbox>
                                <el-checkbox label="Vietnam" name="Vietnam"></el-checkbox>
                                <el-checkbox label="Others" name="Others"></el-checkbox>
                            </el-checkbox-group>
                        </el-form-item>
                    </div>
                    <div class="header_title">物料信息</div>
                    <div class="body-box">
                        <el-form-item label="文案:" prop="desc">
                            <el-input v-model="form.desc" type="textarea" style="width:75%;"></el-input>
                        </el-form-item>
                        <el-form-item label="图片:" prop="img">
                            <!--<el-upload style="margin-bottom:5px;" :file-list="pictureList" list-type="picture" name="logo" multiple class="upload-demo" :action="baseURL" :on-success="handleAvatarSuccess1" :before-upload="beforeAvatarUpload1">
                                <el-button type="primary" style="width:120px;border-radius:5px;">上传图片</el-button>
                            </el-upload>-->
                            <el-upload
                                :action="baseURL"
                                list-type="picture-card"
                                name="logo"
                                multiple
                                :on-preview="handlePictureCardPreview"
                                :on-success="handleAvatarSuccess1"
                                :before-upload="beforeAvatarUpload1"
                                :on-remove="handleRemove">
                                <i class="el-icon-plus"></i>
                            </el-upload>
                            <el-dialog v-model="dialogVisible" size="tiny">
                                <img width="100%" :src="dialogImageUrl" alt="">
                            </el-dialog>
                        </el-form-item>
                        <el-form-item label="视频:">
                            <el-upload name="logo" class="upload-demo" :action="baseURL" :show-file-list=false :on-success="handleAvatarSuccess2" :before-upload="beforeAvatarUpload2">
                                <el-button type="primary" style="width:120px;border-radius:5px;">上传视频</el-button>
                            </el-upload>
                            <video style="display:block;position:relative;top:12px;left:-12px;" v-if="istrue" width="200px" height="100px" controls :src="videourl"></video>
                        </el-form-item>
                    </div>

                    <div style="text-align:right;margin: 30px 0px 30px;">
                        <el-button style="border-radius:5px;" type="primary" @click="changeCampaignState('pass')">审核通过</el-button>
                        <el-button style="border-radius:5px;" @click="changeCampaignState('fail')">审核驳回</el-button>
                        <el-button style="border-radius:5px;" @click="changeCampaignState('back')">返回</el-button>
                    </div>
                </el-form>
            </el-tab-pane>
        </el-tabs>
    </div>
</template>

<script>
    import {
        getCompaignDetails,
        checkProduct,
        submitProduct,
        setCompaignsState,
        getCompaignsState,
        getAbnameExist
    } from '../../../apiRequest';
    import baseurl from '../../../configUrl';
    import countryList from '../../../country.json';
    export default {
        name: 'upcoming',
        components: {

        },
        data() {
            let checkAmount = (rule, value, callback) => {
                if (!value) {
                    callback(new Error('请输入预算金额'));
                } else if (value < 0.01) {
                    callback(new Error('金额必须大于0.01'));
                }else if (value > 1000000) {
                    callback(new Error('金额必须小于1000000'));
                } else {
                    callback();
                }
            };
            return {
                videourl: '',
                istrue: false,
                pictureList: [],
                activeName: 'first',
                dialogImageUrl: '',
                dialogVisible: false,
                baseURL: baseurl.uploadURL,
                isSelectCountry: true,
                tableData: [],
                form: {
                    name: '',
                    smallName:'',
                    type: 'app',
                    type2: '',
                    pullType: '',
                    othertype: '',
                    iosurl: '',
                    andriodurl: '',
                    pcurl: '',
                    default: '',
                    description: '',
                    uid: '',
                    compaignid: '',
                    logo: '',
                    age: [],
                    gender: '',
                    region: [],
                    settle: '',
                    money: '',
                    rmb: '',
                    desc: '',
                    img: [],
                    video: ''
                },
                rules: {
                    name: [
                        { required: true, message: '请输入产品名称', trigger: 'blur' },
                        { min: 3, max: 20, message: '长度在 3 到 20 个字符', trigger: 'blur' }
                    ],
                    smallName: [
                        { required: true, message: '请输入产品简称', trigger: 'blur' },
                    ],
                    pullType: [
                        { required: true, message: '请选择推广类型', trigger: 'change' }
                    ],
                    default: [
                        { required: true, message: '请输入默认链接', trigger: 'change' },
                    ],
                    type: [
                        { required: true, message: '请选产品类型', trigger: 'change' }
                    ],
                    type2: [
                        { required: true, message: '请选产品子类型', trigger: 'change' }
                    ],
                    description: [
                        { required: true, message: '请输入产品描述', trigger: 'blur' },
                    ],
                    age: [
                        { type: 'array',required: true, message: '请选选择年龄', trigger: 'change' }
                    ],
                    gender: [
                        { required: true, message: '请选选择性别', trigger: 'change' }
                    ],
                    region: [
                        { type: 'array',required: true, message: '请选选择地区', trigger: 'change' }
                    ],
                    settle: [
                        { required: true, message: '请选产品结算方式', trigger: 'change' }
                    ],
                    money: [
                        { required: true, trigger: 'blur', validator: checkAmount },
                        { type: 'number', message: '产品预算金额必须为数字值'}
                    ],
                    desc: [
                        { required: true, message: '请输入产品预置文案', trigger: 'blur' },
                    ],
                    img: [
                        { type: 'array',required: true, message: '请上传图片', trigger: 'change' },
                    ]
                },
                options: [],
                countryList: {
                    countryValue: 'Default',
                    ios_link: '',
                    android_link: '',
                    pc_link: '',
                    ios_price: '',
                    android_price: '',
                    pc_price: ''
                },
                campaignId: ''
            }
        },
        watch: {

        },
        created() {
            window.scrollTo(0,0);
            countryList.forEach((c, i) => {
                this.options.push({
                    value: c.iso2,
                    label: c.countryName
                })
            })
            this.campaignId = this.$route.params.id;
            getCompaignDetails(this.$route.params.id).then((data) => {
                if(data.data.code === 0 && data.data.msg.length>0){
                    let formData = data.data.msg[0];
                    this.form.name = formData.brand_campaign_name;
                    this.form.uid = formData.brand_user_id;
                    this.form.compaignid = formData.brand_campaign_id;
                    this.form.type = formData.brand_campaign_type;
                    this.form.type2 = formData.brand_campaign_subtype;
                    this.form.iosurl = formData.brand_campaign_ioslink;
                    this.form.andriodurl = formData.brand_campaign_androidlink;
                    this.form.pcurl = formData.brand_campaign_pclink;
                    this.form.description = formData.brand_campaign_note;
                    if(formData.brand_campaign_age){
                        this.form.age = formData.brand_campaign_age.split(',');
                    }
                    if(formData.brand_campaign_region){
                        this.form.region = formData.brand_campaign_region.split(',');
                    }
                    this.form.gender = formData.brand_campaign_sex;
                    this.form.money = formData.brand_campaign_amount / 1000;
                    this.form.logo = formData.brand_campaign_logo;
                }
            }).catch((res) => {
                this.$notify.error({
                    title: 'error',
                    message: res.toString()
                });
            });
            this.$parent.$emit('test', '审核产品');
        },
        methods: {
            checkAbname(){
                getAbnameExist({
                    abname: this.form.smallName
                }).then((data)=>{
                    if(data.data.code === 0){
                        // 存在
                        this.$notify({
                            title: '警告',
                            message: '存在,重新输入简称',
                            type: 'warning'
                        });
                        this.form.smallName = '';
                    }else if(data.data.code === 3){
                        // 不存在
                    }
                })
            },
            handleRemove(file, fileList) {
            },
            handlePictureCardPreview(file) {
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            },
            moneyLimit(){

            },
            handleDelete(index, row) {
                this.tableData.splice(index, 1);
            },
            changeCampaignState(type) {
                let obj = {
                    id: this.$route.params.id,
                    state: ''
                }
                if (type === 'pass') {
                    obj.state = 2;
                    this.$refs['form'].validate((valid) => {
                        if (valid) {
                            this.$confirm('确定审核通过该产品吗?', '提示', {
                                cancelButtonText: '取消',
                                confirmButtonText: '确定',
                                type: 'info'
                            }).then(() => {
                                getCompaignsState({
                                    brand_campaign_id: this.campaignId
                                }).then((data)=>{
                                    if(data.data.code === 0 && data.data.msg.length>0){
                                        if(data.data.msg[0].brand_campaign_state*1 === 1){
                                            this.checkProductState(obj);
                                        }else{
                                            this.$notify.warning({
                                                title: 'warning',
                                                message: '该产品已经被审核通过或者驳回'
                                            });
                                            this.$router.push('/app/dashProductList');
                                        }
                                    }
                                }).catch((res) => {
                                    this.$notify.error({
                                        title: 'error',
                                        message: res.toString()
                                    });
                                });
                            }).catch(() => {
                                this.$notify.info({
                                    title: '消息',
                                    message: '已取消修改'
                                });
                            });
                        } else {
                            return false;
                        }
                    });
                } else if (type === 'fail') {
                    obj.state = 6;
                    this.$confirm('确定要驳回该产品吗?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        getCompaignsState({
                            brand_campaign_id: this.campaignId
                        }).then((data)=>{
                            if(data.data.code === 0 && data.data.msg.length>0){
                                if(data.data.msg[0].brand_campaign_state*1 === 1){
                                setCompaignsState({
                                    brand_campaign_id: this.campaignId,
                                    brand_campaign_state: 6
                                }).then((data)=>{
                                        if(data.data.code === 0){
                                            this.$router.push('/app/dashProductList');
                                        }
                                }).catch((res) => {
                                        this.$notify.error({
                                            title: 'error',
                                            message: res.toString()
                                        });
                                    });
                                }else{
                                    this.$notify.warning({
                                        title: 'warning',
                                        message: '该产品已经被审核通过或者驳回'
                                    });
                                    this.$router.push('/app/dashProductList');
                                }
                            }
                        }).catch((res) => {
                            this.$notify.error({
                                title: 'error',
                                message: res.toString()
                            });
                        });
                    }).catch(() => {
                        this.$notify.info({
                            title: '消息',
                            message: '已取消修改'
                        });
                    });

                } else if (type === 'back') {
                    this.$router.push('/app/dashProductList');
                } else if (type === 'addurl') {
                    let obj = {
                        mode: 0,
                        location: this.countryList.countryValue,
                        url: {
                            android: this.countryList.android_link,
                            ios: this.countryList.ios_link,
                            pc: this.countryList.pc_link,
                            ios_price: this.countryList.ios_price,
                            android_price: this.countryList.android_price,
                            pc_price: this.countryList.pc_price,
                        },
                        price: {
                            ios_price: this.countryList.ios_price,
                            android_price: this.countryList.android_price,
                            pc_price: this.countryList.pc_price,
                        }
                    };
                    if (this.countryList.countryValue === 'Default') {
                        obj.mode = 0;
                    } else {
                        obj.mode = 1;
                    }
                    if(this.tableData.length === 0){
                        this.form.default = 'ok';
                        this.countryList.countryValue = '';
                    }
                    this.tableData.push(obj);
                } else if (type === 'moreCountry') {
                    if (this.tableData.length > 0) {
                        this.countryList.countryValue = '';
                        this.isSelectCountry = false;
                    } else {
                        this.$notify({
                            title: '警告',
                            message: '请添加Default模式链接',
                            type: 'warning'
                        });
                    }
                }
            },
            checkProductState(obj) {
                let countryJISON = [];
                let defaultUrl = {
                    ios: '',
                    android: '',
                    pc: '',
                    ios_price: '',
                    android_price: '',
                    pc_price: ''
                };
                if (this.tableData.length > 0) {
                    this.tableData.forEach((tab, index) => {
                        if (tab.mode !== 0) {
                            countryJISON.push({
                                countryValue: tab.location,
                                ios_link: tab.url.ios,
                                android_link: tab.url.android,
                                pc_link: tab.url.pc,
                                ios_price: parseInt(tab.url.ios_price*1000),
                                android_price: parseInt(tab.url.android_price*1000),
                                pc_price: parseInt(tab.url.pc_price*1000)
                            });
                        } else {
                            defaultUrl.ios = tab.url.ios;
                            defaultUrl.android = tab.url.android;
                            defaultUrl.pc = tab.url.pc;
                            defaultUrl.ios_price = parseInt(tab.url.ios_price*1000);
                            defaultUrl.android_price = parseInt(tab.url.android_price*1000);
                            defaultUrl.pc_price = parseInt(tab.url.pc_price*1000);
                        }
                    });
                }
                if(this.form.money < 0.001 || this.form.money>1000000){
                    this.$notify({
                        message: 'Minimum amount is 0,001$,Maximum amount is 1 million$.',
                        type: 'warning'
                    });
                    return;
                }else{

                }
                let formObj = {
                    name: this.form.name,
                    abname: this.form.smallName,
                    userid: this.form.uid,
                    campaignid: this.form.compaignid,
                    type: this.form.type,
                    subtype: this.form.type2,
                    distr_mode: this.form.pullType,
                    othertype: this.form.othertype,
                    ioslink: defaultUrl.ios,
                    ios_price: defaultUrl.ios_price,
                    androidlink: defaultUrl.android,
                    android_price: defaultUrl.android_price,
                    pclink: defaultUrl.pc,
                    pc_price: defaultUrl.pc_price,
                    countrys: JSON.stringify(countryJISON),
                    note: this.form.description,
                    age: this.form.age.join(','),
                    sex: this.form.gender,
                    region: this.form.region.join(','),
                    amount: (this.form.money*1).toFixed(2) * 1000,
                    logo: this.form.logo,
                    video: this.form.video,
                    desc: this.form.desc,
                    pics: this.form.img.join(','),
                    amount_type: this.form.settle
                }
                // return;
                submitProduct(formObj).then((data) => {
                    if (data.data.code === 0) {
                        this.$notify.success({
                            title: 'success',
                            message: '操作成功'
                        });
                        checkProduct(obj).then((data) => {
                        })
                        this.$router.push('/app/dashProductList');
                    } else {
                        this.$notify.error({
                            title: 'error',
                            message: data.data.msg
                        });
                    }
                }).catch((res) => {
                    this.$notify.error({
                        title: 'error',
                        message: res.toString()
                    });
                });
            },
            handleAvatarSuccess1(res, file) {
                this.form.img.push(res.msg);
                // this.pictureList.push({
                //     name: res.msg,
                //     url: baseurl.logURL + res.msg
                // });
            },
            handleAvatarSuccess2(res, file) {
                this.form.video = res.msg;
                this.videourl = baseurl.logURL + res.msg
                this.istrue = true;

            },
            beforeAvatarUpload1(file) {
                let type = file.type.toLowerCase();
                const isJPEG = type === 'image/jpeg';
                const isJPG = type === 'image/jpg';
                const isGIF = type === 'image/gif';
                const isBMP = type === 'image/bmp';
                const isPNG = type === 'image/png';
                const isLt2M = file.size / 1024 / 1024 < 10;
                if (!isJPEG && !isJPG && !isGIF && !isBMP && !isPNG) {
                    this.$message.error('Only jpg/png/gif/bmp!');
                    return false;
                }
                if (!isLt2M) {
                    this.$message.error('maximum 10M!');
                    return false;
                }
                return (isJPEG || isJPG || isGIF || isBMP || isPNG) && isLt2M;
            },
            handleClick(){

            },
            beforeAvatarUpload2(file) {
                // rm\rmvb\wmv\avi\mp4\3gp\mkv
                let type = file.type.toLowerCase();
                const isMP4 = type === 'video/mp4';
                const isRM = type === 'video/rm';
                const isRMVB = type === 'video/rmvb';
                const isWMV = type === 'video/wmv';
                const isAVI = type === 'video/avi';
                const is3GP = type === 'video/3gp';
                const isMKV = type === 'video/mkv';
                const isMOV = type === 'video/mov';
                const isLt2M = file.size / 1024 / 1024 < 20;
                if (!isMP4 && !isRM && !isRMVB && !isWMV && !isAVI && !is3GP && !isMKV && !isMOV) {
                    this.$message.error('Only rm/rmvb/wmv/avi/mp4/3gp/mkv!');
                    return false;
                }
                if (!isLt2M) {
                    this.$message.error('上传视频大小不能超过 20MB!');
                    return false;
                }
                return ( isMP4 || isRM || isRMVB || isWMV || isAVI || is3GP || isMKV || isMOV) && isLt2M;
            }
        }
    }
</script>

<style scoped>
    .money {
        padding: 40px 60px;
    }

    .formData {
        padding-left: 10px;
    }

    .formData p {
        padding-left: 10px;
    }
    .product-link{
        padding: 0;
        margin: 0;
        word-break: break-all;
        word-wrap: break-word;
    }
    .product-link>span{
        font-weight: bold;
    }
</style>
