<template>
  <div class="checkproduct">
      <div class="companyInformation">
        <h3>公司信息审核</h3>
        <div class="checkContent">
            <ul>
                <li>
                    <div class="label">公司名称:</div>
                    <div>{{checkCompany.name}}</div>
                </li>
                <li>
                    <div class="label">公司网站:</div>
                    <div>{{checkCompany.website}}</div>
                </li>
                <li>
                    <div class="label">商业类型:</div>
                    <div>{{checkCompany.type}}</div>
                </li>
                <li>
                    <div class="label">电话号码:</div>
                    <div>{{checkCompany.phonenumber}}</div>
                </li>
                <li>
                    <div class="label">联系人:</div>
                    <div>{{checkCompany.contacts}}</div>
                </li>
                <li>
                    <div class="label">邮箱:</div>
                    <div>{{checkCompany.email}}</div>
                </li>
                <li>
                    <div class="label">公司logo:</div>
                    <div style="height:110px;vertical-align: middle;">
                          <img @click="dialogImgVisible = true" style="height:100px;" :src="checkCompany.logo">
                    </div>
                </li>
                 <li>

                    <div class="label">营业执照:</div>
                    <div style="height:80px;vertical-align: middle;">

                          <img @click="dialogImg2Visible = true" style="height:100px;" :src="checkCompany.licence">
                    </div>
                </li>
            </ul>
        </div>
      </div>
      <div  style="text-align:right;margin-right:15%;margin-top:20px;">
           <el-button class="buttonList" @click="checkCompanyState('pass')" type="primary">审核通过</el-button>
           <el-button @click="checkCompanyState('fail')" class="buttonList">审核驳回</el-button>
           <el-button class="buttonList" @click="returnCompanyList">取消</el-button>
      </div>
    <!--<el-card class="box-card">
        <div slot="header" class="clearfix">
            <span style="line-height: 36px;font-weight:bold;font-size:16px;">公司信息审核</span>
        </div>
        <div class="companyContent">
            <el-form ref="form" label-width="80px" label-position="left">

                <el-form-item label="公司名称:">
                    {{checkCompany.name}}
                </el-form-item>
                <el-form-item label="公司网站:">
                    {{checkCompany.website}}
                </el-form-item>
                <el-form-item label="商业类型:">
                    {{checkCompany.type}}
                </el-form-item>
                <el-form-item label="电话号码:">
                     {{checkCompany.phonenumber}}
                </el-form-item>
                <el-form-item label="联系人:">
                    {{checkCompany.contacts}}
                </el-form-item>
                <el-form-item label="邮箱:">
                    {{checkCompany.email}}
                </el-form-item>
                 <el-form-item label="公司logo:">
                    <div style="height:80px;margin-bottom:20px;">

                          <img @click="dialogImgVisible = true" style="height:100px;" :src="checkCompany.logo">
                    </div>
                </el-form-item>
                 <el-form-item label="营业执照:">
                     <div style="height:80px;">

                          <img @click="dialogImg2Visible = true" style="height:100px;" :src="checkCompany.licence">
                    </div>
                </el-form-item>
            </el-form>
            <div style="text-align:right;margin: 0px 0px 20px;">
                <el-button @click="checkCompanyPass" type="primary">审核通过</el-button>
                <el-button type="primary">审核驳回</el-button>
                <el-button type="primary" @click="returnCompanyList">取消</el-button>
            </div>
        </div>
    </el-card>-->
    <!--图片放大-->
   <el-dialog v-model="dialogImgVisible" size="tiny">
        <img  style=" width:100%;" :src="checkCompany.logo">
   </el-dialog>
   <el-dialog v-model="dialogImg2Visible" size="tiny">
        <img  style=" width:100%;" :src="checkCompany.licence">
   </el-dialog>

  </div>
</template>

<script>
    import {
        checkCompany,
        getCompanyBaseMsg,
        getBrandUserMsg
    } from '../../../apiRequest';
    import baseurl from '../../../configUrl';
    export default {
        data() {
            return {
                dialogImgVisible: false,
                dialogImg2Visible: false,
                checkCompany: {
                    name: '',
                    website: '',
                    type: '',
                    contacts: '',
                    email: '',
                    phonenumber: '',
                    logo: '',
                    licence: ''
                }
            };
        },
        created() {
            window.scrollTo(0,0);
            this.$parent.$emit('test', '公司审核');
            let id = this.$route.params.id;
            getCompanyBaseMsg({
                userid: id
            }).then((data) => {
                let companyBaseMsg = data.data.msg[0];
                if (data.data.code === 0 && companyBaseMsg) {
                    this.checkCompany.name = companyBaseMsg.brand_company_name;
                    this.checkCompany.website = companyBaseMsg.brand_company_homepage;
                    this.checkCompany.type = companyBaseMsg.brand_company_type;
                    this.checkCompany.contacts = companyBaseMsg.brand_company_contact;
                    this.checkCompany.email = companyBaseMsg.brand_company_email;
                    this.checkCompany.phonenumber = companyBaseMsg.brand_company_phone;
                    this.checkCompany.logo = baseurl.logURL + companyBaseMsg.brand_company_logo;
                    this.checkCompany.licence = baseurl.logURL + companyBaseMsg.brand_company_licence;
                }
            })

        },
        methods: {
            checkCompanyState(type) {
                let obj = {
                    brand_user_id: this.$route.params.id,
                    brand_company_state: ''
                }
                this.$confirm('确定进行此次更改吗?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    getBrandUserMsg({
                        phone: this.checkCompany.phonenumber
                    }).then((data)=>{
                        if(data.data.code === 0){
                            let msg = data.data.msg[0];
                            if(msg.brand_company_state === 3){
                                this.$notify.info({
                                    title: 'info',
                                    message: '该公司已经审核通过'
                                });
                                this.$router.push('/app/dashCompanyList');
                                return;
                            }else if(msg.brand_company_state === 4){
                                this.$notify.info({
                                    title: 'info',
                                    message: '该公司已经被驳回'
                                });
                                this.$router.push('/app/dashCompanyList');
                                return;
                            }else{
                                if (type === 'pass') {
                                    obj.brand_company_state = 3;
                                    checkCompany(obj).then((data) => {
                                        this.$notify.success({
                                            title: 'success',
                                            message: '审核成功'
                                        });
                                        this.$router.push('/app/dashCompanyList');
                                    })

                                } else if (type === 'fail') {
                                    obj.brand_company_state = 4;
                                    checkCompany(obj).then((data) => {
                                        this.$notify.success({
                                            title: 'success',
                                            message: '驳回成功'
                                        });
                                        this.$router.push('/app/dashCompanyList');
                                    })
                                }
                            }
                        }
                    });
                }).catch(() => {
                    this.$notify.info({
                        title: '消息',
                        message: '已取消修改'
                    });
                });

            },
            returnCompanyList() {
                this.$router.push('/app/upcoming');
            }
        }
    }
</script>

<style scoped>
    .checkproduct {
        /*position: relative;
        top: 20%;*/
        margin-top: 5%;
    }

    .companyInformation {
        height: 650px;
        border: 1px solid #ccc;
        background-color: #fff;
        width: 50%;
        margin: auto;
        text-align: center;
    }

    .checkContent {
        text-align: left;
    }

    .checkContent ul {
        list-style: none;
    }

    .checkContent ul li div.label {
        width: 80px;
        padding: 10px 20px;
        background-color: #d1e5f9;
        text-align: right;
        margin-bottom: 5px;
    }

    .checkContent ul li div {
        display: inline-block;
        margin-left: 15px;
    }

    .buttonList {
        border-radius: 5px;
    }
</style>
