<template>
  <div class="upcoming" id="upComing">
    <!--<h3>公司审核</h3>-->
    <el-table :data="checkCompanyDetail" style="width: 100%">
        <el-table-column prop="phone" label="账号">
        </el-table-column>
        <el-table-column prop="name" label="公司名称">
        </el-table-column>
        <el-table-column width="160" label="操作">
            <template scope="scope">
                <el-button @click="jumpCheckCompany(scope.row)" type="text" size="small">审核</el-button>
            </template>
</el-table-column>
</el-table>
</div>
</template>

<script>
    import {
        getbrandList,
        getBrandUserMsg
    } from '../../../apiRequest';
    export default {
        name: 'upcoming',
        components: {

        },
        data() {
            return {
                checkCompanyDetail: [],
            }
        },
        created() {
            window.scrollTo(0,0);
            this.$parent.$emit('test', '公司审核');
            this.getcList();
        },
        methods: {
            getcList(){
                getbrandList({
                    state: 2
                }).then((data) => {
                    let companyData = [];
                    if (data.data.msg.length > 0) {
                        data.data.msg.forEach((cData, i) => {
                            companyData.push({
                                id: cData.brand_user_id,
                                phone: cData.brand_company_phone,
                                name: cData.brand_company_name
                            })
                        })

                        this.checkCompanyDetail = companyData;
                    }
                })
            },
            handleClick(row) {
                this.$router.push('/app/checkProduct/' + row.id);
            },
            jumpCheckCompany(row) {
                getBrandUserMsg({
                    phone: row.phone
                }).then((data)=>{
                    if(data.data.code === 0){
                        let msg = data.data.msg[0];
                        if(msg.brand_company_state === 3){
                            this.$notify.info({
                                title: 'info',
                                message: '该公司已经审核通过'
                            });
                            this.getcList();
                        }else if(msg.brand_company_state === 4){
                            this.$notify.info({
                                title: 'info',
                                message: '该公司已经被驳回'
                            });
                            this.getcList();
                        }else{
                            this.$router.push('/app/checkCompany/' + row.id);
                        }
                    }
                });
                // this.$router.push('/app/checkCompany/' + row.id);
            }

        }
    }
</script>

<style scoped>
</style>
