<template>
    <div class="dashbord">
        <el-badge :value="pNum" class="item">
            <div class="dashbord-card" @click="onCheck('p')">
                <h3>产品审核</h3>
            </div>
        </el-badge>
        <el-badge :value="cNum" class="item">
            <div class="dashbord-card" style="margin-left: 20px;" @click="onCheck('c')">
                <h3>公司审核</h3>
            </div>
        </el-badge>
        <el-badge :value="mNum" class="item">
            <div class="dashbord-card" style="margin-left: 20px;" @click="onCheck('m')">
                <h3>财务审核</h3>
            </div>
        </el-badge>
        <el-badge :value="iNum" class="item">
            <div class="dashbord-card" style="margin-left: 20px;" @click="onCheck('i')">
                <h3>新增网红</h3>
            </div>
        </el-badge>
        <el-badge :value="oNum" class="item">
          <div class="dashbord-card" style="margin-left: 20px;" @click="onCheck('o')">
            <h3>POST审核</h3>
          </div>
        </el-badge>
        <el-row class="dashbord-nav" >
            <el-col :span="6">
                <div>
                    <el-select v-model="campaignId" placeholder="请选择" style="width:90%;">
                        <el-option v-for="item in compaignList" :label="item.label" :value="item.value" :key="item.value"></el-option>
                    </el-select>
                </div>
            </el-col>
            <el-col :span="6">
                <div>
                    <el-select v-model="valueDate" placeholder="请选择" @change="onChangeItem" style="width:90%;">
                        <el-option label="Last week" value="7" class="el-select-item"></el-option>
                        <el-option label="Last 2 weeks" value="14" class="el-select-item"></el-option>
                        <el-option label="Last 30 days" value="30" class="el-select-item"></el-option>
                        <el-option label="Last 60 days" value="60" class="el-select-item"></el-option>
                        <el-option label="Last 90 days" value="90" class="el-select-item"></el-option>
                    </el-select>
                </div>
            </el-col>
            <el-col :span="4" :offset="2">
                <div>Clicks</div>
            </el-col>
            <el-col :span="4">
                <div>Conversions</div>
            </el-col>
        </el-row>
        <div class="main"></div>
    </div>
</template>

<script>
    //   import NavMenu from './NavMenu';
    //   import Menus from './Menu';
    import {
        getCkHourly,
        getPbHourly,
        getCompaigns,
        getbrandList,
        getInfluencerWaleterList,
        getCompaignsList,
        getCompaignDetailsByIdData,
        getNewInfluNum
    } from '../../../apiRequest';
    import moment from 'moment';
    import echarts from 'echarts';
    export default {
        name: 'dashbord',
        components: {
            //   NavMenu,
            //   Menus
        },
        data() {
            return {
                msg: 'Welcome',
                campaignId: '',
                cNum: '',
                marginTop: (window.innerHeight -50-30-80-40-60-600)/2,
                pNum: '',
                mNum: '',
                iNum: '',
                oNum: '',
                valueDate: '',
                form: {
                    start: '',
                    end: ''
                },
                options: {},
                compaignList: [],
                xData: [],
                ckData: [],
                pbData: []
            }
        },
        created() {
            window.scrollTo(0,0);
            this.$parent.$emit('test', 'DASHBOARD');
            getNewInfluNum().then((data)=>{
                if (data.data.code === 0) {
                    this.iNum = data.data.msg.count;
                }
            });
            getCompaigns(1).then((data) => {
                if (data.data.code === 0) {
                    this.pNum = data.data.msg.length + '';
                }
            }).catch((res)=>{
                this.$notify({
                    message: res,
                    type: 'error'
                });
            });
            getbrandList({state: 2}).then((data) => {
                if (data.data.code === 0) {
                    this.cNum = data.data.msg.length + '';
                }
            }).catch((res)=>{
                this.$notify({
                    message: res,
                    type: 'error'
                });
            });
            getInfluencerWaleterList({state: 0}).then((data)=>{
                if(data.data.code === 0){
                    this.mNum = data.data.msg.length + '';
                }
            }).catch((res)=>{
                this.$notify({
                    message: res,
                    type: 'error'
                });
            });
            this.getCampaignList();
        },
        methods: {
            getData(start, end){
                getCompaignDetailsByIdData({
                    startdate: start,
                    enddate: end,
                    brand_campaign_id: this.campaignId
                }).then((data)=>{
                    if(data.data.code ===0){
                        let s = moment(start);
                        let xarr = [start];
                        while (true) {
                            let ss = s.add(1, 'days').format('YYYY-MM-DD');
                            xarr.push(ss);
                            if (ss === end) {
                                break;
                            }
                        }
                        this.xData = xarr;
                        let ckData = [];
                        let pbData = [];
                        xarr.forEach((_arr,index)=>{
                            if(data.data.msg.length>0){
                                data.data.msg.forEach((_msg, index)=> {
                                    if(_msg.brand_campaign_date === _arr){
                                        ckData.push(_msg.brand_campaign_click);
                                        pbData.push(_msg.brand_campaign_action);
                                    }
                                    ckData.push(0);
                                    pbData.push(0);
                                });
                            }
                        });
                        this.ckData = ckData;
                        this.pbData = pbData;
                        this.drawChart('.main',xarr, ckData, pbData);
                    }
                })
            },
            getCampaignList(){
                getCompaignsList().then((data)=>{
                    if(data.data.code === 0 && data.data.msg.length>0){
                        let arr = [];
                        data.data.msg.forEach((_msg,index)=>{
                            arr.push(
                                {
                                    label: _msg.operation_campaign_name,
                                    value: _msg.brand_campaign_id
                                }
                            );
                        })
                        this.compaignList = arr;
                    }
                }).catch((response) => {
                    this.$notify.error({
                        title: '错误',
                        message: response.toString()
                    });
                })
            },
            onCheck(t) {
                if (t === 'p') {
                    this.$router.push('/app/dashProductList');
                } else if (t === 'c') {
                    this.$router.push('/app/dashCompanyList');
                } else if( t === 'm' ){
                    this.$router.push('/app/checkFinance');
                } else if( t === 'i' ){
                    this.$router.push('/app/newInfluList');
                }else if(t === 'o'){
                    this.$router.push('/app/postReview');
                }
            },
            onChangeItem(value) {
                let end = new Date();
                let start = new Date();
                if (value * 1 === 7) {
                    // 近一周
                    start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                } else if (value * 1 === 14) {
                    // 近两周
                    start.setTime(start.getTime() - 3600 * 1000 * 24 * 14);
                } else if (value * 1 === 30) {
                    // 近一个月
                    start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                } else if (value * 1 === 60) {
                    // 近两个月
                    start.setTime(start.getTime() - 3600 * 1000 * 24 * 60);
                } else if (value * 1 === 90) {
                    // 近两个月
                    start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                }
                this.form.start = start;
                this.form.end = end;
                let s = moment(start).format('YYYY-MM-DD');
                let e = moment(end).format('YYYY-MM-DD');
                this.getData(s, e);
            },
            drawChart(id,x,ck,pb) {
                let options = {
                    color: ['#c1272d', '#aaa'],
                    backgroundColor: new echarts.graphic.RadialGradient(0.3, 0.3, 0.8, [{
                        offset: 0,
                        color: '#f5f7fa'
                    }, {
                        offset: 1,
                        color: '#f5f7fa'
                    }]),
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data: ['CK', 'PB'],
                        y: 15,
                        x: 20
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            dataView: {
                                show: true,
                                readOnly: false
                            },
                            magicType: {
                                show: true,
                                type: ['line', 'bar']
                            },
                            restore: {
                                show: true
                            },
                            saveAsImage: {
                                show: true
                            }
                        }
                    },
                    calculable: true,
                    xAxis: [{
                        type: 'category',
                        data: x
                    }],
                    yAxis: [{
                        type: 'value'
                    }],
                    series: [{
                        name: 'CK',
                        type: 'bar',
                        data: ck,
                        // markPoint: {
                        //     data: [{
                        //         type: 'max',
                        //         name: '最大值'
                        //     }, {
                        //         type: 'min',
                        //         name: '最小值'
                        //     }]
                        // },
                        // markLine: {
                        //     data: [{
                        //         type: 'average',
                        //         name: '平均值'
                        //     }]
                        // }
                    }, {
                        name: 'PB',
                        type: 'bar',
                        data: pb,
                        // markPoint: {
                        //     data: [{
                        //         name: '年最高',
                        //         value: 182.2,
                        //         xAxis: 7,
                        //         yAxis: 183
                        //     }, {
                        //         name: '年最低',
                        //         value: 2.3,
                        //         xAxis: 11,
                        //         yAxis: 3
                        //     }]
                        // },
                        // markLine: {
                        //     data: [{
                        //         type: 'average',
                        //         name: '平均值'
                        //     }]
                        // }
                    }]
                }
                this.chart = echarts.init(document.querySelector(id))
                this.chart.showLoading();
                this.chart.setOption(options);
                this.chart.hideLoading();
            }
        },
        mounted() {
            // this.myChart = echarts.init(document.querySelector('.main'));
            // this.myChart.setOption(this.options);
            // this.drawChart('.main');
        }
    }
</script>

<style scoped>
    .dashbord-card {
      border:solid 1px #20b9f5;
      display: inline-block;
      height: 34px;
      line-height: 34px;
      padding: 0px 10px;
      cursor: pointer;
      border-radius: 6px;
    }

    .dashbord-card>h3 {
      margin: 0;
      padding: 0;
      color: #000;
      font-size: 16px;
      font-weight: 500;
    }
    .dashbord-nav {
      height: 60px;
      line-height: 60px;
      margin-top: 20px;
    }
    .main {
        width: 100%;
        height: 400px;
        background: #f5f7fa;
        margin-top: 25px;
    }

</style>
