<template>
    <div class="upcoming" id="upComing">
        <!--<h3>产品审核</h3>-->
        <el-table
            :data="tableData1"
            style="width: 100%">
            <el-table-column
                prop="name"
                label="产品名称">
            </el-table-column>
            <el-table-column
                prop="type"
                label="产品类型">
            </el-table-column>
            <el-table-column
                prop="url"
                label="产品URL"
                width="400"
            >
                <template scope="scope">
                    <p v-if="scope.row.type==='app'">ios:{{scope.row.url.ios}}</p>
                    <p v-if="scope.row.type==='app'">andriod:{{scope.row.url.andriod}}</p>
                    <p v-if="scope.row.type==='app'">pc:{{scope.row.url.pc}}</p>
                    <p v-if="scope.row.type==='link'">{{scope.row.url.pc}}</p>
                </template>
            </el-table-column>
            <el-table-column prop="amount" label="预算($)" width="120"></el-table-column>
            <el-table-column label="操作">
                <template scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text" size="small">审核</el-button>
                    <!--<el-button type="text" size="small">编辑</el-button>-->
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>

<script>
    import {
        getCompaigns,
        getCompaignsState,
        setCompaignsState
    } from '../../../apiRequest';
    export default {
        name: 'upcoming',
        components: {},
        data() {
            return {
                msg: 'Welcome',
                tableData1: [],
            }
        },
        created() {
            window.scrollTo(0,0);
            this.$parent.$emit('test', '产品审核');
            this.getPlist();
        },
        methods: {
            getPlist(){
                getCompaigns(1).then((data) => {
                    let tData = [];
                    data.data.msg.forEach((_data, i) => {
                        tData.push({
                            id: _data.brand_campaign_id,
                            name: _data.brand_campaign_name,
                            type: _data.brand_campaign_type,
                            url: {
                                ios: _data.brand_campaign_ioslink,
                                andriod: _data.brand_campaign_androidlink,
                                pc: _data.brand_campaign_pclink
                            },
                            amount: _data.brand_campaign_amount / 1000
                        });
                    })
                    this.tableData1 = tData;
                }).catch((res) => {
                    this.$notify.error({
                        title: 'error',
                        message: res.toString()
                    });
                });
            },
            handleClick(row) {
                getCompaignsState({
                    brand_campaign_id: row.id
                }).then((data)=>{
                    if(data.data.code === 0 && data.data.msg.length>0){
                        if(data.data.msg[0].brand_campaign_state*1 === 1){
                            this.$router.push('/app/checkProduct/' + row.id);
                        }else{
                            this.$notify.warning({
                                title: 'warning',
                                message: '该产品已经被审核通过或者驳回'
                            });
                            this.getPlist();
                        }
                    }
                }).catch((res) => {
                    this.$notify.error({
                        title: 'error',
                        message: res.toString()
                    });
                });
            },
            jumpCheckCompany(row) {
                this.$router.push('/app/checkCompany/' + row.id);
            }

        }
    }
</script>

<style scoped>
</style>
