<template>
  <div class="influencer">
    <div class="view">
      <div class="campaigns-input-box">
        <el-select v-model="state1"  placeholder="Please Select"  class="min-width-input" @change="searchCam">
          <el-option
            v-for="item in camOptions"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          >
            <span style="float: left">{{ item.label }}</span>
            <span style="float: right;font-size: 13px"><i :class="item.review?'el-icon-check':'el-icon-close'"></i></span>
          </el-option>
        </el-select>
        <el-switch
          v-if="state1"
          v-model="camOptions[Index].review"
          @change="changeState"
          active-text="Reviewing"
          inactive-text="Reviewed"
         >
        </el-switch>
      </div>
      <el-card style="margin:20px 0">
        <el-table
          :data="dataCpa"
          border
          style="width: 100%;position:relative"
          v-if="type.cpa"
        >
          <el-table-column
            prop="date"
            label="Date"
          >
          </el-table-column>
          <el-table-column
            prop="campaign"
            label="Campaign"
          >
          </el-table-column>
          <el-table-column
            prop="cpa"
            label="CPA"
          >
          </el-table-column>
          <el-table-column
            prop="geo"
            label="Geo"
          >
          </el-table-column>
          <el-table-column
            prop="device"
            label="Device"
          >
          </el-table-column>
          <el-table-column
            prop="click"
            label="Click"
            width="90"
          >
          </el-table-column>
          <el-table-column
            prop="uclick"
            label="UClick"
            width="90"
          >
          </el-table-column>
          <el-table-column
            prop="conversion"
            label="Conversion"
            width="110">
            >
          </el-table-column>
          <el-table-column
            prop="revenue"
            label="Revenue"
          >
          </el-table-column>
          <el-table-column
            prop="dedu"
            label="Deduction"
            width="110"
          >
            <template scope="scope">
              <span class='scopespan' @click="handleEdit(scope.$index, scope.row)" v-if="scope.row.isShow">{{scope.row.dedu}}</span>
              <el-input
                size="small"
                v-if="!scope.row.isShow"
                v-model="scope.row.dedu"
                :value="scope.row.dedu"
                @blur="overEdit(scope.$index, scope.row)"
                @focus="edit(scope.$index, scope.row)"
               >
              </el-input>
            </template>
          </el-table-column>
          <el-table-column
            prop="amount"
            label="Amounts payable"
            width="160"
          >
          </el-table-column>
        </el-table>
        <el-table
          :data="dataCps"
          border
          style="width: 100%"
          v-if="type.cps"
        >
          <el-table-column
            prop="date"
            label="Date"
          >
          </el-table-column>
          <el-table-column
            prop="campaign"
            label="Campaign"
          >
          </el-table-column>
          <el-table-column
            prop="cps"
            label="CPS"
          >
          </el-table-column>
          <el-table-column
            prop="geo"
            label="Geo"
          >
          </el-table-column>
          <el-table-column
            prop="device"
            label="Device"
          >
          </el-table-column>
          <el-table-column
            prop="click"
            label="Click"
            width="90"
          >
          </el-table-column>
          <el-table-column
            prop="conversion"
            label="Conversion"
          >
          </el-table-column>
          <el-table-column
            prop="bill"
            label="Bill amount"
            >
            >
          </el-table-column>
          <el-table-column
            prop="revenue"
            label="Revenue"
          >
          </el-table-column>
          <el-table-column
            prop="dedu"
            label="Deduction"
          >
            <template scope="scope">
              <span class='scopespan' @click="handleEdit(scope.$index, scope.row)" v-if="scope.row.isShow">{{scope.row.dedu}}</span>
              <el-input
                size="small"
                v-if="!scope.row.isShow"
                v-model="scope.row.dedu"
                :value="scope.row.dedu"
                @blur="overEdit(scope.$index, scope.row)"
              >
              </el-input>
            </template>
          </el-table-column>
          <el-table-column
            prop="amount"
            label="Amounts payable"
            width="150"
          >
          </el-table-column>
        </el-table>
        <el-table
          :data="dataPack"
          style="width: 100%"
          v-if="type.pack"
        >
          <el-table-column
            prop="date"
            label="Date"
          >
          </el-table-column>
          <el-table-column
            prop="type"
            label="Type"
          >
          </el-table-column>
          <el-table-column
            prop="package"
            label="Package"
          >
          </el-table-column>
          <el-table-column
            prop="dedu"
            label="Deduction"
          >
            <template scope="scope">
              <span class='scopespan' @click="handleEdit(scope.$index, scope.row)" v-if="scope.row.isShow">{{scope.row.dedu}}</span>
              <el-input
                size="small"
                v-if="!scope.row.isShow"
                v-model="scope.row.dedu"
                :value="scope.row.dedu"
                @blur="overEdit(scope.$index, scope.row)"
              >
              </el-input>
            </template>
          </el-table-column>
          <el-table-column
            prop="amount"
            label="Amounts payable"
            style="min-width:150px;"
          >
          </el-table-column>
        </el-table>
      </el-card>
   </div>
  </div>
</template>

<script>
  import {
    getinflucp,
    getcpadetail,
    editbilldetail,
    gettotaldeduction,
    edittotaldeduct,
    getcpstotaldeduction,
    getcpsdetail,
    editcpsbilldetail,
    editcpstotaldeduct,
    getpackagedetail,
    getpackagetdeduc,
    editpackagededuc,
    getlmpacendcp,
    flagbillreport
  } from '../../../apiRequest';
  import baseurl from '../../../configUrl';
  export default {
    name: 'gardenscapes',
    data() {
      return{
          routeType:'',
          state1:'',
          value1:false,
          Index:0,
          dataCpa:[],
          dataCps:[],
          dataPack:[],
          type:{
              cpa:false,
              cps:false,
              pack:false
          },
          camOptions:[]
      }
    },
    created() {
      window.scrollTo(0,0);
      this.$parent.$emit('test', 'TypeDetails');
      this.refresh(this.$route.params.type);
      this.routeType=this.$route.params.type;
      this.getTakeCam();
    },
    methods: {
      refresh(t){
           if(t=='cpa'){
               this.type.cpa=true;
           }else if(t=='cps'){
               this.type.cps=true;
           } else if(t=='package'){
               this.type.pack=true;
           }
        },
//      详情
      handleEdit(index,row){
        if(this.$route.params.type=='cpa'){
          this.dataCpa.forEach((c,i)=>{
            c.isShow=true;
          })
          this.dataCpa[index].isShow=false;
        }else if(this.$route.params.type=='cps'){
          this.dataCps.forEach((c,i)=>{
            c.isShow=true;
          })
          this.dataCps[index].isShow=false;
        }else if(this.$route.params.type=='package'&&index==this.dataPack.length-1){
          this.dataPack[index].isShow=false;
        }
      },
//      修改结束
      overEdit(index,row){
          if(this.routeType=='cpa'){
            if(index==this.dataCpa.length-1){
              edittotaldeduct({
                mtime:this.$route.params.date,
                deduction:row.dedu*1000,
                assoc_id:this.state1
              }).then((data)=>{
                if(data.data.code===0){
                  this.$notify({
                    title: 'success',
                    message: data.data.msg,
                    type: 'success'
                  });
                }else{
                  this.$notify.error({
                    title: 'error',
                    message: data.data.msg
                  });
                }
              })
            }else{
              editbilldetail({
                daily_id:row.dailyid,
                deduction:row.dedu*1000,
                assoc_id:row.associd
              }).then((data)=>{
                if(data.data.code===0){
                  this.$notify({
                    title: 'success',
                    message: data.data.msg,
                    type: 'success'
                  });
                  this.searchTotal();
                }else{
                  this.$notify.error({
                    title: 'error',
                    message: data.data.msg
                  });
                }
              })
            }
            this.dataCpa[index].isShow=true;
          }else if(this.routeType=='cps'){
            if(index==this.dataCps.length-1){
              editcpstotaldeduct({
                mtime:this.$route.params.date,
                assoc_id:this.state1,
                deduction:row.dedu*1000
              }).then((data)=>{
                if(data.data.code===0){
                  this.$notify({
                    title: 'success',
                    message: data.data.msg,
                    type: 'success'
                  });
                }else{
                  this.$notify.error({
                    title: 'error',
                    message: data.data.msg
                  });
                }
              })
            }else{
              editcpsbilldetail({
                daily_id:row.dailyid,
                deduction:row.dedu*1000,
              }).then((data)=>{
                if(data.data.code===0){
                  this.$notify({
                    title: 'success',
                    message: data.data.msg,
                    type: 'success'
                  });
                  this.searchTotal();
                }else{
                  this.$notify.error({
                    title: 'error',
                    message: data.data.msg
                  });
                }
              })
            }
            this.dataCps[index].isShow=true;
          }else if(this.routeType=='package') {
            editpackagededuc({
              assoc_id: this.state1,
              deduction: row.dedu * 1000
            }).then((data) => {
              if (data.data.code === 0) {
                this.$notify({
                  title: 'success',
                  message: data.data.msg,
                  type: 'success'
                });
              } else {
                this.$notify.error({
                  title: 'error',
                  message: data.data.msg
                });
              }
            })
            this.dataPack[index].isShow=true;
          }
      },
//      获取产品列表
      getTakeCam(){
          if(this.routeType=='package'){
            getlmpacendcp({
              influ_id:this.$route.params.id,
              mtime:this.$route.params.date
            }).then((data)=>{
              if(data.data.code==0&&data.data.data){
                let msg=data.data.data;
                let arr=[];
                msg.forEach((c,i)=>{
                  arr.push({
                    value:c.influencer_campaign_assoc_id,
                    label:c.abname,
                    review:this.changeReview(c.review)
                  })
                })
                this.camOptions=arr;
                this.state1=this.camOptions[0].value;
              }
            })
          }else{
            getinflucp({
              influ_id:this.$route.params.id,
              mtime:this.$route.params.date,
              price_type:this.changeType(this.$route.params.type)
            }).then((data)=>{
              if(data.data.code==0&&data.data.data){
                let msg=data.data.data;
                let arr=[];
                msg.forEach((c,i)=>{
                  arr.push({
                    value:c.influencer_campaign_assoc_id,
                    label:c.abname,
                    review:this.changeReview(c.review)
                  })
                })
                this.camOptions=arr;
                this.state1=this.camOptions[0].value;
              }
            })
          }
      },
//      查询campaign
      searchCam(){
          this.camOptions.forEach((c,i)=>{
              if(c.value==this.state1){
                  this.Index=i;
              }
          })
          const loading = this.$loading({
            lock: true,
            text: 'Loading',
            spinner: 'el-icon-loading',
            background: 'rgba(0, 0, 0, 0.7)'
          });
          setTimeout(() => {
            loading.close();
            if(this.routeType=='cpa'){
              getcpadetail({
                influid:this.$route.params.id,
                stime:this.$route.params.date,
                assoc_id:this.state1
              }).then((data)=>{
                if(data.data.code==0&&data.data.data.length>0){
                  let msg=data.data.data;
                  let arr=[];
                  msg.forEach((c,i)=>{
                    arr.push({
                      date:c.billtime,
                      campaign:c.operation_campaign_name,
                      cpa:(c.prices/1000).toFixed(2),
                      click:c.clicks,
                      uclick:c.uclick,
                      geo:c.geo,
                      device:c.os,
                      conversion:c.conversion,
                      revenue:(c.revenue/1000).toFixed(2),
                      dedu:(c.deduction/1000).toFixed(2),
                      amount:(c.amounts_payable/1000).toFixed(2),
                      isShow:true,
                      dailyid:c.daily_id,
                      associd:c.assoc_id
                    })
                  })
                  this.dataCpa=arr;
                  const amount = arr.map(item => Number(item.amount));
                  const revenue = arr.map(item => Number(item.revenue));
                  const numamount = amount.reduce((prev,curr) =>{
                    return prev + curr;
                  })
                  const numrevenue = revenue.reduce((prev,curr) =>{
                    return prev + curr;
                  })
                  this.dataCpa.push({
                    date:'Total',
                    campaign:'',
                    cpa:'',
                    click:'',
                    uclick:'',
                    conversion:'',
                    revenue:numrevenue.toFixed(2),
                    dedu:0.00,
                    amount:numamount.toFixed(2),
                    isShow:true
                  })
                  this.searchTotal();
                }else{
                  this.dataCpa=[];
                }
              })
            }else if(this.routeType=='cps'){
              getcpsdetail({
                influid:this.$route.params.id,
                stime:this.$route.params.date,
                assoc_id:this.state1
              }).then((data)=>{
                if(data.data.code==0&&data.data.data.length>0){
                  let msg=data.data.data;
                  let arr=[];
                  msg.forEach((c,i)=>{
                    arr.push({
                      date:c.billtime,
                      campaign:c.operation_campaign_name,
                      click:c.clicks,
                      conversion:c.conversion,
                      revenue:(c.revenue/1000).toFixed(2),
                      dedu:(c.deduction/1000).toFixed(2),
                      amount:(c.amounts_payable/1000).toFixed(2),
                      cps:c.prices/1000+'%',
                      geo:c.geo,
                      device:c.os,
                      isShow:true,
                      bill:(c.bill_money/1000).toFixed(2),
                      dailyid:c.daily_id,
                      associd:c.assoc_id
                    })
                  })
                  this.dataCps=arr;
                  const amount = arr.map(item => Number(item.amount));
                  const revenue = arr.map(item => Number(item.revenue));
                  const numamount = amount.reduce((prev,curr) =>{
                    return prev + curr;
                  })
                  const numrevenue = revenue.reduce((prev,curr) =>{
                    return prev + curr;
                  })
                  this.dataCps.push({
                    date:'Total',
                    campaign:'',
                    cps:'',
                    click:'',
                    conversion:'',
                    revenue:numrevenue.toFixed(2),
                    dedu:0,
                    bill:'',
                    amount:numamount.toFixed(2),
                    isShow:true
                  })
                  this.searchTotal();
                }else{
                  this.dataCps=[];
                }
              })
            }else if(this.routeType=='package'){
              getpackagedetail({
                influid:this.$route.params.id,
                assoc_id:this.state1
              }).then((data)=>{
                if(data.data.code==0&&data.data.data.length>0){
                  let msg=data.data.data;
                  let arr=[];
                  msg.forEach((c,i)=>{
                    arr.push({
                      date:c.billtime,
                      type:'',
                      dedu:'-',
                      package:'',
//                    amount:c.amounts_payable/1000,
                      isShow:true,
                      dailyid:c.daily_id,
                      associd:c.assoc_id
                    })
                  })
                  this.dataPack=arr;
                  this.dataPack.push({
                    date:'Total',
                    type:'',
                    package:'',
                    dedu:0,
                    amount:0,
                    isShow:true
                  })
                  this.searchTotal();
                }else{
                  this.dataPack=[];
                }
              })
            }
          }, 2000);
      },
//      查询cpatotal
      searchTotal(){
          if(this.routeType=='cpa'){
            gettotaldeduction({
              mtime:this.$route.params.date,
              assoc_id:this.state1
            }).then((subdata)=>{
              if(subdata.data.code==0){
                this.dataCpa[this.dataCpa.length-1].dedu=subdata.data.data.length>0?(subdata.data.data[0].deduction/1000).toFixed(2):0.00;
                this.dataCpa[this.dataCpa.length-1].amount=this.dataCpa[this.dataCpa.length-1].revenue-this.dataCpa[this.dataCpa.length-1].dedu;
              }
            })
          }else if(this.routeType=='cps'){
            getcpstotaldeduction({
              mtime:this.$route.params.date,
              assoc_id:this.state1
            }).then((subdata)=>{
              if(subdata.data.code==0){
                this.dataCps[this.dataCps.length-1].dedu=subdata.data.data.length>0?(subdata.data.data[0].deduction/1000).toFixed(2):0.00;
                this.dataCps[this.dataCps.length-1].amount=this.dataCps[this.dataCps.length-1].revenue-this.dataCps[this.dataCps.length-1].dedu;
              }
            })
          }else if(this.routeType=='package'){
            getpackagetdeduc({
              assoc_id:this.state1
            }).then((subdata)=>{
              if(subdata.data.code==0){
                this.dataPack[this.dataPack.length-1].dedu=(subdata.data.data.deduction/1000).toFixed(2);
              }
            })
          }

      },
      changeType(type){
          switch(type.toLowerCase()){
            case 'cpc':return 0;break;
            case 'cpa':return 1;break;
            case 'package':return 2;break;
            case 'cpi':return 3;break;
            case 'cps':return 4;break;
            default:break;
          }
      },
//       查询开关状态
      changeReview(type){
          switch(type){
              case 0:return false;break;
              case 1:return true;break;
              default:break;
          }
      },
//      修改开关状态提示框
      changeState(status){
//          已审核
         if(status){
           this.$confirm("Are you sure to review "+this.$route.params.name+"'s "+this.$route.params.date+" billing data for "+this.camOptions[this.Index].label+"? After approval, the amount will be transferred to Queenie's account on 15th this month.", '', {
             confirmButtonText: 'Ok',
             cancelButtonText: 'Cancel',
             type: 'warning'
           }).then(() => {
             flagbillreport({
               assoc_id:this.state1,
               mtime:this.$route.params.date,
               flag:status==true?1:0,
               price_type:this.changeType(this.routeType)
             }).then((data)=>{
               if(data.data.code==0){
                 this.$notify({
                   type: 'success',
                   message: 'Success'
                 });
               }else{
                 this.$notify({
                   type: 'error',
                   message: 'Error'
                 });
               }
             })
           }).catch(() => {
             this.camOptions[this.Index].review=false;
             this.$message({
               type: 'info',
               message: 'Has been cancelled.'
             });
           });
         }else{
//           未审核
           this.$confirm("Are you sure to change the status of this bill to reviewing? The reviewing bills will not be paid on the 15th of this month.", '', {
             confirmButtonText: 'Ok',
             cancelButtonText: 'Cancel',
             type: 'warning'
           }).then(() => {
             flagbillreport({
               assoc_id:this.state1,
               mtime:this.$route.params.date,
               flag:status==true?1:0,
               price_type:this.changeType(this.routeType)
             }).then((data)=>{
               if(data.data.code==0){
                 this.$notify({
                   type: 'success',
                   message: 'Success'
                 });
               }else{
                 this.$notify({
                   type: 'error',
                   message: 'Error'
                 });
               }
             })
           }).catch(() => {
             this.camOptions[this.Index].review=true;
             this.$message({
               type: 'info',
               message: 'Has been cancelled.'
             });
           });
         }
      },
    }
  }
</script>
<style scoped>
  .campaigns-input-box{
    margin:20px 0;
    display: flex;
    justify-content: space-between;
  }
  .min-width-input{
    width:30%;
  }
  .min-button{
    background:#20b9f5;
    margin-left:10px;
  }
  .scopespan{
    width:100%;
    display:block;
    cursor:pointer;
  }
</style>
