<template>
  <div class="upcoming" id="upComing">
    <h2>待办列表</h2>
    <el-tabs type="border-card" v-model="activeName">
        <el-tab-pane label="产品审核" name="first">
            <el-table
                :data="tableData1"
                style="width: 100%">
                <el-table-column
                    prop="name"
                    label="产品名称" width="120">
                </el-table-column>
                <el-table-column
                    prop="type"
                    label="产品类型" width="120">
                </el-table-column>
                <el-table-column
                    prop="url"
                    label="产品URL">
                     <template scope="scope">
                        <p v-if="scope.row.type==='app'">ios:{{scope.row.url.ios}}</p>
                        <p v-if="scope.row.type==='app'">andriod:{{scope.row.url.andriod}}</p>
                        <p v-if="scope.row.type==='app'">pc:{{scope.row.url.pc}}</p>
                        <p v-if="scope.row.type==='link'">{{scope.row.url.pc}}</p>
                    </template>
</el-table-column>
<el-table-column prop="amount" label="预算($)" width="120">
</el-table-column>
<!--<el-table-column prop="cpi" label="CPI" width="120">
</el-table-column>-->
<el-table-column width="120" label="操作">
    <template scope="scope">
                        <el-button @click="handleClick(scope.row)" type="text" size="small">审核</el-button>
                        <!--<el-button type="text" size="small">编辑</el-button>-->
                    </template>
</el-table-column>
</el-table>
</el-tab-pane>
<el-tab-pane label="公司审核" name="second">
    <el-table :data="checkCompanyDetail" style="width: 100%">
        <el-table-column prop="phone" label="账号">
        </el-table-column>
        <el-table-column prop="name" label="公司名称">
        </el-table-column>
        <el-table-column width="160" label="操作">
            <template scope="scope">
                <el-button @click="jumpCheckCompany(scope.row)" type="text" size="small">审核</el-button>
            </template>
        </el-table-column>
    </el-table>
</el-tab-pane>
</el-tabs>
</div>
</template>

<script>
    //   import NavMenu from './NavMenu';
    //   import Menus from './Menu';
    import {
        getCompaigns,
        getbrandList
    } from '../../../apiRequest';
    export default {
        name: 'upcoming',
        components: {
            //   NavMenu,
            //   Menus
        },
        data() {
            return {
                msg: 'Welcome',
                activeName: 'first',
                checkCompanyDetail: [],
                tableData1: [],
                tableData2: [{
                    name: 'cc',
                    page: 'https://www.tapinfluence.com/pricing/'
                }, {
                    name: 'cc',
                    page: 'https://www.tapinfluence.com/pricing/'
                }],
                tableData3: [{
                    account: 'AllJoyFoods',
                    name: 'All Joy Foods Limited ',
                    balance: '1000',
                    number: '10'
                }, {
                    account: 'AllJoyFoods',
                    name: 'All Joy Foods Limited ',
                    balance: '1000',
                    number: '10'
                }]
            }
        },
        created() {
            window.scrollTo(0,0);
            this.$parent.$emit('test', '待办列表');
            getCompaigns(1).then((data) => {
                let tData = [];
                data.data.msg.forEach((_data, i) => {
                    tData.push({
                        id: _data.brand_campaign_id,
                        name: _data.brand_campaign_name,
                        type: _data.brand_campaign_type,
                        url: {
                            ios: _data.brand_campaign_ioslink,
                            andriod: _data.brand_campaign_androidlink,
                            pc: _data.brand_campaign_pclink
                        },
                        amount: _data.brand_budget_amount / 1000
                    });
                })
                this.tableData1 = tData;
            });
            getbrandList({
                state: 2
            }).then((data) => {
                let companyData = [];
                if (data.data.msg.length > 0) {
                    data.data.msg.forEach((cData, i) => {
                        companyData.push({
                            id: cData.brand_user_id,
                            phone: cData.brand_company_phone,
                            name: cData.brand_company_name
                        })
                    })

                    this.checkCompanyDetail = companyData;
                }
            })

        },
        methods: {
            handleClick(row) {
                this.$router.push('/app/checkProduct/' + row.id);
            },
            jumpCheckCompany(row) {
                this.$router.push('/app/checkCompany/' + row.id);
            }

        }
    }
</script>

<style scoped>
</style>
