html,body,div,p,ul,li,code,span,h1,h2,h3,h4,h5,h6{
  font-family: "微软雅黑";
}
html{
  --message-min-width: 1024px;
  min-width:1024px;
}
ul,li,ol,dl,dt,dd{
  list-style: none;
}
i{
  font-style:normal;
}
[class^="el-icon-my"], [class*=" el-icon-my"] {
  font-family:"your-font-family" !important;

  /* 以下内容参照第三方图标库本身的规则 */
  font-size: inherit;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*其他*/
.body-box {
  padding:20px;
  background-color: #f5f7f9;
}
.header_title,
.header_title2
 {
  height: 50px;
  background-color: #ceedf9;
  box-sizing: border-box;
  padding: 0 20px;
  font-weight: bold;
  line-height: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.header_title2 {
  margin-bottom: 10px;
  margin-top: 0fpx;
}
.el-pager li.active {
  border-color: #20b9f5;
  background-color: #20b9f5;
  color: #fff;
  cursor: default;
}
.el-pager li{
  padding: 0 4px;
  margin-right:2px;
  background: #ceedf9;
  font-size: 13px;
  min-width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
}
/*表单部分*/
.el-form-item.is-required .el-form-item__label:after {
    content: '*'!important;
    color: #ff4949!important;
    margin-right: 0px!important;
}
.el-form-item.is-required .el-form-item__label:before {
    content: none;
    color: #ff4949;
    margin-right: 0px;
}
.el-form-item.is-required .el-form-item__label:after {
    content: '*'!important;
    color: #ff4949!important;
    margin-right: 0px!important;
}
.el-form-item.is-required .el-form-item__label:before {
    content: none;
    color: #ff4949;
    margin-right: 0px;
}
.el-input-group__append,
.el-input-group__prepend {
    background-color: #eee;
    color: #333;
    font-size: 13px;
}
.el-form-item__label {
    font-size: 13px;
}

.el-checkbox__label {
    font-size: 13px;
}

.el-upload-dragger {
    background-color: #f5f7fa;
}

.el-icon-plus:before {
    color: #c1272d;
}

.el-icon-date:before {
    color: #c1272d;
}

.el-popover {
    color: #c1272d;
}

.el-tabs__item.is-active {
    color: #c1272d;
}

.el-tabs__active-bar {
    background-color: #c1272d;
}
.el-tabs__header {
  border:none;
  padding: 0;
  position: relative;
   margin: 0;
}
.el-button--primary {
    color: #fff;
    background-color: #20b9f5 ;
    border-color: #20b9f5
}
.el-button{
  font-weight:bold;
}
.el-button--primary:focus{
  background: #20b9f5;
  border-color: #20b9f5;
  color: #fff
}
.el-button--primary:hover {
    background: #ceedf9;
    border-color: #ceedf9;
    color: #fff
}
.el-button--primary.is-active,
.el-button--primary:active {
    background: #ceedf9;
    border-color: #ceedf9;
    color: #fff
}
.el-button--primary:active {
    outline: 0
}
.el-button--primary.is-plain {
    background: #fff;
    border: 1px solid #bfcbd9;
    color: #1f2d3d
}
.el-button--primary.is-plain:focus,
.el-button--primary.is-plain:hover {
    background: #fff;
    border-color: #ff6c72;
    color: #ff6c72
}

.el-button--primary.is-plain:active {
    background: #fff;
    border-color: #ff6c72;
    color: #ff6c72;
    outline: 0
}

.el-button--text {
    color: #c1272d;

}

.el-button--text:hover {
    color: #ff6c72;
}

.el-pagination__sizes .el-input .el-input__inner {
    font-size: 13px;
    border-color: #d1dbe5
}
.subinput input{
  padding-left:40px !important;
}
.el-pagination__sizes .el-input .el-input__inner:hover {
    border-color: #c1272d
}

.el-pagination__sizes .el-input .el-input__inner {
    font-size: 13px;
    border-color: #d1dbe5
}

.el-pagination__sizes .el-input .el-input__inner:hover {
    border-color: #c1272d
}

.el-input__inner {
    text-align:left;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-radius: 0;
    border: 1px solid #bfcbd9;
    box-sizing: border-box;
    color: #1f2d3d;
    display: block;
    font-size: inherit;
    height: 36px;
    line-height: 1;
    outline: 0;
    padding: 3px 10px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 100%
}

.el-input__inner::-webkit-input-placeholder {
    color: #97a8be
}

.el-input__inner::-moz-placeholder {
    color: #97a8be
}

.el-input__inner:-ms-input-placeholder {
    color: #97a8be
}

.el-input__inner::placeholder {
    color: #97a8be
}

.el-input__inner:hover {
    border-color: #20a0ff
}

.el-input__inner:focus {
    outline: 0;
    border-color: #20a0ff
}

.el-textarea__inner {
    display: block;
    resize: vertical;
    padding: 5px 7px;
    line-height: 1.5;
    color: #1f2d3d;
    background-color: #fff;
    background-image: none;
    border: 1px solid #bfcbd9;
    border-radius: 4px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1)
}

.el-textarea__inner::-webkit-input-placeholder {
    color: #97a8be
}

.el-textarea__inner::-moz-placeholder {
    color: #97a8be
}

.el-textarea__inner:-ms-input-placeholder {
    color: #97a8be
}

.el-textarea__inner::placeholder {
    color: #97a8be
}

.el-textarea__inner:hover {
    border-color: #20b9f5
}

.el-textarea__inner:focus {
    outline: 0;
    border-color: #20b9f5
}

.el-checkbox__inner:hover {
    border-color: #20b9f5
}

.el-radio__input.is-focus .el-radio__inner {
    border-color: #20b9f5
}

.el-radio__input.is-checked .el-radio__inner {
    border-color: #20b9f5;
    background: #20b9f5
}

.el-checkbox__input.is-focus .el-checkbox__inner {
    border-color: #20b9f5
}

.el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: #20b9f5;
    border-color: #20b9f5
}
/*选择框*/
.el-select .el-input .el-input__icon {
  color: #20b9f5;
}
.el-select{
  border: 1px solid #bfcbd9;
}
.el-select-dropdown__item.selected {
    color: #fff;
}
.el-select:hover .el-input__inner{
  border-color:#20b9f5;
}
.el-select .el-input__inner:focus {
  border-color: #20b9f5
}
.el-select .el-input__inner{
  border-color:#eee;
  cursor: pointer
}
.createpost .el-select{
  display: block;
}
/*菜单*/
.el-menu{
  border-radius: 2px;
  list-style: none;
  position: relative;
  margin: 0;
  padding-left: 0;
  background-color: #fff;
}
.el-menu--horizontal .el-menu-item:hover, .el-menu--horizontal .el-submenu__title:hover{
  background:#fff;
  border:none;
}
.el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item.is-active,
.el-menu-item.is-active {
  color: #c1272d;
  background-color: #ceedf9;
}
.el-submenu .el-menu {
  background: #f5f7fa;
}
.el-menu-item,
.el-submenu__title {
  height: 56px;
  line-height: 56px;
  font-size: 14px;
  color: #48576a;
  padding: 0 0px;
  cursor: pointer;
  position: relative;
  transition: border-color .3s, background-color .3s, color .3s;
  box-sizing: border-box;
  white-space: nowrap;
}
#menu-list .el-menu-item:hover{
  background:#ceedf9
}
#menu-list .el-menu-item{
  background:#fff
}
.el-badge__content {
  width:27px;
  background-color: #20b9f5;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  padding:0;
  text-align: center;
  border: 1px solid #fff;
}
.el-menu--horizontal .el-menu-item{
  float: left;
  height: 60px;
  line-height: 80px;
  margin: 0;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  border:none;
}
.el-menu--horizontal .el-submenu .el-submenu__title:hover {
  border-bottom-color: #20b9f5;
}
/*表格部分*/
.el-table {
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  border:none;
  font-size: 14px;
  color: #1f2d3d;
}
.el-table td, .el-table th.is-leaf {
  border:none;
}
.el-table th {
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}
.el-card {
  border:none;
  background-color: #fff;
  overflow: hidden;
  box-shadow: none;
}
.el-card__body{
   padding:0;
   border:none;
 }
.el-tabs__item {
  padding: 5px 16px;
  height: 42px;
  box-sizing: border-box;
  line-height: 29px;
  display: inline-block;
  list-style: none;
  font-size: 16px;
  color: #333;
  position: relative;
  font-family: 'Helvetica-Bold';
}
.el-tabs__item.is-active {
  font-weight: bold;
}
.el-table tr:nth-child(odd) {
  background: #fff;
}
.el-table tr:nth-child(even) {
  background: #ceedf9;
}
thead th .cell {
  background: #ceedf9 !important;
}
.el-table th {
  background: #ceedf9;
}
.el-table__body-wrapper{
  color:#000;
  font-family:微软雅黑;
}
.el-table__footer-wrapper thead div, .el-table__header-wrapper thead div {
  background-color: #eef1f6;
  color:#000;
}
.el-table__header-wrapper{
  width: 100%;
  height: 50px;
  line-height: 50px;
}
.el-table .cell {
  text-overflow: ellipsis;
  text-align: center !important;
  white-space: nowrap;
  word-break: break-all;
  height: 24px;
  line-height: 24px;
}
.el-table .cell i{ cursor: pointer}
.el-table .el-table__row:hover, .el-table .el-table__row:hover span{
  color: #fff;
}
.el-table .el-table__row:hover{
  background: #20b9f5;
}
.fontColorTable .el-table__row:hover span{
  color:#000;
}
.el-form-item__label {
  text-align: left;
  vertical-align: middle;
  float: left;
  font-size: 14px;
  color: #48576a;
  line-height: 1;
  padding: 11px 12px 11px 0;
  box-sizing: border-box;
}
.el-table--enable-row-hover .el-table__body tr:hover>td {
  background-color: #49ace9;
  background-clip: padding-box;
}
.el-table--border td, .el-table--border th {
   border:none;
}
.el-table--border th, .el-table__fixed-right-patch {
   border:none;
}
.el-table::after, .el-table::before{
  width:0;
  height:0;
}
/*下拉菜单*/
.el-menu-item-group__title {
  padding-top: 0px;
  line-height: normal;
  font-size: 14px;
  color: #97a8be;
}
.el-submenu__title{
  font-weight: bold;;
}
.el-submenu .el-menu-item:hover, .el-submenu__title:hover {
  background-color: #ceedf9;
}
.el-collapse-item__header {
  height: 50px;
  line-height: 43px;
  padding-left: 15px;
  color: #48576a;
  cursor: pointer;
  font-size: 14px;
  border:none;
  font-weight:bold;
  margin-bottom:10px;
}
.el-collapse-item__wrap {
  background-color: #f5f7f9;
}

.el-collapse-item__header__arrow {
  color: #20b9f5;
  margin-right: 8px;
  transition: transform .3s;
}
.el-collapse {
  border:none;
  border-radius: 0;
}
/*icon图标*/
.el-icon-date:before {
  color: #20b9f5;
}
.el-icon-plus:before {
  color: #20b9f5;
}
/*弹出框*/
.el-dialog__title {
  line-height: 1;
  font-size: 18px;
  font-weight: normal;
  padding-right: 20px;
  color: #20b9f5;
}
.el-dialog__body {
  display: flex;
  padding: 30px 20px 30px 140px;
  color: #48576a;
  font-size: 14px;
  justify-content: left;
}
.el-dialog__header {
  position: relative;
  padding:40px 140px 0;
  text-align: left;
}
.el-dialog__headerbtn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: 0 0;
  border: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
}
.el-dialog--small .el-dialog__footer{
  margin: 0 50px 50px 0;
  float: right;
  display: inline-block;
  padding: 10px 20px 15px;
  text-align: right;
  box-sizing: border-box;
}
.el-dialog--large .el-dialog__footer {
  margin: 0 120px 50px 0;
  float: right;
  display: inline-block;
  padding: 10px 20px 15px;
  text-align: right;
  box-sizing: border-box;
}
.el-form{
  min-width:450px;
}
.view .el-form-item{
  margin-bottom:0;
}
.campaings .el-form-item{
  margin-bottom:20px;
}
.createpost .el-form-item__label{
  height:35px;
}
.el-input-group__append, .el-input-group__prepend {
  background-color: #ceedf9;
  color: #333;
  font-size: 13px;
}
.view .el-tabs__item{
  padding: 0px 20px;
  height: 34px;
  box-sizing: border-box;
  line-height: 34px;
  display: inline-block;
  list-style: none;
  font-size: 16px;
  color:#000;
  position: relative;
  border: solid 1px #20b9f5;
  border-radius: 6px;
  margin-right: 20px;
}
.view .el-tabs__item.is-active {
  background:#20b9f5;
  font-weight:normal;
  color:#fff;
}
.view .el-tabs__active-bar {
  display:none;
}
.campaings .el-tabs__header{
  margin-bottom:20px;
}
.influencer .el-dialog__header {
  position: relative;
  padding: 40px 30px 0;
  text-align: left;
}
.influencer .el-dialog__body {
  display: flex;
  padding: 30px 20px 30px 30px;
  color: #48576a;
  font-size: 14px;
  justify-content: left;
}
.campaings .el-dialog__body{
  padding: 30px 50px 30px 50px;
}
.el-table__expand-icon{
  position: relative;
  cursor: pointer;
  color: #666;
  font-size: 12px;
  transition: transform .2s ease-in-out;
  height: 24px;
  line-height:24px;
}
.el-table__expanded-cell {
  padding: 20px 50px;
  background-color: #f5f7f9 !important;
  box-shadow: none;
}
.demo-table-expand .el-form-item__content{
  width:70%;
}
.el-table .cell, .el-table th>div{
  padding-right:8px;
  padding-left:8px;
}
.over .el-submenu__icon-arrow{
  display:none;
}
.campaigns .el-dialog{
  min-width:700px;
}
